<ul id="tt" class="tree_menu">
    <li>
        <span>菜单</span>
        <ul>
            <#list menux.menu as parent>
            
            <#assign role="false"/>
    
		    <#if (parent.roles?size = 0)>
		    	<#assign role="false"/>
		    <#else>
		    	<#list parent.roles as role>
		    		<#if (session_role_type = role)>
		    			<#assign role="true"/>
		    		</#if>
		    	</#list>
		    </#if>
		    
		    <#if (role = "true")>
    
    
            <li>
                <span>${parent.title?default('')}</span>
                
                <#if (parent.menuItems?? && parent.menuItems?size > 0 )>
                
                <ul>
                	<#list parent.menuItems as MenuItem>
            			<#assign subrole="false"/>	    
					    <#if (MenuItem.roles?size = 0)>
					    	<#assign subrole="false"/>
					    <#else>
					    	<#list MenuItem.roles as role>
					    		<#if (session_role_type = role)>
					    			<#assign subrole="true"/>
					    		</#if>
					    	</#list>
					    </#if>
					    
					    <#if (subrole = "true")>
            			<li>
	                        <span><a href="javascript:;" onclick="addTab('${MenuItem.title?default('')}','${MenuItem.url}')">${MenuItem.title?default('')}</a></span>
	                    </li>
	                    </#if>
	                    
            		</#list>
                </ul>
                
                </#if>
                
            </li>
            
            
            </#if>
            
            </#list>
            
			
        </ul>
    </li>
    
   
</ul>

<script type="text/javascript">
$(function(){
	//var tt = $('#tt').tree({"state":"closed"});
	$('.tree_menu').tree();

});

function addTab(title, url){
	if ($('#web_main').tabs('exists', title)){
		$('#web_main').tabs('select', title);
	} else {
		var mHeight = $('#web_main').children(".tabs-panels").height();
		var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:'+mHeight+'px;"></iframe>';
		$('#web_main').tabs('add',{
			title:title,
			content:content,
			closable:true
		});
	}
}

</script>
