<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" type="text/css" href="/ehais/js/appframework/build/af.ui.css" />
<link rel="stylesheet" type="text/css" href="/ehais/js/appframework/build/icons.min.css" />
<link rel="stylesheet" type="text/css" href="/ehais/css/jqmobi.css" />

<script type="text/javascript" charset="utf-8" src="/ehais/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ehais/js/jsobject.js"></script>
