<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/ehais/js/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/ehais/js/easyui/themes/icon.css" />
<link rel="stylesheet" href="/ehais/css/matrix/bootstrap.min.css" />
<link rel="stylesheet" href="/ehais/css/matrix/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/ehais/css/matrix/fullcalendar.css" />
<link rel="stylesheet" href="/ehais/css/matrix/matrix-style.css" />
<link rel="stylesheet" href="/ehais/css/matrix/matrix-media.css" />
<link rel="stylesheet" href="/ehais/css/matrix/uniform.css" />
<link rel="stylesheet" href="/ehais/css/matrix/select2.css" />
<link href="/ehais/font_awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/ehais/css/matrix/jquery.gritter.css" />
<link href='/ehais/css/matrix/fonts.googleapis.com.css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link href="/ehais/js/jqueryui/jquery-ui.min.css" rel="stylesheet">

 
<script src="/ehais/js/matrix/excanvas.min.js"></script> 
<script src="/ehais/js/jquery/jquery-2.1.4.min.js"></script>
<script src="/ehais/js/matrix/bootstrap.min.js"></script> 
<script src="/ehais/js/matrix/jquery.flot.min.js"></script> 
<script src="/ehais/js/matrix/jquery.flot.resize.min.js"></script> 
<script src="/ehais/js/matrix/jquery.peity.min.js"></script> 
<script src="/ehais/js/matrix/fullcalendar.min.js"></script> 
<script src="/ehais/js/matrix/jquery.gritter.min.js"></script> 
<script src="/ehais/js/matrix/jquery.validate.js"></script> 
<script src="/ehais/js/matrix/matrix.form_validation.js"></script> 
<script src="/ehais/js/matrix/jquery.uniform.js"></script> 
<script src="/ehais/js/matrix/select2.min.js"></script> 
<script src="/ehais/js/matrix/matrix.popover.js"></script> 
<script src="/ehais/js/matrix/matrix.js"></script> 

<link rel="stylesheet" href="/ehais/css/admin/BootStrap_Form_Css.css" />

<script src="/ehais/js/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/ehais/js/Plugins/daterangepicker/moment.js"></script>
<script type="text/javascript" src="/ehais/js/Plugins/daterangepicker/daterangepicker.js"></script>
<script src="/ehais/js/jsobject.js"></script> 
<script src="/ehais/js/common.js"></script> 

<script src="/ehais/js/admin/menu.js"></script> 


<script type="text/javascript" src="/ehais/js/easyui/jquery.easyui.min.js" ></script>

<style type="text/css">
body.main{background:#eeeeee;}
.layout-panel-north .panel-body{background:#1f262d; }
.panel-body{background: #2e363f;}

.panel-header, .panel-body {border-color: #2e363f;}
#sidebar .menu{background: #2e363f;border-left-color: #2e363f; border-right-color: #2e363f;}
.layout-panel-west .layout-body {overflow-y:visible;overflow-x:visible ;}
.layout-panel-center .panel-body{background: #eeeeee;}
#content{margin-left: 0;}
#content-header{margin-top: 5px;}
#breadcrumb{background: none;}
body.main hr{margin: 5px;}
.widget-box{margin-top: 5px;}
.container-fluid .row-fluid:first-child{margin-top: 0px;}
</style>
