<!-- 
< link rel="stylesheet" href="/css/page.css" /> 
< # include "/include/pager.html" >
-->
<#-- 分页（Pager对象、链接URL、参数Map、最大页码显示数） -->
<#macro pager ReturnObject maxShowPageCount = 10>
	<#local currentPage = ReturnObject.currentPage />
	<#local pageSize = ReturnObject.pageSize />
	<#local total = ReturnObject.total />
	<#local pageCount = ReturnObject.pageCount />
	<#local parameter = "" />

	<#local parameter = parameter + "&rows=" + pageSize  />
	<#if ReturnObject.parameterMap??>
	<#list ReturnObject.parameterMap?keys as key>
		<#if ReturnObject.parameterMap[key]?? >
			<#local parameter = parameter + "&" + key + "=" + ReturnObject.parameterMap[key] />
		</#if>
	</#list>
	</#if>
	<#if ReturnObject?contains("?")>
		<#local baseUrl = ReturnObject.action + "&" />
	<#else>
		<#local baseUrl = ReturnObject.action + "?" />
	</#if>
	<#local firstPageUrl = baseUrl + "page=1" + parameter />
	<#local lastPageUrl = baseUrl + "page=" + pageCount + parameter />
	<#local prePageUrl = baseUrl + "page=" + (currentPage - 1) + parameter />
	<#local nextPageUrl = baseUrl + "page=" + (currentPage + 1) + parameter />

	<#if maxShowPageCount <= 0>
		<#local maxShowPageCount = 10>
	</#if>
	
	<#local segment = ((currentPage - 1) / maxShowPageCount)?int + 1 />
	<#local segmentCount = ((pageCount - 1) / maxShowPageCount)?int + 1 />
	<#local startPageNumber = (segment - 1) * maxShowPageCount + 1 />
	<#local endPageNumber = segment * maxShowPageCount />
	<#if (startPageNumber < 1)>
		<#local startPageNumber = 1 />
	</#if>
	<#if (endPageNumber > pageCount)>
		<#local endPageNumber = pageCount />
	</#if>
	
	<div class="page">
		<#if (total > 0) >
		<ul class="pagination fr">
        	<#if (currentPage > 1)>
				<li class="p_first">
					<a class="txt" href="${firstPageUrl}">首页</a>
				</li>
			<#else>
				<li class="p_first">
					<a class="txt">首页</a>
				</li>
			</#if>
			<#if (currentPage > 1)>
				<li class="p_previous">
					<a class="txt" href="${prePageUrl}">上一页</a>
				</li>
			<#else>
				<li class="p_previous">
					<a class="txt">上一页</a>
				</li>
			</#if>
			<#if (segment > 1)><li class="p_more"><a href="${baseUrl + "page=" + ((segment - 1) * maxShowPageCount) + parameter}">...</a></li></#if>
			<#list startPageNumber .. endPageNumber as index>
				<#if currentPage != index>
					<li class="p_href"> 
						<a href="${baseUrl + "page=" + index + parameter}">${index}</a>
					</li>
				<#else>
					<li class="currentPage active">
						 <a class="active" href="javascript:;">${index}</a>
					</li>
				</#if>
			</#list>
			<#if (segment < segmentCount)><li class="p_more"><a href="${baseUrl + "page=" + ((segment * maxShowPageCount) + 1 ) + parameter}">...</a></li></#if>
			<#if (currentPage < pageCount)>  
                <li class="p_next">  
                    <a class="txt" href="${nextPageUrl}">下一页</a>  
                </li>  
	        <#else>  
	                <li class="p_next">  
	                    <a class="txt">下一页</a> 
	                </li>  
	        </#if>
			<#-- 末页 -->
			<#if (currentPage < pageCount)>
				<li class="p_last">
					<a class="txt" href="${lastPageUrl}">末页</a>
				</li>
			<#else>
				<li class="p_last">
					<a class="txt">末页</a>
				</li>
			</#if>
			
			
           <!--  <li>到第<span class="page_input"><input type="text"></span>页</li> -->
            <li class="p_label"><a href="javascript:;">第${currentPage} / ${pageCount} 页  &nbsp; 每页显示${pageSize}条记录 &nbsp; 共${total}条记录</a></li>
            <!-- <li><a class="active txt" href="javascript:;">确定</a></li> -->
            
	        
	     </ul>
	     </#if>
    </div>
</#macro>