<div class="region_main">
 	<div class="region_bg"></div>
 	<div class="region_container">
	  	<div class="region_contet">
		   	<div class="region_element">
		    	<div class="region_nav">
		    		<i class="fl region_close">关闭</i>
		    		<i class="fr region_sure">确定</i>
		    	</div>
		    	<div class="region_value">
		
		    	</div>
		    	<div class="region_content">
		    		<div id="region_country" class="cur"><ul class="list"><li>中国</li></ul><i>国家</i><div id="region_cur_country" class="curval"></div></div>
					<div id="region_province" class="dn"><ul class="list"></ul><i>省份</i><div id="region_cur_province" class="curval"></div></div>
					<div id="region_city" class="dn"><ul class="list"></ul><i>城市</i><div id="region_cur_city" class="curval"></div></div>
					<div id="region_county" class="dn"><ul class="list"></ul><i>乡镇</i><div id="region_cur_county" class="curval"></div></div>
					<div id="region_district" class="dn"><ul class="list"></ul><i>区域</i><div id="region_cur_district" class="curval"></div></div>
					<div id="region_street" class="dn"><ul class="list"></ul><i>街道</i><div id="region_cur_street" class="curval"></div></div>
		    	</div>
		   	</div>
	  	</div>
 	</div>
 </div>