<!DOCTYPE html>
<html>
<head>
<#include "/include/Jqmobi_Include.html">
<title>H5易网</title>
<link rel="stylesheet" type="text/css" href="/css/weixin/h5.css" />
</head>

<body class="jqmobi">
<div class="view " id="mainview">
	<header>
	   	<h1>易网主页</h1>
	</header>
	<div class="pages">
		<div class="panel active page_msg" id="main" data-title="易网主页" data-selected="true">
			<ul>
				<li id="ad"><img src="/Uploads/images/0.jpg" width="100%" ></li>
				<li id="nav">
				
					<div class="tab_hd_inner">
			
						<div class="item active" data-index="0" type="index">制作</div>
						
						<div class="item " data-index="1" type="index">模板</div>
						
						<div class="item " data-index="2" type="index">案例</div>
						
						<div class="item " data-index="3" type="index">秀客</div>
						
						<div class="item " data-index="4" type="index">服务</div>
						
					</div>
					
				</li>
				
				<li class="list_item">
					<div class="cover">
						<img alt="" src="/Uploads/images/1.jpg" class="img js_img">
					</div>
					
					<div class="cont">
						<h2 class="title js_title">一键生成H5</h2>
						<p class="desc">制作H5从未如此简单</p>
					</div>
					
				</li>
				
			</ul>
		</div>
	</div>
</div>

</body>
</html>