<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		
		<script type="text/javascript" src="/js/jquery-2.1.4.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>
		<script type="text/javascript" src="/js/media/vod.js" ></script>
		
	</head>
	<body>
		
		<div class="main">
			
			<#include "header.html">
			
			<div class="ad">
				<div class="adwrap">
					<ul>
						<li><img src="img/1366/banner.png" /></li>
					</ul>
				</div>
				<!-- 
				<div class="nav">
					<ul>
						<li class="active">
							<div>歌舞青春</div>
							<div>挥洒斗志，成就梦想</div>
						</li>
						<li class="">
							<div>学思践悟十九大：畅想2050</div>
							<div></div>
						</li>
						<li class="">
							<div>共筑中国梦：共筑中国梦</div>
							<div></div>
						</li>
						<li class="">
							<div>公仆之路：公仆之路</div>
							<div></div>
						</li>
						<li class="">
							<div>走进科学：蒙丽莎的真相</div>
							<div></div>
						</li>
						<li class="">
							<div>校内原创视频：视频</div>
							<div></div>
						</li>
						<li class="">
							<div>宣传片：炫风车手进校园</div>
							<div></div>
						</li>
					</ul>
				</div>
				 -->
				 
			</div>
			<div class="recommend">
				<div class="rec">
					<#if (listArticleIndex?? && listArticleIndex?size > 0)>
					<#list listArticleIndex as a>
					<#if a_index == 0>
					<div>
						<img src="${a.articleThumb!''}" />
						<div>${a.articleLabel!''}</div>
					</div>					
					<div>${a.title!''}</div>
					</#if>
					</#list>
					</#if>
				</div>
				<div class="item">
					<ul>
						<#if (listArticleIndex?? && listArticleIndex?size > 0)>
						<#list listArticleIndex as a>
						<#if (a_index > 0) >
						<li class="play" val="${a.articleId}">
							<div>
								<img src="${a.articleThumb!''}" />
								<div>${a.articleLabel!''}</div>
								<img src="img/1360/play.png" />
							</div>
							<div>${a.title!''}</div>
							
						</li>
						</#if>
						</#list>
						</#if>
					
					</ul>
				</div>
			</div>
			<div class="live">
				
				<#if (listArticleCat?? && listArticleCat?size > 0)>
				<#list listArticleCat as c>
				
				<div class="module <#if (c_index < listArticleCat?size - 1)><#if (c_index % 2 == 0)>l<#else>r</#if><#else>al l</#if>">
					<div class="title">
						<img class="icon" src="${c.images!''}"/>
						<h3>${c.catName}</h3>
						<div class="more"><a href="list_${c.catId}.lv">更多&gt;&gt;</a></div>
					</div>
					<ul>
						<#if mapArticle?? && (mapArticle?size > 0) >
						<#list mapArticle?keys as key>
						<#if ( key = c.catId?string('0') ) >
						<#assign item = mapArticle[key]>
						<#list item as a >
						<li class="play" val="${a.articleId}">
							<div>
								<img src="${a.articleThumb!''}" />
								<div>${a.articleLabel!''}</div>
								<img src="img/1360/play.png" />
							</div>
							<div>${a.title!''}</div>
						</li>
						</#list>
						</#if>
						</#list>
						</#if>
					</ul>
				</div>
				
				</#list>
				</#if>
				
				
			</div>
			<#include "footer.html">
		
		</div>
		
	</body>
</html>
