<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${company}</title>
		
		
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>
		<script type="text/javascript" src="/js/media/vod.js" ></script>
		
		<link rel="stylesheet" href="/js/slideBox/css/jquery.slideBox.css" />
		<script type="text/javascript" src="/js/slideBox/js/jquery.slideBox.min.js" ></script>
		
		<link rel="stylesheet" href="css/pclive.css" />
		
		
		<script type="text/javascript">
		$(function(){
			$('#slide').slideBox({
				direction : 'left',//left,top#方向
				duration : 0.3,//滚动持续时间，单位：秒
				easing : 'linear',//swing,linear//滚动特效
				delay : 5,//滚动延迟时间，单位：秒
				hideClickBar : true,//不自动隐藏点选按键
				clickBarRadius : 10,
				hideBottomBar : false//隐藏底栏
			});
		});
		</script>
		
		
	</head>
	<body>
		
		<div class="main">
			
			<#include "header.html">
			
			<div class="ad">
				<div id="slide" class="slideBox">
					<ul class="items">
						<#if (adList?? && adList?size > 0)>
							
							<#list adList as ad>
							<li><a href="javascript:;" title="${ad.adName!''}"><img src="${video_url_website}${ad.adPic!''}"></a></li>
							</#list>
						
							<#if (adList?? && adList?size == 1)>
								<#list adList as ad>
								<li><a href="javascript:;" title="${ad.adName!''}"><img src="${video_url_website}${ad.adPic!''}"></a></li>
								</#list>
							</#if>
							
							
						<#else>
						<li><img src="img/1366/banner.png" /></li>
						</#if>
						
					</ul>
				</div>
				
				 
			</div>
			<div class="recommend">
				
					<#if (listArticleIndex?? && listArticleIndex?size > 0)>
					<#list listArticleIndex as a>
						<#if a_index == 0>
							<div class="rec play" val="${a.articleId}">
								<div class="limg">
									<img src="${video_url_website}${a.articleThumb!''}" />
									<div>${a.articleLabel!''}</div>
								</div>					
								<div class="ltitle">${a.title!''}</div>
							</div>
						</#if>
					</#list>
					</#if>
				
				<div class="item">
					<ul>
						<#if (listArticleIndex?? && listArticleIndex?size > 0)>
						<#list listArticleIndex as a>
						<#if (a_index > 0) >
						<li class="play" val="${a.articleId}">
							<div>
								<div class="limg">
									<img src="${video_url_website}${a.articleThumb!''}" />
									<div>${a.articleLabel!''}</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div class="ltitle">${a.title!''}</div>
							</div>
						</li>
						</#if>
						</#list>
						</#if>
					
					</ul>
				</div>
			</div>
			<div class="live">
				
				<#if (listArticleCat?? && listArticleCat?size > 0)>
				<#list listArticleCat as c>
				
				<div class="module <#if (c_index < listArticleCat?size - 1)><#if (c_index % 2 == 0)>l<#else>r</#if><#else>al l</#if>">
					<div class="title">
						<img class="icon" src="${c.images!''}"/>
						<h3>${c.catName}</h3>
						<div class="more"><a href="list_${c.catId}.lv">更多&gt;&gt;</a></div>
					</div>
					<ul>
						<#if mapArticle?? && (mapArticle?size > 0) >
						<#list mapArticle?keys as key>
						<#if ( key = c.catId?string('0') ) >
						<#assign item = mapArticle[key]>
						<#list item as a >
						<li class="play" val="${a.articleId}">
							<div>
								<div class="limg">
									<img src="${video_url_website}${a.articleThumb!''}" />
									<div>${a.articleLabel!''}</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div class="ltitle">${a.title!''}</div>
							</div>
						</li>
						</#list>
						</#if>
						</#list>
						</#if>
					</ul>
				</div>
				
				</#list>
				</#if>
				
				
			</div>
			<#include "footer.html">
		
		</div>
		
	</body>
</html>
