<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="js/swiper/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>
		<script type="text/javascript" src="/js/media/vod.js" ></script>
		
		<#include "/include/pager.html">
		<#include "/FreemarkerMacro.html">		
	</head>
	<body>
		
		<div class="w">
			<div class="mhead"><#include "header.html"></div>
		</div>
		
		
		<div class="w">
		
			<div class="main list">
				
					<div class="content">
						<div class="left">
							<div class="head">
								<img src="${articleCat.images!''}" />
								${articleCat.catName}
							</div>
							<ul >
								<#if (listArticle?? && listArticle?size > 0)>
								<#list listArticle as a>
								
								<li class="play" val="${a.articleId}">
									<div class="img">
										<img src="${video_url_website}${a.articleThumb!''}" />
										<div>${a.articleLabel!''}</div>
										<img src="img/1366/play.png" style="display:none;"/>
									</div>
									<div class="mtitle">${a.title!''}</div>
									<div class="mprop">
										<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
										<div class="counts">${a.readCount!0}次</div>
									</div>
								</li>
								
								</#list>
								</#if>
						
							</ul>
							
						</div>
						<div class="right">
							<div class="head">
								栏目列表
							</div>
							<ul>
								
								<#if (listArticleHot?? && listArticleHot?size > 0)>
								<#list listArticleHot as a>
								<#if (a_index == 0) >
								<li class="play" val="${a.articleId}">
									<div class="img">
										<img src="${video_url_website}${a.articleThumb!''}" />
										<div>${a.articleLabel!''}</div>
										<img src="img/1366/play.png" style="display:none;"/>
									</div>
									<div class="rtitle"><@ESubstring title=a.title num=20 /></div>
									<div class="rprop">
										<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
										<div class="counts">${a.readCount!0}次</div>
									</div>
								</li>
								<#else>
								<li class="play notfirst" val="${a.articleId}">
									<div class="<#if (a_index < 3)>r</#if>">${a_index+1}</div><@ESubstring title=a.title num=20 />
								</li>
								</#if>
								
								</#list>
								</#if>
							</ul>					
							
						</div>
						
						<@pager ReturnObject=rm maxShowPageCount=4 />
						
					</div>
				
			</div>
		</div>
		
		<div class="w"><#include "footer.html"></div>
	</body>
</html>
