<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="js/swiper/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="/js/html5media.min.js" ></script>
		<script type="text/javascript" src="/js/media/vod.js" ></script>	
		

	 <link href="/js/video/video-js.min.css" rel="stylesheet">
    <script src="/js/video/video.min.js"></script>
    <script src="/js/video/ie8/videojs-ie8.min.js"></script>
    <script src="/js/video/videojs-contrib-hls.js"></script>




<style type="text/css">

.initial-video video,.video-js{
     width: 100%;
     height: 100%; 
     object-fit: cover;
}

</style>
	</head>
	<body>
		
		<div class="main">
			<#include "header.html">
			
			<div class="wrapper">
				<div class="content">
					<div class="playwra">
						<div class="title">直播</div>
						<div class="p initial-video" >


  
<video id="example-video" class="video-js vjs-default-skin" controls poster="http://i.onionstatic.com/onionstudios/3819/16x9/800.jpg">
    <source src="http://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" type="application/x-mpegURL">
</video>



						</div>
					</div>
					
					<div class="recom">
						<div class="head">
							直播视频
						</div>
						<ul>
							
							<li class="play" m3u8="http://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8">
								<div>
									<img src="/img/1366/img3.png" />
									<div>直播一</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div>直播一</div>
								
							</li>	
							<li class="play" m3u8="http://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8">
								<div>
									<img src="/img/1366/img3.png" />
									<div>直播2</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div>直播2</div>
								
							</li>	
							<li class="play" m3u8="http://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8">
								<div>
									<img src="/img/1366/img3.png" />
									<div>直播3</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div>直播3</div>
								
							</li>	
							<li class="play" m3u8="http://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8">
								<div>
									<img src="/img/1366/img3.png" />
									<div>直播4</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								<div>直播4</div>
								
							</li>							
							
							
							
						</ul>
					</div>
				</div>
			</div>
			
			<#include "footer.html">

		</div>
		
<script type="text/javascript">
$(function(){
	videojs.options.flash.swf = "/js/video/video-js.swf";
	var opt = {flash:{hls:{withCredentials : true }},html5:{hls:{withCredentials : true }}};

	
    var player = videojs('example-video' );
    player.play();
    
	$(".play").click(function(){
		
		var videoUrl = $(this).attr("m3u8");
		
		player.src([{type: "application/x-mpegURL", src: videoUrl ,withCredentials: false}]);  
		player.play();
        
	
	});
	
	$("#menu >li").click(function(){
		window.location.href = $(this).attr("href");
	});
	
	
});

</script>

		
	</body>
</html>
