<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="js/swiper/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="/js/html5media.min.js" ></script>
		<script type="text/javascript" src="/js/media/vod.js" ></script>	
		

	<link href="/js/video/video-js.min.css" rel="stylesheet">
    <script src="/js/video/video.min.js"></script>
    <script src="/js/video/ie8/videojs-ie8.min.js"></script>
    <script src="/js/video/videojs-contrib-hls.js"></script>




<style type="text/css">

.initial-video video,.video-js{
     width: 100%;
     height: 100%; 
     object-fit: cover;
}



.wrapper .content .recom>ul.live_ul>li{
	width:50%;padding: 5px;box-sizing: border-box;
}
.wrapper .content .recom>ul.live_ul>li>div:first-child img:first-child{
	width:100%;
}

</style>
	</head>
	<body>
		
		<div class="main">
			<#include "header.html">
			
			<div class="wrapper">
				<div class="content">
					<div class="playwra">
						<div class="title">直播</div>
						<div class="p initial-video" >


  <!-- "http://i.onionstatic.com/onionstudios/3819/16x9/800.jpg" -->
<video id="example-video" class="video-js vjs-default-skin" controls poster="img/1366/zhibo.png">
    <source src="tv.gcp.edu.cn/hls/tv7.m3u8" type="application/x-mpegURL">
</video>



						</div>
					</div>
					
					<div class="recom">
						<div class="head">
							直播视频
						</div>
						<ul class="live_ul">
							
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv1.m3u8">
								<div>
								
									<img src="/img/1366/dianshi1.png" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;">CCTV 1 中央一台</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								
							</li>	
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv2.m3u8">
								<div>
									<img src="/img/1366/dianshi2.jpg" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;padding-right: 37px;">广东体育</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								
							</li>	
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv3.m3u8">
								<div>
									<img src="/img/1366/dianshi3.png" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;padding-right: 36px;">凤凰中文</div>
									
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
							</li>	
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv4.m3u8">
								<div>
									<img src="/img/1366/dianshi4.jpg" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;padding-right: 36px;">CCTV5  体育</div>
									
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								
							</li>		
							<li class="play" m3u8="tv.gcp.edu.cn/hls/tv5.m3u8">
								<div>
									<img src="/img/1366/dianshi5.jpg" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;">CCTV13 新闻</div>
									
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
								
							</li>	
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv6.m3u8">
								<div>
									<img src="/img/1366/dianshi6.png" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5; padding-right: 36px;">南方卫视</div>
									
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
							</li>	
							<li class="play" m3u8="http://tv.gcp.edu.cn/hls/tv7.m3u8">
								<div>
									<img src="/img/1366/dianshi7.png" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;">CCTV4 中文国际</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
							</li>	
							<li class="play" m3u8="http://10.8.1.248/hls/tv8.m3u8">
								<div>
									<img src="/img/1366/dianshi88.jpg" />
									<div style="color:white;font-weight:bold;width:127px;background: black;opacity:0.5;">CCTV10  科技</div>
									<img src="img/1366/play.png" style="display:none;"/>
								</div>
							</li>	
						</ul>
					</div>
				</div>
			</div>
			
			<#include "footer.html">

		</div>
		
<script type="text/javascript">
$(function(){
	videojs.options.flash.swf = "/js/video/video-js.swf";
	var opt = {flash:{hls:{withCredentials : true }},html5:{hls:{withCredentials : true }}};

	
    var player = videojs('example-video' );
    player.play();
    
	$(".play").click(function(){
		
		var videoUrl = $(this).attr("m3u8");
		
		player.src([{type: "application/x-mpegURL", src: videoUrl ,withCredentials: false}]);  
		player.play();
        
	
	});
	
	$("#menu >li").click(function(){
		window.location.href = $(this).attr("href");
	});
	
	
});

</script>

		
	</body>
</html>
