<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="/js/media/play.js" ></script>	
		<script type="text/javascript" src="/js/media/vod.js" ></script>	
		
		<script type="text/javascript" src="/js/jwplayer/jwplayer.js" ></script>

	</head>
	<body>
		
		<div class="main">
			<#include "header.html">
			
			<div class="wrapper">
				<div class="content">
					<div class="playwra">
						<div class="title">${article.title}</div>
						<div class="p" style="background:url(${video_url_website}${article.articleThumb})">



<video id="video_id" class="jwplayer" 
controls="controls" preload="none" 
autoplay="autoplay" width="640" height="400"  data-setup="{}"
src="${video_transfer_website}/${article.videoUrl}" poster="${video_url_website}${article.articleThumb}" >
</video>

<script type="text/javascript">
/**
$(function(){ 
    init("${video_transfer_website}/${article.videoUrl}");
});

function init(path){
    $('#source_id').attr('src',path);
    $('#source_id').attr('type','video/mp4');
} */
</script>


						</div>
					</div>
					
					<div class="recom">
						<div class="head">
							热门视频
						</div>
						<ul>
							
							<#if (listArticleHot?? && listArticleHot?size > 0)>
							<#list listArticleHot as a>
							<li class="play" val="${a.articleId}">
								<div>
									<img src="${video_url_website}${a.articleThumb!''}" />
									<div>${a.articleLabel!''}</div>
									<img src="img/1366/play.png" />
								</div>
								<div>${a.title!''}</div>
								<div>
									<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
									<div class="counts">${a.readCount!'0'}次</div>
								</div>
							</li>							
							
							</#list>
							</#if>
							
							
							
						</ul>
					</div>
				</div>
			</div>
			
			<#include "footer.html">
			
		</div>
	</body>
</html>
