<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
		<script type="text/javascript" src="/js/jquery-2.1.4.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>	
		<script type="text/javascript" src="/js/media/vod.js" ></script>	
	</head>
	<body>
		
		<div class="main">
			<#include "header.html">
			
			<div class="wrapper">
				<div class="content">
					<div class="playwra">
						<div class="title">${article.title}</div>
						<div class="p" style="background:url(${article.articleThumb})">


<#if (playHtml == "mp4" )> 
<object id="video" width="640" height="400" border="0" classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA"> 
<param name="ShowDisplay" value="0"> 
<param name="ShowControls" value="1"> 
<param name="AutoStart" value="1"> 
<param name="AutoRewind" value="0"> 
<param name="PlayCount" value="0"> 
<param name="Appearance" value="0" value=""> 
<param name="BorderStyle" value="0" value=""> 
<param name="MovieWindowHeight" value="400"> 
<param name="MovieWindowWidth" value="640"> 
<param name="FileName" value="${article.videoUrl}"> 
<embed width="640" height="400" border="0" showdisplay="0" showcontrols="1" autostart="1" autorewind="0" playcount="0" moviewindowheight="400" moviewindowwidth="640" filename="${article.videoUrl}" src="${article.videoUrl}"></embed> 
</object>
</#if>

<#if (playHtml == "flv")> 
<object class id="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="/js/swflash.cab#version=7,0,19,0" width="640" height="400">
  <param name="movie" value="/js/flvplayer.swf">
  <param name="quality" value="high">
  <param name="allowFullScreen" value="true">
  <param name="FlashVars" value="vcastr_file=${article.videoUrl}">
  <embed src="/js/flvplayer.swf" allowfullscreen="true" flashvars="vcastr_file=${article.videoUrl}" quality="high"  type="application/x-shockwave-flash" width="640" height="400"></embed>
</object>
</#if>




						</div>
					</div>
					
					<div class="recom">
						<div class="head">
							热门视频
						</div>
						<ul>
							
							<#if (listArticleHot?? && listArticleHot?size > 0)>
							<#list listArticleHot as a>
							<li class="play" val="${a.articleId}">
								<div>
									<img src="${a.articleThumb!''}" />
									<div>${a.articleLabel!''}</div>
									<img src="img/1360/play.png" />
								</div>
								<div>${a.title!''}</div>
								<div>
									<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
									<div class="counts">${a.readCount!'0'}次</div>
								</div>
							</li>							
							
							</#list>
							</#if>
							
							
							
						</ul>
					</div>
				</div>
			</div>
			
			<#include "footer.html">
			
		</div>
	</body>
</html>
