<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>社区商城</title>
<link rel="stylesheet" href="/themes/tianmao/style/index.css">

<script src="/ehais/js/jquery/jquery-2.1.4.min.js"></script>
<script src="/themes/tianmao/js/index.js"></script>
<script src="/themes/tianmao/js/index_menu_nav.js"></script>

<link rel="stylesheet" href="/js/Swiper/css/swiper.min.css">
<script src="/js/Swiper/js/swiper.jquery.min.js"></script>


</head>
<body class="w1230" style="min-width:1230px;">

<div id="mallPage" class="mui-global-biz-mallfp">
	<#include "library/site-nav.html">
	<#include "library/header.html">
	<#include "index_content.html">
	<#include "library/footer.html">
</div>


</body>
</html>