<div class="cp-panel lecture-recommend">
    <div class="cp-panel-heading">
        <h2>毕业生能力展示&nbsp;·&nbsp;作品展示 <small>企业定向选择</small>
        <a class="more" href="javascript:;" >更多</a></h2>
    </div>
    <div class="cp-panel-body">
        <div class="lecture-recommend-container">
            <div class="activity-review-list clearfix">
                <div class="box index_">
                    <div class="inner-box">
                        <a class="img-box play" href="javascript:;" >
                            <img class="img-responsive lazy" src="http://www.fcpiao.com/userfiles/2014-11/c4gqysdo.jpg"  style="display: block;">
                            <span class="label">美术展示</span>
                        </a>
                        <a class="tit lecture-tit" href="lecture/150" data-etrack="点击往期壹佰讲堂图文（共用） " data-etrack-param="{'讲堂id':'150'}">2016年广州美术学院毕业生画展</a>
                        <div class="info">
                            <p class="speaker">
                                <i class="icon glyphicon glyphicon-user"></i>美术学院毕业生画展
                            </p>
                            <p class="attention">
                                <i class="icon icon-djt_study"></i>1564人阅读
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="box index_">
                    <div class="inner-box">
                        <a class="img-box play" href="javascript:;" >
                            <img class="img-responsive lazy" src="http://www.chinamaker.org/upfile/2015070817414659.jpg"  style="display: block;">
                            <span class="label">创业杯</span>
                        </a>
                        <a class="tit lecture-tit" href="javascript:;"  >2016年毕业生创新大赛杯，为毕业获取一份创业启动资金</a>
                        <div class="info">
                            <p class="speaker">
                                <i class="icon glyphicon glyphicon-user"></i>广州毕业生创业大赛
                            </p>
                            <p class="attention">
                                <i class="icon icon-djt_study"></i>3238人阅读
                            </p>
                        </div>
                    </div>
                </div>                <div class="box index_">
                    <div class="inner-box">
                        <a class="img-box play" href="lecture/148" data-etrack="点击往期壹佰讲堂图文（共用） " data-etrack-param="{'讲堂id':'148'}">
                            <img class="img-responsive lazy" src="http://i.chanpin100.com/147445120673466840-256x160"  style="display: block;">
                            <span class="label">科技</span>
                        </a>
                        <a class="tit lecture-tit" href="lecture/148" data-etrack="点击往期壹佰讲堂图文（共用） " data-etrack-param="{'讲堂id':'148'}">5大关键词，1小时实战吃透数据分析</a>
                        <div class="info">
                            <p class="speaker">
                                <i class="icon icon-djt_number"></i>XXX企业有限公司
                            </p>
                            <p class="attention">
                                <i class="icon icon-djt_study"></i>2093人阅读
                            </p>
                        </div>
                    </div>
                </div>                <div class="box index_">
                    <div class="inner-box">
                        <a class="img-box play" href="lecture/146"  data-etrack="点击往期壹佰讲堂图文（共用） " data-etrack-param="{'讲堂id':'146'}">
                            <img class="img-responsive lazy" src="http://i.chanpin100.com/147445098896748763-256x160" data-original="http://i.chanpin100.com/147445098896748763-256x160" style="display: block;">
                            <span class="label dn">化工</span>
                        </a>
                        <a class="tit lecture-tit" href="lecture/146"  data-etrack="点击往期壹佰讲堂图文（共用） " data-etrack-param="{'讲堂id':'146'}">极速参悟移动产品必须遵循的设计准则</a>
                        <div class="info">
                            <p class="speaker">
                                <i class="icon icon-djt_number"></i>XXX企业有限公司
                            </p>
                            <p class="attention">
                                <i class="icon icon-djt_study"></i>1810人阅读
                            </p>
                        </div>
                    </div>
                </div>            </div>
        </div>
    </div>
</div>