<div class="volunteer hidden-sm hidden-xs">
    <div class="cp-panel">
        <div class="cp-panel-heading">
            <h2>
               企业推荐优秀毕业生
                <small>我们一起来伶听一下他们的就业分享</small>
                <a class="pull-right more" href="javascript:;">更多优秀毕业生的就业感言</a>
            </h2>
        </div>
        <div class="cp-panel-body">
            <ul class="list-inline vol-list clearfix">
                <li>
                    <!-- <a href="/profile/50012" data-user-pop="50012"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50012">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146795973921647929-90x90" data-original="http://i.chanpin100.com/146795973921647929-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50075" data-user-pop="50075"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50075">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796059326711285-90x90" data-original="http://i.chanpin100.com/146796059326711285-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50074" data-user-pop="50074"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50074">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796082605897378-90x90" data-original="http://i.chanpin100.com/146796082605897378-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50073" data-user-pop="50073"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50073">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796104709924635-90x90" data-original="http://i.chanpin100.com/146796104709924635-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50072" data-user-pop="50072"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50072">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789258086278659-90x90" data-original="http://i.chanpin100.com/146789258086278659-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50071" data-user-pop="50071"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50071">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796126490324665-90x90" data-original="http://i.chanpin100.com/146796126490324665-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50070" data-user-pop="50070"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50070">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796156953769566-90x90" data-original="http://i.chanpin100.com/146796156953769566-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50069" data-user-pop="50069"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50069">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796173632898805-90x90" data-original="http://i.chanpin100.com/146796173632898805-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50068" data-user-pop="50068"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50068">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796190925205583-90x90" data-original="http://i.chanpin100.com/146796190925205583-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50067" data-user-pop="50067"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50067">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789237127933285-90x90" data-original="http://i.chanpin100.com/146789237127933285-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50064" data-user-pop="50064"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50064">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796207567359440-90x90" data-original="http://i.chanpin100.com/146796207567359440-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50062" data-user-pop="50062"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50062">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796230030261942-90x90" data-original="http://i.chanpin100.com/146796230030261942-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50061" data-user-pop="50061"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50061">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796244706642945-90x90" data-original="http://i.chanpin100.com/146796244706642945-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50060" data-user-pop="50060"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50060">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789194461844331-90x90" data-original="http://i.chanpin100.com/146789194461844331-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50014" data-user-pop="50014"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50014">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146830760681964218-crop-90x90" data-original="http://i.chanpin100.com/146830760681964218-crop-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50059" data-user-pop="50059"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50059">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789187345172387-90x90" data-original="http://i.chanpin100.com/146789187345172387-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50013" data-user-pop="50013"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50013">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796285995739411-90x90" data-original="http://i.chanpin100.com/146796285995739411-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50058" data-user-pop="50058"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50058">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796276563747909-90x90" data-original="http://i.chanpin100.com/146796276563747909-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50057" data-user-pop="50057"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50057">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796346139975964-90x90" data-original="http://i.chanpin100.com/146796346139975964-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50056" data-user-pop="50056"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50056">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796355279219032-90x90" data-original="http://i.chanpin100.com/146796355279219032-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50055" data-user-pop="50055"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50055">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789162528706982-90x90" data-original="http://i.chanpin100.com/146789162528706982-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50054" data-user-pop="50054"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50054">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789152430569754-90x90" data-original="http://i.chanpin100.com/146789152430569754-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50016" data-user-pop="50016"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50016">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788537751876569-90x90" data-original="http://i.chanpin100.com/146788537751876569-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50053" data-user-pop="50053"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50053">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789138926684640-90x90" data-original="http://i.chanpin100.com/146789138926684640-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50052" data-user-pop="50052"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50052">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789134110768725-90x90" data-original="http://i.chanpin100.com/146789134110768725-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50051" data-user-pop="50051"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50051">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796381471515677-90x90" data-original="http://i.chanpin100.com/146796381471515677-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50050" data-user-pop="50050"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50050">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796389636116972-90x90" data-original="http://i.chanpin100.com/146796389636116972-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50049" data-user-pop="50049"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50049">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789114655614052-90x90" data-original="http://i.chanpin100.com/146789114655614052-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50048" data-user-pop="50048"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50048">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789105777794027-90x90" data-original="http://i.chanpin100.com/146789105777794027-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50047" data-user-pop="50047"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50047">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146789097374972979-90x90" data-original="http://i.chanpin100.com/146789097374972979-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50046" data-user-pop="50046"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50046">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796399083224839-90x90" data-original="http://i.chanpin100.com/146796399083224839-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50042" data-user-pop="50042"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50042">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146830922237715466-crop-90x90" data-original="http://i.chanpin100.com/146830922237715466-crop-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50041" data-user-pop="50041"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50041">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796435639971760-90x90" data-original="http://i.chanpin100.com/146796435639971760-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50039" data-user-pop="50039"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50039">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788991838188577-90x90" data-original="http://i.chanpin100.com/146788991838188577-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50038" data-user-pop="50038"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50038">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796445621358768-90x90" data-original="http://i.chanpin100.com/146796445621358768-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50037" data-user-pop="50037"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50037">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796453088554072-90x90" data-original="http://i.chanpin100.com/146796453088554072-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50036" data-user-pop="50036"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50036">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796469062592559-90x90" data-original="http://i.chanpin100.com/146796469062592559-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50035" data-user-pop="50035"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50035">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796477134284851-90x90" data-original="http://i.chanpin100.com/146796477134284851-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50031" data-user-pop="50031"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50031">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796503161482109-90x90" data-original="http://i.chanpin100.com/146796503161482109-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50028" data-user-pop="50028"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50028">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796533921771344-90x90" data-original="http://i.chanpin100.com/146796533921771344-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50027" data-user-pop="50027"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50027">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796513376723790-90x90" data-original="http://i.chanpin100.com/146796513376723790-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50026" data-user-pop="50026"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50026">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788912770989467-90x90" data-original="http://i.chanpin100.com/146788912770989467-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50021" data-user-pop="50021"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50021">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796023549989173-90x90" data-original="http://i.chanpin100.com/146796023549989173-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50076" data-user-pop="50076"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50076">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796575604306680-90x90" data-original="http://i.chanpin100.com/146796575604306680-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50018" data-user-pop="50018"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50018">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146796008536328653-90x90" data-original="http://i.chanpin100.com/146796008536328653-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50030" data-user-pop="50030"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50030">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788938189229326-90x90" data-original="http://i.chanpin100.com/146788938189229326-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50022" data-user-pop="50022"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50022">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788857193412297-90x90" data-original="http://i.chanpin100.com/146788857193412297-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50017" data-user-pop="50017"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50017">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788611665672835-90x90" data-original="http://i.chanpin100.com/146788611665672835-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50023" data-user-pop="50023"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50023">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788864412298622-90x90" data-original="http://i.chanpin100.com/146788864412298622-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50019" data-user-pop="50019"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50019">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146788633908633263-90x90" data-original="http://i.chanpin100.com/146788633908633263-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
                <li>
                    <!-- <a href="/profile/50032" data-user-pop="50032"> -->
                    <a href="JavaScript:;" style="cursor: default;" data-user-pop="50032">
                        <img class="img-circle item lazy" src="http://i.chanpin100.com/146889568786356121-90x90" data-original="http://i.chanpin100.com/146889568786356121-90x90" style="display: inline;" width="50px" height="50px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>