<div class="course-menu bordered">
    <div class="menu-header">
        <h3>
        <a href="/index.html" >
        <span class="menu-icon glyphicon glyphicon-align-justify"></span>
		人社厅
        </a>
        </h3>
    </div>
    <ul class="list">
        <li class="course-item">
            <div class="course-container">
                <span class="round-icon bg-yellow pull-left glyphicon glyphicon-leaf"></span>
                <div class="course-info">
                    <h4 class="cate-name">调查问卷</h4>
                    <small>毕业生调查问卷</small>
                    <span class="arrow icon-index_jt_right"></span>
                </div>
            </div>
            <ul class="sub-menu list">
                <li class="course">
                    <div class="course-cover">
                        <a href="retrieval.html"  class="bg-red">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >人社厅调查</a></p>
                        <p><small>人社厅发布的调查</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"  class="btn btn-sm btn-primary" data-etrack="">
                                	参与调查
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-blue">
                            <span class="glyphicon glyphicon-leaf"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >母校调查</a></p>
                        <p><small>母校发布的调查</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
								参与调查
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href=javascript:;"  class="bg-green">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="/member_demand.html"  >企业调查</a></p>
                        <p><small>企业发布的调查</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
								参与调查
                            </a>
                        </div>
                    </div>
                </li>
                
            </ul>
        </li>
        <li class="course-item">
            <div class="course-container">
                <span class="round-icon bg-ching pull-left glyphicon glyphicon-fire"></span>
                <div class="course-info">
                    <h4 class="cate-name">毕业进修</h4>
                    <small>进修视频</small><small>进修书籍</small>
                    <span class="arrow icon-index_jt_right"></span>
                </div>
            </div>
            <ul class="sub-menu list ">
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-red">
                            <span class="glyphicon glyphicon-fire"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;" >机构培训</a></p>
                        <p><small>为你推荐培训的机构</small></p>
                        <div class="btn-container">
                            <a href="javascript:;" data-etrack="点击首页－课程导航－交互设计师"  class="btn btn-sm btn-primary">
								查看/报名
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-blue">
                            <span class="glyphicon glyphicon-leaf"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >学校考研</a></p>
                        <p><small>查看考研的资讯的就业方向</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
								查看/报名
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href=javascript:;"  class="bg-green">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >考证培训</a></p>
                        <p><small>为就业考证提升自我能力</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
								查看/报名
                            </a>
                        </div>
                    </div>
                </li>
                
            </ul>
        </li>
        <li class="course-item">
            <div class="course-container">
                <span class="round-icon bg-violet pull-left glyphicon glyphicon-calendar"></span>
                <div class="course-info">
                    <h4 class="cate-name">工作准备</h4>
                    <small>师兄建议</small><small>专家建议</small>
                    <span class="arrow icon-index_jt_right"></span>
                </div>
            </div>
            <ul class="sub-menu list">
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-red">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >毕业作品</a></p>
                        <p><small>毕业生的作品展示，提供展示图片，源代码下载链接</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
                                	查看/上传
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-blue">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;" >简历制作</a></p>
                        <p><small>毕业生需要一份精美的简历表现自己，平台提供制作精美简历的方式</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"  class="btn btn-sm btn-primary">
                               	 查看/制作
                            </a>
                        </div>
                    </div>
                </li>
                <li class="course">
                    <div class="course-cover">
                        <a href="javascript:;"  class="bg-green">
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </div>
                    <div class="course-info">
                        <p class="text-center"><a href="javascript:;"  >毕业生招聘</a></p>
                        <p><small>查看人才网的招聘会与企业的招聘信息</small></p>
                        <div class="btn-container">
                            <a href="javascript:;"   class="btn btn-sm btn-primary">
                               	 查看/应聘
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>