<div class="cp-panel index-activity-review hidden-sm hidden-xs">
    <div class="cp-panel-heading">
        <h2>
			毕业生聚会沙龙
            <a class="more" href="/activity.html" data-etrack="查看更多活动">更多沙龙信息</a>
        </h2>
    </div>
    <div class="cp-panel-body">
    	
    	<div class="review-list clearfix">
            <div class="pull-left clearfix activity-left-box">

			<!-- demo start -->
			
			<div class="activity half">
                 <a class="img" href="javascript:;" >
                     <img class="img-responsive lazy" src="http://i.chanpin100.com/147039231039252624" style="display: block;">
                     <p class="tr">2016-09-30</p>
                 </a>
                 <div class="title">
                 <a href="javascript:;" >
					阿里巴巴资深师兄为你分享产品设计职位与工作经验
                 </a>
                 </div>
                 <div class="summer">
                 		董彦彤、芳芳，陈少，橘子，网红，为我们组织了一场成功的大咖分享会！也十分感谢分享老师——解扬，让参与活动的小伙伴儿们不仅仅学到了干货，还get了工作中难得的经验和知识。
                 </div>
             </div>
             
			<!-- demo end -->
			
            </div>
            
            <div class="pull-right clearfix activity-right-box ">
                <div class="activity half">
                    <a class="img" href="javascrpt:;" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146831690038388223-275x172" style="display: block;">
                        <p class="tr">2016-09-30</p>
                    </a>
                    <div>
                    <a href="javascript:;" >
                    	阿里巴巴产品经理为你分享资深PM的产品观
                    </a>
                    </div>
                </div>
                
                <div class="activity half">
                    <a class="img" href="javascrpt:;" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146831699010054235-275x172" style="display: block;">
                        <p class="tr">2016-09-30</p>
                    </a>
                    <div>
                    <a href="javascript:;" >
                    	阿里巴巴产品经理为你分享资深PM的产品观
                    </a>
                    </div>
                </div>
                
                <div class="activity half">
                    <a class="img" href="javascrpt:;" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146831707432228537-275x172" style="display: block;">
                        <p class="tr">2016-09-30</p>
                    </a>
                    <div>
                    <a href="javascript:;" >
                    	阿里巴巴产品经理为你分享资深PM的产品观
                    </a>
                    </div>
                </div>
                
                <div class="activity half">
                    <a class="img" href="javascrpt:;" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146831716535969586-275x172" style="display: block;">
                        <p class="tr">2016-09-30</p>
                    </a>
                    <div>
                    <a href="javascript:;" >
                    	阿里巴巴产品经理为你分享资深PM的产品观
                    </a>
                    </div>
                </div>
                
                				
            </div>
        </div>
    </div>
</div>