<div class="cp-panel entire speech-forecast entire">
	<div class="cp-panel-heading">
		<h2>
			即将举办的沙龙
			<ul class="more tabs list inline-list">				
				<li class="tab"><a class="" href="javascript:;">发起沙龙</a></li>
				<li class="tab"><a class="" href="javascript:;">查看更多</a></li>
			</ul>
		</h2>
	</div>
	<div class="cp-panel-body">
		<div class="speech">
			<a class="cover-box" href="javascript:;" > 
			<img class="lazy cover" src="http://i.chanpin100.com/147039201378339009" alt="" title="">
			</a> 
			<span class="tag">
			夏日活动
			</span> <a class="tit" href="javascript:;">
				<h5 class="ellipsis" title="">夏日里来一场酷爽的Design Sprint</h5>
			</a>
			
			<div class="actions">				
				<a href="javascript:;" data-etrack="点击右边栏－壹佰讲堂－立即报名"
					class="btn btn-block btn-primary">查看详情</a>				
			</div>
		</div>
	</div>
</div>
