<div class="cp-panel topic-recommend clearfix">
	<div class="cp-panel-heading clearfix">
		<h2>
			综合业务区 <small>为毕业生解决多种服务！ </small> 
			<ul class="more tabs list inline-list">				
				<li class="tab"><a class="" href="javascript:;">发布需求</a></li>
				<li class="tab"><a class="" href="javascript:;">更多服务区</a></li>
			</ul>
		</h2>
	</div>
	<div class="cp-panel-body clearfix">
		<ul class="list inline-list topic-list">
			<li class="topic"><a href="javascript:;" 
				data-etrack="点击首页－学习专题">
					<div class="cover-container bg-red">
						<span class="glyphicon glyphicon-plane"></span>
					</div>
					<p>
						<span>毕业生兼职服务</span>
					</p>
			</a></li>
			<li class="topic"><a href="javascript:;" 
				data-etrack="点击首页－学习专题">
					<div class="cover-container bg-blue">
						<span class="glyphicon glyphicon-magnet"></span>
					</div>
					<p>
						<span>毕业生/企业资源交换</span>
					</p>
			</a></li>
			<li class="topic"><a href="javascript:;" 
				data-etrack="点击首页－学习专题">
					<div class="cover-container bg-green">
						<span class="glyphicon glyphicon-certificate"></span>
					</div>
					<p>
						<span>毕业活动/自发活动</span>
					</p>
			</a></li>
			<li class="topic"><a href="javascript:;" 
				data-etrack="点击首页－学习专题">
					<div class="cover-container bg-orange">
						<span class="glyphicon glyphicon-tower"></span>
					</div>
					<p>
						<span>毕业生交流/师兄姐互动</span>
					</p>
			</a></li>
		</ul>
	</div>
</div>