<div class="cp-panel index-activity-review hidden-sm hidden-xs">
    <div class="cp-panel-heading">
        <h2>
           嗨， 就业的毕业生们，来晒一晒你们的上班环境
            
            <ul class="more tabs list inline-list">				
				<li class="tab"><a class="" href="javascript:;">我也上传</a></li>
				<li class="tab"><a class="" href="javascript:;">更多工作环境展示</a></li>
			</ul>
        </h2>
    </div>
    <div class="cp-panel-body">
        <div class="review-list clearfix">
            <div class="pull-left clearfix left-box ">
                <div class="activity half">
                    <a data-uv="" type="4" recommend-id="56" statistics-type="photo" href="http://www.chanpin100.com/activities/90" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797712947848434" data-original="http://i.chanpin100.com/146797712947848434" style="display: block;">
                        <p>设计一款基于共享经济下的产品</p>
                    </a>
                </div>
                <div class="activity half">
                    <a data-uv="" type="4" recommend-id="57" statistics-type="photo" href="http://www.chanpin100.com/activities/96" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797711987986757" data-original="http://i.chanpin100.com/146797711987986757" style="display: block;">
                        <p>一起寻求思想的碰撞，一起分享好产品</p>
                    </a>
                </div>
                <div class="activity half">
                    <a data-uv="" type="4" recommend-id="58" statistics-type="photo" href="http://www.chanpin100.com/activities/74" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797710948292846" data-original="http://i.chanpin100.com/146797710948292846" style="display: block;">
                        <p>产品马拉松，让分答来得更猛烈些吧</p>
                    </a>
                </div>
                <div class="activity half">
                    <a data-uv="" type="4" recommend-id="59" statistics-type="photo" href="http://www.chanpin100.com/activities/82" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797709959026395" data-original="http://i.chanpin100.com/146797709959026395" style="display: block;">
                        <p>360&amp;乐视产品经理带你玩转产品</p>
                    </a>
                </div>
            </div>
            <div class="pull-left clearfix center-box ">
                <div class="activity ">
                    <a data-uv="" type="4" recommend-id="54" statistics-type="photo" href="http://www.chanpin100.com/activities/99" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146829008455439538" data-original="http://i.chanpin100.com/146829008455439538" style="display: block;">
                        <p>“Design Hackathon”概念主题活动</p>
                    </a>
                </div>
            </div>
            <div class="pull-left clearfix right-box">
                <div class="activity ">
                    <a data-uv="" type="4" recommend-id="53" statistics-type="photo" href="http://www.chanpin100.com/activities/73" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797702492392121" data-original="http://i.chanpin100.com/146797702492392121" style="display: block;">
                        <p>深圳产品黑客马拉松，来一场夏日的思想碰撞</p>
                    </a>
                </div>
                <div class="activity  half">
                    <a data-uv="" type="4" recommend-id="64" statistics-type="photo" href="http://www.chanpin100.com/activities/71" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797706572341994" data-original="http://i.chanpin100.com/146797706572341994" style="display: block;">
                        <p>HackDesign 设计直播产品&amp;路演</p>
                    </a>
                </div>
                <div class="activity  half">
                    <a data-uv="" type="4" recommend-id="61" statistics-type="photo" href="http://www.chanpin100.com/activities/72" >
                        <img class="img-responsive lazy" src="http://i.chanpin100.com/146797705187262582" data-original="http://i.chanpin100.com/146797705187262582" style="display: block;">
                        <p>产品设计马拉松&mdash;&mdash;设计一款直播时代下的产品</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>