<div class="cp-panel entire clearfix">

	<div class="cp-panel-heading">
		<h2>
			毕业生实习平台
			<ul class="more tabs list inline-list">				
				<li class="tab">
				<a class="" href="javascript:;" >签到</a>
				</li>
				<li class="tab">
				<a class="" href="javascript:;" >工作日记</a>
				</li>
			</ul>
		</h2>
	</div>
	
	
	<div class="cp-panel-body">
		<div class="practice">			
			<div class="cover-container bg-red">
				<span class="glyphicon glyphicon-plane"></span>
			</div>
			<p>
				<span>当前实习公司：广州易海司信息科技有限公司</span>
			</p>
			
		</div>
	</div>
</div>
