<div class="cp-panel newbie">
    <div class="cp-panel-heading">
        <h2>
        	毕业生培训&nbsp;·&nbsp;攻略 <small>提升就业能力，加快升职加薪机会！</small>
        	<a class="more">更多培训信息</a>
        </h2>
    </div>
    <div class="cp-panel-body">
        <div class="newbie-box">
            <div class="pull-left left-box clearfix">
                <div class="item item1 bg-red">
                    <div class="play-video" >
                        <span class="btn btn-white hollow">
                            <span class="glyphicon glyphicon-flag"></span>
                            	培训机构信息
                        </span>
                    </div>
                    <ul class="artcles list">
                        <li>
                            <a href="http://www.chanpin100.com/article/101270" target="_blank">
                                <span class="icon"></span>慧翔项目经理培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101266" target="_blank">
                                <span class="icon"></span>产品100培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101261" target="_blank">
                                <span class="icon"></span>达内齐软件开发培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101256" target="_blank">
                                <span class="icon"></span>易海网络推广培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101254" target="_blank">
                                <span class="icon"></span>培源外语培训
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-left center-box clearfix">
                <div class="item sm-item item2">
                    <div class="bg-orange h-item">
                    	<span class="glyphicon glyphicon-volume-down pr5"></span>
                    	<span class="">项目经理/产品经理/项目策划/项目设计培训----慧翔培训</span>
                    </div>
                </div>
                <div class="item sm-item item3">
                    <a href="javascrpt:;">
                    <div class="bg-cyan h-item">
                    	<span class="glyphicon glyphicon-headphones pr5"></span>
                    	<span class="">职场外语培训</span>
                    </div>
                    </a>
                </div>
                <div class="item sm-item item3 ">
                    <div class="bg-blue h-item">
                    	<span class="glyphicon glyphicon-phone pr5"></span>
                    	<span class="">软件开发培训</span>
                    </div>
                </div>
                <div class="item sm-item item3 ">
                    <div class="bg-red h-item">
                    	<span class="glyphicon glyphicon-facetime-video pr5"></span>
                    	<span class="">公务员培训</span>
                    </div>
                </div>
            </div>
            <div class="pull-left right-box clearfix ">
                <div class="item item4 bg-red">
                
                	<div class="play-video" >
                        <span class="btn btn-white hollow">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                            	培训分类信息
                        </span>
                    </div>
                    <ul class="artcles list">
                        <li>
                            <a href="http://www.chanpin100.com/article/101270" target="_blank">
                                <span class="icon"></span>项目经理培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101266" target="_blank">
                                <span class="icon"></span>产品设计培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101261" target="_blank">
                                <span class="icon"></span>软件开发培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101256" target="_blank">
                                <span class="icon"></span>网络推广培训
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chanpin100.com/article/101254" target="_blank">
                                <span class="icon"></span>外语培训
                            </a>
                        </li>
                    </ul>
                    
                    
                    <!-- 
                    <div class="cp-panel m0 ">
	                    <div class="cp-panel-heading ">
					        <h2>
								毕业生兼职
					            <a class="more" href="javascript:;" data-etrack="查看更多活动">更多兼职信息</a>
					        </h2>
					    </div>
					    <div class="cp-panel-body">
					    	<ul class="artcles list gray">
		                        <li>
		                            <a href="/article/8506" target="_blank" title="专访前腾讯产品经理：小白蜕变成大神">
		                                <span class="icon"></span>广告推广员[易海司公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/11228" target="_blank" title="产品100创始人刘文智：如何提高面试成功率">
		                                <span class="icon"></span>旅游信息录入员[广之旅]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/44624" target="_blank" title="IOS开发应届毕业生成功入职产品经理">
		                                <span class="icon"></span>会议速记员[产品100公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/100593" target="_blank" title="应届生传授产品学习干货轻松入职产品经理！">
		                                <span class="icon"></span>打字员[广媒速公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/8506" target="_blank" title="专访前腾讯产品经理：小白蜕变成大神">
		                                <span class="icon"></span>广告推广员[易海司公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/11228" target="_blank" title="产品100创始人刘文智：如何提高面试成功率">
		                                <span class="icon"></span>旅游信息录入员[广之旅]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/44624" target="_blank" title="IOS开发应届毕业生成功入职产品经理">
		                                <span class="icon"></span>会议速记员[产品100公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/100593" target="_blank" title="应届生传授产品学习干货轻松入职产品经理！">
		                                <span class="icon"></span>打字员[广媒速公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/8506" target="_blank" title="专访前腾讯产品经理：小白蜕变成大神">
		                                <span class="icon"></span>广告推广员[易海司公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/11228" target="_blank" title="产品100创始人刘文智：如何提高面试成功率">
		                                <span class="icon"></span>旅游信息录入员[广之旅]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/44624" target="_blank" title="IOS开发应届毕业生成功入职产品经理">
		                                <span class="icon"></span>会议速记员[产品100公司]
		                            </a>
		                        </li>
		                        <li>
		                            <a href="/article/100593" target="_blank" title="应届生传授产品学习干货轻松入职产品经理！">
		                                <span class="icon"></span>打字员[广媒速公司]
		                            </a>
		                        </li>
		                    </ul>
					    
					    </div>
				    </div>
     -->
                    
                </div>
            </div>
        </div>
    </div>
</div>