<div class="extra">
    <div class="cp-panel">
        <div class="cp-panel-heading">
            <h2>合作企业</h2>
        </div>
        <div class="cp-panel-body">
            <ul class="list-inline img-links links">
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855139223946982" data-original="http://i.chanpin100.com/146855139223946982" alt="腾讯" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855361313664703" data-original="http://i.chanpin100.com/146855361313664703" alt="百度" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855169275958886" data-original="http://i.chanpin100.com/146855169275958886" alt="阿里巴巴" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855173073701999" data-original="http://i.chanpin100.com/146855173073701999" alt="新浪微博" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a href="http://study.163.com/u/ykt1453273869670#/center/orgCenterCourse" >
                        <img class="lazy" src="http://i.chanpin100.com/146855176517311657" data-original="http://i.chanpin100.com/146855176517311657" alt="网易" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855179185084606" data-original="http://i.chanpin100.com/146855179185084606" alt="奇虎360" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855183489904080" data-original="http://i.chanpin100.com/146855183489904080" alt="科大讯飞" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855186841942510" data-original="http://i.chanpin100.com/146855186841942510" alt="美团" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855189477309603" data-original="http://i.chanpin100.com/146855189477309603" alt="滴滴" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855191876658974" data-original="http://i.chanpin100.com/146855191876658974" alt="乐视" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855194483369278" data-original="http://i.chanpin100.com/146855194483369278" alt="拉勾" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855196179434875" data-original="http://i.chanpin100.com/146855196179434875" alt="猎聘" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855198995409720" data-original="http://i.chanpin100.com/146855198995409720" alt="Camera360" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855201504411416" data-original="http://i.chanpin100.com/146855201504411416" alt="搜狐" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855206396195790" data-original="http://i.chanpin100.com/146855206396195790" alt="今日头条" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a>
                        <img class="lazy" src="http://i.chanpin100.com/146855208960939120" data-original="http://i.chanpin100.com/146855208960939120" alt="鲜果" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a href="http://www.ximalaya.com/zhubo/41226735/" >
                        <img class="lazy" src="http://i.chanpin100.com/146855213426107324" data-original="http://i.chanpin100.com/146855213426107324" alt="喜马拉雅" style="display: inline;">
                    </a>
                </li>
                <li>
                    <a href="http://edu.51cto.com/course/course_id-5585.html" >
                        <img class="lazy" src="http://i.chanpin100.com/146855214271634488" data-original="http://i.chanpin100.com/146855214271634488" alt="51CTO学院" style="display: inline;">
                    </a>
                </li>
            </ul>
        </div>
        <div class="cp-panel-heading friend-link-heading">
            <h2>友情链接</h2>
        </div>
        <div class="cp-panel-body links link-links">
            <a href="http://www.kaikeba.com/" >开课吧</a>
            <a href="http://www.devstore.cn/" >DevStore</a>
            <a href="http://ui.tedu.cn/" >平面设计培训</a>
            <a href="http://web.tedu.cn/" >web前端培训</a>
            <a href="http://www.pmtoo.com/" >产品中国</a>
            <a href="http://www.axure.com.cn/" >axure中文网</a>
            <a href="http://hengcaotang.com/" >互联网培训</a>
            <a href="http://www.bimcn.org/" >中国BIM培训网</a>
            <a href="http://www.nlypx.com/" >讲师</a>
            <a href="http://news.23.cn/" >创业资讯 </a>
            <a href="http://www.pm28.com/" >PM28</a>
            <a href="http://www.yopai.com/" >优派网</a>
            <a href="http://www.36dsj.com/" >36大数据</a>
            <a href="http://www.366translation.com/" >北大366翻译</a>
            <a href="http://www.pm265.com/" >pm265</a>
            <a href="http://www.pincai.com/baike/" >职场百科</a>
            <a href="http://sowm.cn" >搜我们</a>
            <a href="http://www.tuicool.com/" >推酷</a>
            <a href="http://www.yomail.com/" >yomail</a>
            <a href="http://www.gupowang.com" >姑婆那些事儿</a>
            <a href="http://www.jiguang.cn/push" >极光推送</a>
            <a href="http://www.pmdaniu.com/" >产品大牛</a>
            <a href="http://www.opensns.cn/" >OpenSNS</a>
            <a href="http://www.chanpin100.com/link" >更多链接</a>
        </div>
    </div>
</div>