<div>

<div class="swiper">
				<ul>
					<li>
						<img src="images/cbd.jpg" />
					</li>
				</ul>
			</div><!--轮播-->
			<div class="amount">
				<div>营业额：{{total}}元</div>
				<div>可提现：{{balance}}元</div>				
			</div><!--金额-->
			<div class="myicon">
				<div>
					<i class="icon iconfont icon-dingdan1"></i>
					营业额
				</div>
				<div>
					<i class="icon iconfont icon-order"></i>
					销售统计
				</div>
				<div>
					<i class="icon iconfont icon-juxing2"></i>
					单品统计
				</div>
				
				<div>
					<i class="icon iconfont icon-dianpu"></i>
					商户信息
				</div>
				
				<div>
					<i class="icon iconfont icon-jushoucang"></i>
					台桌设置
				</div>
				<div ng-click="goods_list()">
					<i class="iconfont icon-shengxian"></i>
					菜品管理
				</div>
				<div>
					<i class="icon iconfont icon-dingdan"></i>
					订单信息
				</div>
				<div>
					<i class="icon iconfont icon-youhuiquan"></i>
					优惠券
				</div>
				
			</div><!--功能按钮-->
			<div></div><!--图表-->
			
</div>

