<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${session_store_name }</title>
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/addtabs/bootstrap.addtabs.css" />
		<link rel="stylesheet" href="/js/bootstrap/addtabs/mylayout.css" />
		<script type="text/javascript" src="/js/bootstrap/addtabs/bootstrap.addtabs.js" ></script>
		
		<script type="text/javascript" src="/js/jquery.qrcode.min.js" ></script>
<style type="text/css">
.mylayout .list-group-item.gray > a{
	color: #cfcfcf;
}
#jqrcode{
	width:100px;text-align: center; float: right;margin-right: 5px;
}
#articleLink div,#shopLink div{
	width:100px;height:100px;margin:10px 0 20px;
}
</style>		
	</head>
	<body>
		<div class="mylayout">
				<div class="north">
					<div style="float: left;padding: 5px 0 0 20px;font-size: 24px;color: #fff;">${session_store_name }LOGO</div>
					<div style="float: right;color: #fff;padding: 10px;">

					管理编号：${session_admin_id }
					
					&nbsp;&nbsp;&nbsp;
					
					管理帐号：${session_admin_name }
					
					
					&nbsp;&nbsp;&nbsp;
					<a href="logout" style="color: #fff">退出系统</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
				<div class="west">
					
					
					<ul id="menu-list-group" class="list-group">
						<li class="list-group-item active">
							<a data-addtab="article" data-url="ehaisArticleView">
								<i class="glyphicon glyphicon-cloud"></i>
								推广软文
							</a>							
						</li>
						<li class="list-group-item active">
							<a data-addtab="story" data-url="ehaisBrandStoryView">
								<i class="glyphicon glyphicon-euro"></i>
								品牌故事
							</a>							
						</li>
						<li class="list-group-item">
							<a data-addtab="addlist" data-url="ehaisGoodsView">
								<i class="glyphicon glyphicon-glass"></i>商品信息
							</a>
						</li>
						<li class="list-group-item active ">
							<a data-addtab="order" data-url="ehaisOrderView">
								<i class="glyphicon glyphicon-list-alt"></i>
								订单信息
							</a>							
						</li>
						<li class="list-group-item active">
							<a data-addtab="agency" data-url="haiAgencyView">
								<i class="glyphicon glyphicon-leaf"></i>
								代理等级
							</a>
						</li>
						<li class="list-group-item active">
							<a data-addtab="user" data-url="haiUsersView!shop_agency">
								<i class="glyphicon glyphicon-tree-deciduous"></i>
								地区代理
							</a>							
						</li>
						
						<li class="list-group-item active">
							<a data-addtab="user" data-url="haiUsersView!shop">
								<i class="glyphicon glyphicon-leaf"></i>会员信息
							</a>							
						</li>
						<li class="list-group-item active">
							<a data-addtab="forum" data-url="haiForumView" >
								<i class="glyphicon glyphicon-cd"></i>
								品酒心语
							</a>
						</li>
						<!-- 
						<li class="list-group-item active gray">
							<a href="javascript:;">
								<i class="glyphicon glyphicon-minus-sign"></i>
								物流单管理
							</a>							
						</li>
						<li class="list-group-item active gray">
							<a href="javascript:;">
								<i class="glyphicon glyphicon-minus-sign"></i>
								促销管理
							</a>							
						</li>						
						<li class="list-group-item active ">
							<a data-addtab="payment" data-url="haiPaymentView" >
								<i class="glyphicon glyphicon-king"></i>
								支付设置
							</a>							
						</li>
						 -->
						<li class="list-group-item active ">
							<a data-addtab="shipping" data-url="haiShippingView" >
								<i class="glyphicon glyphicon-knight"></i>
								物流设置
							</a>							
						</li>
						<li class="list-group-item active ">
							<a data-addtab="store_setting" data-url="haiStoreSettingDetail" >
								<i class="glyphicon glyphicon-cog"></i>
								分销设置
							</a>							
						</li>
						
						
						
					</ul>
				</div>
				<div class="center">
					<div id="pctabs">
						<!-- Nav tabs -->
						<ul id="my-nav-tabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div id="my-tab-content" class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
							<div id="jqrcode" >
								
								<div id="articleLink">
									软文推广码
									<div id="articleQR"></div>
								</div>
								<div id="shopLink">
									商城推广码
									<div id="shopQR"></div>
								</div>
							</div>
							</div>
						</div>

					</div>
				</div>
				<div class="south">技术支持：广州易海司信息科技有限公司</div>
			</div>
<script type="text/javascript">
var articleLink = "${articleLink}";
var shopLink = "${shopLink}";

var north_w="",north_h="",south_w="",south_h="",west_w="",west_h="",center_w="",center_h="";
var my_nav_tabs_w="",my_nav_tabs_h="",my_tab_content_w="",my_tab_content_h="";
var menu_height = 0;
$(function(){
	$('#articleQR').qrcode({width:100,height:100,correctLevel:0,text:articleLink});
	$('#shopQR').qrcode({width:100,height:100,correctLevel:0,text:shopLink});
	
	menu_height = $("#menu-list-group").height();
	
	north_w = $(".north").width();
	north_h = $(".north").height();	
	
	west_w = $(".west").width();
	west_h = $(".west").height();
	
	center_w = $(".center").width();
	center_h = $(".center").height();
	
	my_nav_tabs_w = $("#my-nav-tabs").width();
	my_nav_tabs_h = $("#my-nav-tabs").height();
	
	my_tab_content_w = $("#my-tab-content").width();
	$("#my-tab-content").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"]").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"] > iframe").height(center_h - my_nav_tabs_h);
	my_tab_content_h = $("#my-tab-content").height();
	
	$("#layerx").html("layerx"+(center_h - my_nav_tabs_h));
	
	
	
/* 	
 	$(".north").html(north_w+"+"+north_h +
	"="+
	west_w+"+"+west_h+
	"=="+
	center_w+"+"+center_h+
	"==="+
	my_nav_tabs_w+"+"+my_nav_tabs_h+
	"==="+
	my_tab_content_w+"+"+my_tab_content_h+
	"====="+
	menu_height+";==;"+$(document).height()+";===;"+$(window).height()
	
	); 
 	 */
	south_w = $(".south").width();
	south_h = $(".south").height();	
	//$(".south").html(south_w+"+"+south_h);
	//$.addtabs({settings:{iframeHeight:500}});
//	alert($.addtabs.settings.iframeHeight);
});

$(window).resize(function () {          //当浏览器大小变化时
//  alert($(window).height());          //浏览器时下窗口可视区域高度
//  alert($(document).height());        //浏览器时下窗口文档的高度
//  alert($(document.body).height());   //浏览器时下窗口文档body的高度
//  alert($(document.body).outerHeight(true)); //浏览器时下窗口文档body的总高度 包括border padding margin
    
	north_w = $(".north").width();
	north_h = $(".north").height();	
	
	west_w = $(".west").width();
	west_h = $(".west").height();
	
	center_w = $(".center").width();
	center_h = $(".center").height();
	
	my_nav_tabs_w = $("#my-nav-tabs").width();
	my_nav_tabs_h = $("#my-nav-tabs").height();
	
	my_tab_content_w = $("#my-tab-content").width();
	
	$("#my-tab-content").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"]").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"] > iframe").height(center_h - my_nav_tabs_h);
	my_tab_content_h = $("#my-tab-content").height();
	
//	$("#layerx").html("layerx"+(center_h - my_nav_tabs_h));
/* 	
	$(".north").html(north_w+"+"+north_h +
	"="+
	west_w+"+"+west_h+
	"=="+
	center_w+"+"+center_h+
	"==="+
	my_nav_tabs_w+"+"+my_nav_tabs_h+
	"==="+
	my_tab_content_w+"+"+my_tab_content_h+
	"====="+
	menu_height+";==;"+$(document).height()+";===;"+$(window).height()
	);
	 */
	south_w = $(".south").width();
	south_h = $(".south").height();	
	//$(".south").html(south_w+"+"+south_h);
	
});

function show_qrcode(){
	
}

</script>


	</body>
</html>
