<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/pclive.css" />
	</head>
	<body>
		
		<div class="main">
			<div class="header">
				<div class="logo"></div>
				<div class="nav">
					<ul>
						<li class="active">首页</li>
						<li>学术讲座</li>
						<li>教学视频</li>
						<li>校园文化</li>
						<li>党建工作</li>
						<li>教师风采</li>
						<li>学生访谈</li>
						<li>梦想激励人生</li>
						<li>其它视频</li>
					</ul>
				</div>
			</div>
			<div class="ad">
				<div class="wrapper">
					<ul>
						<li><img src="img/web/banner.png" /></li>
					</ul>
				</div>
				<div class="nav">
					<ul>
						<li class="active">
							<div>歌舞青春</div>
							<div>挥洒斗志，成就梦想</div>
						</li>
						<li class="">
							<div>学思践悟十九大：畅想2050</div>
							<div></div>
						</li>
						<li class="">
							<div>共筑中国梦：共筑中国梦</div>
							<div></div>
						</li>
						<li class="">
							<div>公仆之路：公仆之路</div>
							<div></div>
						</li>
						<li class="">
							<div>走进科学：蒙丽莎的真相</div>
							<div></div>
						</li>
						<li class="">
							<div>校内原创视频：视频</div>
							<div></div>
						</li>
						<li class="">
							<div>宣传片：炫风车手进校园</div>
							<div></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="recommend">
				<div class="rec">
					<div>
						<img src="img/web/img1.png" />
						<div>30:16</div>
					</div>
					<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
									
				</div>
				<div class="item">
					<ul>
						<li class="active">
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img2.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
					</ul>
				</div>
			</div>
			<div class="live">
				<!-- 学术讲座 start -->
				<div class="module l">
					<div class="title">
						<img class="icon" src="img/web/icon1.png"/>
						<h3>学术讲座</h3>
						<div class="more">更多&gt;&gt;</div>
					</div>
					<ul>
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
					</ul>
				</div>
				<!-- 学术讲座 end -->
				
				<!-- 教学视频 start -->
				<div class="module r">
					<div class="title">
						<img class="icon" src="img/web/icon2.png"/>
						<h3>教学视频</h3>
						<div class="more">更多&gt;&gt;</div>
					</div>
					<ul>
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
					</ul>
				</div>
				<!-- 教学视频 end -->
				
				
				
				<!-- 校园文化 start -->
				<div class="module l">
					<div class="title">
						<img class="icon" src="img/web/icon3.png"/>
						<h3>校园文化</h3>
						<div class="more">更多&gt;&gt;</div>
					</div>
					<ul>
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
					</ul>
				</div>
				<!-- 校园文化 end -->
				
				<!-- 学生访谈 start -->
				<div class="module r">
					<div class="title">
						<img class="icon" src="img/web/icon4.png"/>
						<h3>学生访谈</h3>
						<div class="more">更多&gt;&gt;</div>
					</div>
					<ul>
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
					</ul>
				</div>
				<!-- 学生访谈 end -->
				
				
				
				
				<!-- 校园电视台 start -->
				<div class="module all">
					<div class="title">
						<img class="icon" src="img/web/icon5.png"/>
						<h3>校园电视台</h3>
						<div class="more">更多&gt;&gt;</div>
					</div>
					<ul>
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						
						<li class="">
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						<li>
							<div>
								<img src="img/web/img3.png" />
								<div>30:16</div>
								<img src="img/web/play.png" />
							</div>
							<div>老外遇到广东早茶，吃的开始怀疑人生，为啥中国美食都那么好</div>
							
						</li>
						
					</ul>
				</div>
				<!-- 校园电视台 end -->
				
				
				
				
				
				
				
				
			</div>
			<div class="footer">
				Copyright ⓒ 2017 广州城市职业学院 技术支持：碧辉腾乐（UNSUN.NET）网站管理 访问人数：123123
			</div>
		
		</div>
		
	</body>
</html>
