<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="css/h5live.css" />
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>		
	</head>
	<body>
		
		<div class="w">
			
			
			
			
			<section >
				<div class="video" style="background:url(${article.articleThumb})">
				
				
				<video width="320" height="240" controls="controls">
				  <source src="${article.videoUrl}" type="video/mp4">
					Your browser does not support the video tag.
				</video>

				</div>
				<div class="title">${article.title}</div>
			</section>
			
			
			<article class="category">
				<ul id="">
					<li class="title">
						<img src="img/media_h5/icon2.png">
						<h4>推荐视频</h4>
						
					</li>
					<#if (listArticleHot?? && listArticleHot?size > 0)>
					<#list listArticleHot as a>
					<li class="play" val="${a.articleId}">
						<div>
							<img src="${a.articleThumb!''}" />
							<div>${a.articleLabel!''}</div>
							<img src="img/1360/play.png" />
						</div>
						<div>${a.title!''}</div>
						<div>
							<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
							<div class="counts">${a.readCount!'0'}次</div>
						</div>
					</li>							
					
					</#list>
					</#if>
							
					
				</ul>
			</article>
			
			<#include "footer.html">
		</div>
	</body>
</html>
