<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no, email=no "/>
		<title>${article.title}</title>
		<link rel="stylesheet" href="css/h5live.css" />
		<!--样式表开始-->
		<link type="text/css" rel="stylesheet" href="css/demo.css"/>
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="/js/media/web.js" ></script>
		<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" 
src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cytxoFPvt&conf=prod_b375f29e56add8e27e4809a7dd441704">
</script>		
<script type="text/javascript">

		
		function dianzhan(){
			
			var praise_img = $("#praise-img");
			var text_box = $("#add-num");
			var praise_txt = $("#praise-txt");
			var num=parseInt(praise_txt.text());
			var id=$("#cid").val();
			
			if(praise_img.attr("src") == ("img/1366/yizan.png")){
				
				$(this).html("<img src='img/1366/zan.png' id='praise-img' class='animation' style='width: 24px;height: 22px;'/>");
				praise_txt.removeClass("hover");
				text_box.show().html("<em class='add-animation'>-1</em>");
				$(".add-animation").removeClass("hover");
				num -=1;
				praise_txt.text(num)
				
				$.ajax({
		            url:'/dianzhang.lv',
		            type:'POST',
		            data:{'dianzhan' : num,'id' : id,'fa' : 0},
		          
		            dataType : "json",
		           
					async : true,
		            success:function(data){
		            		
		            	  }
				
			 });
			}else{
				$(this).html("<img src='img/1366/yizan.png' id='praise-img' class='animation' style='width: 24px;height: 22px;' />");
				praise_txt.addClass("hover");
				text_box.show().html("<em class='add-animation'>+1</em>");
				$(".add-animation").addClass("hover");
				num +=1;
				praise_txt.text(num)
					
				$.ajax({
		            url:'/dianzhang.lv',
		            type:'POST',
		            data:{'dianzhan':num,'id':id,'fa':1},
		            dataType : "json",
		            
					async : true,
		            success:function(data){
		            		alert(data);
			           		$("#sessionid").val(data);
		            	  }
				
			 });
			}
		
}

</script>
	</head>
	<body>
		
		<div class="w">
			
			<section >
				<div class="video" style="background:url(${article.articleThumb})">
				
				<video width="100%" controls="controls">
				  <source src="${video_transfer_website}/${article.videoUrl}" type="video/mp4">
					Your browser does not support the video tag.
				</video>

				</div>
				<div class="title">${article.title}</div>
			</section>
			<div>
					<div style="padding-top: 20px;">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
								class="bds_qzone" data-cmd="qzone" style=""></a><a href="#"
								class="bds_tsina" data-cmd="tsina" style=""></a><a href="#"
								class="bds_tqq" data-cmd="tqq" style=""></a><a href="#"
								class="bds_renren" data-cmd="renren" style=""></a><a href="#"
								class="bds_weixin" data-cmd="weixin" style=""></a>
						</div>
						<script>
							window._bd_share_config = {
								"common" : {
									"bdSnsKey" : {},
									"bdText" : "",
									"bdMini" : "2",
									"bdPic" : "",
									"bdStyle" : "0",
									"bdSize" : "16"
								},
								"share" : {},
								"image" : {
									"viewList" : [ "qzone", "tsina", "tqq",
											"renren", "weixin" ],
									"viewText" : "分享到：",
									"viewSize" : "16"
								},
								"selectShare" : {
									"bdContainerClass" : null,
									"bdSelectMiniList" : [ "qzone", "tsina",
											"tqq", "renren", "weixin" ]
								}
							};
							with (document)
								0[(getElementsByTagName('head')[0] || body)
										.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
										+ ~(-new Date() / 36e5)];
						</script>
					</div>
					
						
							<div class="praise" style="margin: 20px auto;">
								<span id="praise" onclick="dianzhan()"><img src="img/1366/zan.png" id="praise-img" style="width: 24px;height: 22px;" /></span>
								<span id="praise-txt" style=" margin-right: -16px; margin-left: -12px;color: red;">${d}</span>
								<span id="add-num"><em>+1</em></span>
							</div>
												
				</div>
			
			<article class="category">
				<ul id="">
					<li class="title">
						<img src="img/media_h5/icon2.png">
						<h4>推荐视频</h4>
						
					</li>
					<#if (listArticleHot?? && listArticleHot?size > 0)>
					<#list listArticleHot as a>
					<li class="play" val="${a.articleId}">
						<div>
							<img src="${video_url_website}${a.articleThumb!''}" />
							<div>${a.articleLabel!''}</div>
							<img src="img/1360/play.png" />
						</div>
						<div>${a.title!''}</div>
						<div>
							<div class="date">${(a.articleDate?string('yyyy-MM-dd'))!''}</div>
							<div class="counts">${a.readCount!'0'}次</div>
						</div>
					</li>							
					
					</#list>
					</#if>
							
					
				</ul>
			</article>
						<div>	<input type="hidden" name="id" id="cid" value="${cid}">
					<input type="hidden" name="sessionid" id="sessionid" value="${sessionid}"></div>
					
									
						<div id="SOHUCS" ></div> 
 

			<#include "footer.html">
		</div>
	</body>
</html>
