<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>交易记录</title>
		
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/table/bootstrap-table.min.css" />
		<script type="text/javascript" src="/js/bootstrap/table/bootstrap-table.min.js" ></script>
		<script type="text/javascript" src="/js/bootstrap/table/locale/bootstrap-table-zh-CN.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/datetimepicker/css/daterangepicker.css" />
		<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/moment.js" ></script>
		<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/daterangepicker.js" ></script>
		
		<link rel="stylesheet" href="/css/wine.css" />
		
		<script type="text/javascript" src="/js/layer/layer.js" ></script>
		<script type="text/javascript" src="/js/adminCommon.js" ></script>
		
	</head>
	<body>
		<div class="header">
			<div class="inner">
				<div class="logo">金藤酒荟LOGO</div>
				<div class="main">金藤酒荟地区代理管理后台</div>
				<div class="account">代理名称<br>代理地区</div>
			</div>
		</div>
		<div class="body">
			<div class="container_box">
				<div class="col_side">
					<#include "a_sub_menu.html"/>
				</div>
				<div class="col_main">
					<div class="main_hd fa fa-hand-o-right">交易记录查询</div>
					<div class="main_search">
						搜索条件
					</div>
					<div class="main_search form-inline">
						<input type="hidden" id="start_time" name="start_time" value="2010-01-01"/>
						<input type="hidden" id="end_time" name="end_time" value="2017-01-01"/>

						<div class="row form-group">						
							<div class="input-group">
								<input id="config-demo" class="form-control" type="text">
								<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
							</div>
						</div>
						<button id="btnSearch" class="fa fa-search">搜索</button>
					
					</div>
					<div class="main_table">
						<table id="bsTable"></table>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<script type="text/javascript">
		var bsTable = null;	
		$(function(){
				bsTable = $('#bsTable').bootstrapTable({
					contentType: "application/x-www-form-urlencoded",
		            url: 'trade_json',//请求后台的url
		            method: 'post',//请求方式
		            toolbar: '#toolbar',//工具按钮用哪个容器
		            dataType: "json",
		    		pagination: true, //分页
		    		//search: true, //显示搜索框
		            striped: true,//是否显示行间隔色
		            cache: false,
		            sortable: true,//是否启用排序
		            sortOrder: 'asc',//排序方式
		            clickToSelect: true,//是否启用点击选中行
		            pageNumber: 1,
		    	    pageSize: 20,
		    	    pageList: [10, 20,30],
		    	    queryParamsType:'',
		    	    queryParams: function (params) {
		    	        return {
		    	            rows: params.pageSize,   //页面大小  
		                    page: params.pageNumber,  //页码  
		                    start_time : $("#start_time").val(),
		                    end_time : $("#end_time").val()
		    	        }
		    	    },
		            sidePagination: "server", //服务端处理分页
		            uniqueId: 'orderId',//每一行的唯一标识，一般为主键列
		            columns: [{
		                field: 'orderSn',
		                title: '订单编号'
		            }, {
		                field: 'goodsName',
		                title: '商品名称'
		            }, {
		                field: 'goodsNumber',
		                title: '购买数量 '
		            }, {
		                field: 'payTime',
		                title: '购买时间',
		                formatter : function(value,row,index){
		                	var date =  new Date(parseInt(value) * 1000);
		                	return date.format("yyyy-MM-dd");
		                }
		            }]
		        });
				
				$("#btnSearch").click(function(){bsTable.bootstrapTable('refresh', { query : {page : 1} });});
				
				
				$('#config-demo').daterangepicker({
				    "autoApply": true,
				    "startDate": "08/01/2017",
				    "endDate": "09/30/2017",
				}, function(start, end, label) {
					$("#start_time").val(start.format('YYYY-MM-DD'));
					$("#end_time").val(end.format('YYYY-MM-DD'));
				  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
				});
				
				
			});
		</script>
	</body>
</html>
