<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>地址信息</title>
		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/w_address.css" />
	</head>
	<body>
		<div class="w_address_wrapper">
			<header>
				<div class="fa fa-chevron-left"></div>
				<div class="middle">地址信息</div>
				<div class="fa fa-plus-circle"></div>
			</header>
			<div class="list">
				<#if userAddressList??>
				<#list userAddressList as addr>
				<div class="item" addressid="${addr.addressId}">
					<div class="default <#if addr.isDefault == '1'>active</#if>"><span class="fa fa-leaf"></span></div>
					<div class="info">
						<div class="username">
							<span class="consignee">${addr.consignee!''}</span>
							<span class="fa fa-mobile"></span>
							<span class="mobile">${addr.mobile}</span>
						</div>
						<div class="address">${addr.address}</div>
					</div>
					<div class="edit"><span class="fa fa-chevron-right"></span></div>
				</div>
				</#list>
				</#if>
			</div>
			
		</div>
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="../js/layer/mobile/layer.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script src="../js/wine/w_address_list.js"></script>
		<script type="text/javascript">
		function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
		</script>
	</body>
</html>
