<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<#include "/include.html"/>
		<#include "/FreemarkerMacro.html"/>
		
	</head>
	<body>
		<div class="header">
			<div class="nav">
				<i class="icon fa fa-home">&nbsp;</i>
				<div class="nav0">请假信息明细列表</div>
			</div>
		</div>
		<div class="body">
			<div class="container_box">
				
				<div class="col_main body">
					
					<div class="main_table">
						<table id="bsTable" data-show-columns="false"></table>
					</div>

				</div>
			</div>
		</div>

		
		<script type="text/javascript" src="/js/ep_school/begoff/view.js" ></script>
	</body>
</html>
