<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<#include "/include/BootStrap_Include.html">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bi/bi.css"></link>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		门店搜索  日期
	</div>
	<div class="row">
		<h2>2017-05销售汇总</h2>
	</div>
	<div class="row row_report">
		<ul class="ul_report">
			<li class="c1">
				<div><span class="fa fa-users"></span></div>
				<div class="num">259</div>
				<div class="lbl">新注册会员数<br>(人)</div>
			</li>
			<li class="c2">
				<div><span class="fa fa-user"></span></div>
				<div class="num">259</div>
				<div class="lbl">全品类新客数<br>(人)</div>
			</li>
			<li class="c3">
				<div><span class="fa fa-user-md"></span></div>
				<div class="num">259</div>
				<div class="lbl">消费者人数<br>(人)</div>
			</li>
			<li class="c4">
				<div><span class="fa fa-paragraph"></span></div>
				<div class="num">259</div>
				<div class="lbl">会员消费金额<br>(万元)</div>
			</li>
			<li class="c5">
				<div><span class="fa fa-ticket"></span></div>
				<div class="num">259</div>
				<div class="lbl">代金券金额<br>(万元)</div>
			</li>
			<li class="c6">
				<div><span class="fa fa-file-text"></span></div>
				<div class="num">259</div>
				<div class="lbl">客单价<br>(元)</div>
			</li>
			<li class="c7">
				<div><span class="fa fa-money"></span></div>
				<div class="num">259</div>
				<div class="lbl">销售总额<br>(万元)</div>
			</li>
			<li class="c8">
				<div><span class="fa fa-strikethrough"></span></div>
				<div class="num">259</div>
				<div class="lbl">毛利金额<br>(万元)</div>
			</li>
			<li class="c9">
				<div><span class="fa fa-chain (alias)"></span></div>
				<div class="num">259</div>
				<div class="lbl">毛利率<br>(%)</div>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>	
</body>
</html>