<!DOCTYPE html>
<html>
<head>
<#include "/include/Jqmobi_Include.html">
<title>${title}</title>
<link rel="stylesheet" type="text/css" href="/css/weixin/form_list.css" />
</head>
<body class="jqmobi">

<div class="view " id="mainview">
	<header>
      	<h1></h1>
  	</header>
  	<div class="pages">
  		<div  class="panel active" id="main" data-title="${title}" data-selected="true">
  			
  			<form action="${rm.action}" method="post">
   			<ul class="list nobline form">
   				
   				<li class="">
   					<div class="fl lbl">企业用户名：</div>
   					<div class="fl txt" >
   						<input type="text" id="" name="" >
   					</div>
   				</li> 
   				<li class="">
   					<div class="fl lbl">企业密码：</div>
   					<div class="fl txt" >
   						<input type="password" id="" name="" >
   					</div>
   				</li>	
   				<li class="">
   					<div class="fl lbl">确认密码：</div>
   					<div class="fl txt" >
   						<input type="password" id="" name="" >
   					</div>
   				</li>		
   				<li class="">
   					<div class="fl lbl">所属行业：</div>
   					<div class="fl txt" >
   						<select id="hy">
   							<option value="">家电行业</option>
   							<option value="">汽车行业</option>
   							<option value="">电池行业</option>
   							<option value="">陶瓷行业</option>
   							<option value="">电视行业</option>
   							<option value="">电脑行业</option>
   							<option value="">软件行业</option>
   							<option value="">通信行业</option>
   						</select>
   					</div>
   				</li>
   				<li class="">
   					<div class="fl lbl">企业类别：</div>
   					<div class="fl txt" >
   						<select id="hy">
   							<option value="">政府单位</option>
   							<option value="">国企</option>
   							<option value="">民营</option>
   							<option value="">个体户</option>
   						</select>
   					</div>
   				</li>  
   				<li class="">
   					<div class="fl lbl">企业名称：</div>
   					<div class="fl txt" >
   						<input type="text" id="" name="" >
   					</div>
   				</li> 
   				<li class="">
   					<div class="fl lbl">企业地址：</div>
   					<div class="fl txt" >
   						<input type="text" id="" name="" >
   					</div>
   				</li> 
   				<li class="">
   					<div class="fl lbl">联系人：</div>
   					<div class="fl txt" >
   						<input type="text" id="" name="" >
   					</div>
   				</li> 
   				<li class="">
   					<div class="fl lbl">联系电话：</div>
   					<div class="fl txt" >
   						<input type="text" id="" name="" >
   					</div>
   				</li> 
   				<li class="submit">
     				<button type="button" id="submit" name="submit"  class="btn btn-bs btn-outline w100">提交审核</button>
     			</li>
        	</ul>
        	
        	</form>
  			
  		</div>        		
  	</div>
      	
</div> 

</body>
</html>