<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/ehais/js/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="/ehais/js/bootstrap/css/bootstrap-theme.min.css" >


<link href="/ehais/js/bootstrap/table/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="/ehais/css/ehais.v2.css" />

<!--[if lt IE 9]>
   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
   
   
<link rel="stylesheet" href="/ehais/css/editable.css" />

<script src="/ehais/js/jquery-2.1.4.min.js"></script>
<script src="/ehais/js/bootstrap/js/bootstrap.min.js"></script>


<link href="/ehais/js/layer/skin/default/layer.css" rel="stylesheet">
<script src="/ehais/js/layer/layer.js"></script>


<script src="/ehais/js/document_ctrl_key.js"></script>
<script src="/ehais/js/editableInputSelect.js"></script>


<script src="/ehais/js/bootstrap/table/bootstrap-table.min.js"></script>
<script src="/ehais/js/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/ehais/js/editableList.js"></script>

<script type="text/javascript" charset="utf-8" src="/ehais/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ehais/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ehais/js/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" src="/ehais/js/pinyinjs/dict/pinyin_dict_firstletter.js"></script>
<script type="text/javascript" src="/ehais/js/pinyinjs/pinyinUtil.js"></script>

<script type="text/javascript" src="/ehais/js/validation/lib/jquery.mockjax.js"></script>
<script type="text/javascript" src="/ehais/js/validation/lib/jquery.form.js"></script>
<script type="text/javascript" src="/ehais/js/validation/dist/jquery.validate.js"></script>
	

<link rel="stylesheet" href="/ehais/js/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="/ehais/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js" ></script>
<script type="text/javascript" src="/ehais/js/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
	
	