<!-- <script type="text/javascript" src="/ehais/js/tree_unit.js"></script> -->
<!-- category -->
<!-- < @ categorySelectPicker id="a" value="rm.model.parentId" defaultValue="0" defaultText="--请选择分类--" />  -->
<#macro categorySelectPicker id=""  value="" defaultValue="" defaultText="" module="all">
	<select class="form-control" id="${id}" name="${id}" >
		<option value="${defaultValue!'0'}">${defaultText!'--请选择分类--'}</option>
	</select>
	
	<script type="text/javascript">
		$(function(){
			${id}TreeSelectPicker(${value!'0'});
		});
		function ${id}TreeSelectPicker(val){
			$("#${id} option:not(:first)").remove();
			$.ajax({
				url: "baseapi/category.tree.data",type:"post",dataType:"json",
				data:{cat_id:${value!'0'}},
				success:function(res){
					var data = res.rows;
					var tree = getTreeLevel(data,0);
					tree.forEach(function (item) {
						var style = "";
						var em = "";
						if(item.level == 0){
							style = "style='font-weight:bold;'";
						}else{
							for(var i = 0 ; i <= item.level ; i ++){
								em+="&nbsp;&nbsp;";
							}
						}						
						
						$("#${id}").append("<option value='"+item.id+"' "+style+">"+em+item.title+"</option>");
						style = em = null;
					});
					$("#${id}").val(val);
				}
			})
		}	
	</script>
</#macro>



<!-- article_cat -->

<!-- < @ navSelectPicker id="a" value="rm.model.parentId" defaultValue="0" defaultText="--请选择分类--" />  -->
<#macro navSelectPicker id=""  value="" defaultValue="" defaultText="" >
	<select class="form-control" id="${id}" name="${id}" >
		<option value="${defaultValue!'0'}">${defaultText!'--请选择分类--'}</option>
	</select>
	
	<script type="text/javascript">
		$(function(){
			${id}TreeSelectPicker(${value!'0'});
		});
		
		function ${id}TreeSelectPicker(val){
			$("#${id} option:not(:first)").remove();
			$.ajax({
				url: "baseapi/nav.tree.data",type:"post",dataType:"json",
				data:{id:${value!'0'}},
				success:function(res){
					var data = res.rows;
					var tree = getTreeLevel(data,0);
					tree.forEach(function (item) {
						var style = "";
						var em = "";
						if(item.level == 0){
							style = "style='font-weight:bold;'";
						}else{
							for(var i = 0 ; i <= item.level ; i ++){
								em+="&nbsp;&nbsp;";
							}
						}						
						
						$("#${id}").append("<option value='"+item.id+"' "+style+">"+em+item.title+"</option>");
						style = em = null;
					});
					$("#${id}").val(val);
				}
			});
		}
	</script>
</#macro>



<!-- < @ articleCatSelectPicker id="a" value="rm.model.parentId" defaultValue="0" defaultText="--请选择分类--" module="all" classify="list" />  -->
<#macro articleCatSelectPicker id=""  value="" defaultValue="" defaultText="" module="all" classify="list">
	<select class="form-control" id="${id}" name="${id}" >
		<option value="${defaultValue!'0'}">${defaultText!'--请选择分类--'}</option>
	</select>
	
	<script type="text/javascript">
		$(function(){
			${id}TreeSelectPicker(${value!'0'});
		});
		function ${id}TreeSelectPicker(val){
			$("#${id} option:not(:first)").remove();
			$.ajax({
				url: "baseapi/article.cat.tree.data",type:"post",dataType:"json",
				data:{cat_id:${value!'0'},module:'${module}',classify:'${classify}'},
				success:function(res){
					var data = res.rows;
					var tree = getTreeLevel(data,0);
					tree.forEach(function (item) {
						var style = "";
						var em = "";
						if(item.level == 0){
							style = "style='font-weight:bold;'";
						}else{
							for(var i = 0 ; i <= item.level ; i ++){
								em+="&nbsp;&nbsp;";
							}
						}						
						
						$("#${id}").append("<option value='"+item.id+"' "+style+">"+em+item.title+"</option>");
						style = em = null;
					});
					$("#${id}").val(val);
				}
			})
		}	
	</script>
</#macro>


<!-- < @ moduleSelectPicker id="a" value="rm.model.parentId" defaultValue="0" defaultText="--请选择分类--" module="all" classify="list" />  -->
<#macro moduleSelectPicker id=""  value="" defaultValue="" defaultText="" >
	<select class="form-control" id="${id}" name="${id}" >
		<option value="${defaultValue!'0'}" module="">${defaultText!'--请选择分类--'}</option>
	</select>
	
	<script type="text/javascript">
		$(function(){
			${id}TreeSelectPicker(${value!'0'});
		});
		function ${id}TreeSelectPicker(val){
			$("#${id} option:not(:first)").remove();
			$.ajax({
				url: "baseapi/module.tree.data",type:"post",dataType:"json",
				data:{cat_id:${value!'0'}},
				success:function(res){
					var data = res.rows;
					var tree = getTreeLevel(data,0);
					tree.forEach(function (item) {
						var style = "";
						var em = "";
						if(item.level == 0){
							style = "style='font-weight:bold;'";
						}else{
							for(var i = 0 ; i <= item.level ; i ++){
								em+="&nbsp;&nbsp;";
							}
						}						
						
						$("#${id}").append("<option value='"+item.id+"' "+style+" module='"+item.module+"'>"+em+item.title+"</option>");
						style = em = null;
					});
					$("#${id}").val(val);
				}
			})
		}	
	</script>
</#macro>



<script type="text/javascript">

function getTreeLevel(list,parentId){
	var data = [];
	var level = 0;
	for (let i = 0; i < list.length; i++) {
		if(list[i].parent_id == parentId){
			
			list[i].level = level;
			data.push(list[i]);
			getSubTreeLevel(data,list,list[i].id,level);
		}
	}
	return data;
}

function getSubTreeLevel(data,list,parentId,level){
	level ++;
	for (let i = 0; i < list.length; i++) {
		if(list[i].parent_id == parentId){			
			list[i].level = level;
			data.push(list[i]);
			getSubTreeLevel(data,list,list[i].id,level);
		}
	}
}

</script>
