<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>岭南画派纪念馆</title>
</head>
<body>
<script type="text/javascript">  
var url = window.location.href;

if(url.indexOf("Id=329") > 0){
	window.location.href = "/info/1149/1075.htm";
}else if(url.indexOf("Id=328") > 0){
	window.location.href = "/info/1149/1076.htm";
}else if(url.indexOf("Id=324") > 0){
	window.location.href = "/info/1149/1078.htm";
}else if(url.indexOf("Id=325") > 0){
	window.location.href = "/info/1149/1077.htm";
}

</script>
</body>
</html>