<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>微签分享</title>
		
		<link rel="stylesheet" href="css/vtu.css" />
		
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>

		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script type="text/javascript" src="js/wxsdk.js" ></script>
		
	</head>
	<body>
		<div class="share_wrapper">
			<img class="share" src="${vtuShare.vtuPic!''}">
			
		</div>
		
		<script type="text/javascript">
			var vid = "${vid}";
			var signature = ${signature};
			
			$(function(){
				signature.shareSuccess = function (m){
					$.get("/vtuShareSuccess!"+vid);
				}
				signature.shareCancel = function (m){
					
				}
				wx_config(signature);
			});
			
			
			
			
			
		</script>
	</body>
</html>
