<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>

		<#include "/include.html"/>
		<#include "/FreemarkerMacro.html"/>

<title>Insert title here</title>
</head>
<body>
<div class="header">
	<div class="nav">
		<a href="javascript:;" id="back" class="icon fa fa-arrow-left ">&nbsp;</a>
		<div class="nav0">留言管理</div>
		<div class="nav1">信息编辑</div>
	</div>
</div>
<div style="width: 100%;height: 40px;"></div>
<div class="container-fluid">
<form id="myForm" name="myForm" class="form-horizontal" action="${rm.action?default('')}" method="post">


<input type="hidden" class="form-control" id="forumId" name="forumId" value="${rm.model.forumId!''}" >
<div class="form-group">
<label class="col-sm-2 control-label">user_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="userId" name="userId" value="${rm.model.userId!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">table_name</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="tableName" name="tableName" value="${rm.model.tableName!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">table_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="tableId" name="tableId" value="${rm.model.tableId!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">content</label>
<div class="col-sm-8">
	<textarea class="form-control" id="content" name="content" placeholder="">${rm.model.content!''}</textarea>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">create_date</label>
<div class="col-sm-8">
	<@bsDatePicker id="createDate" value="${((rm.model.createDate?string('yyyy-MM-dd'))!'')}" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">store_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="storeId" name="storeId" value="${rm.model.storeId!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">回复某评论的上级ID</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="parentForumId" name="parentForumId" value="${rm.model.parentForumId!''}" placeholder="">
</div>
</div>





<div class="form-group">
	<div class="col-sm-3"></div>
	<div class="col-sm-6"><button id="saveSubmit" type="button" class="btn btn-primary">提交信息</button></div>
</div>
       




</form>
</div>    


<script type="text/javascript" src="/js/admin/forum/detail.js" ></script>             


</body>
</html>
