<!-- 日期控件：< @ bsDatePicker id="a" value="${((rm.model.time?string('yyyy-MM-dd'))!'')}" /> -->
<#macro bsDatePicker id="" value="" >
    <div class="input-group date form_date_${id} " data-date="" data-date-format="yyyy-mm-dd">
		<input class="form-control" size="16" type="text" id="${id}" name="${id}" value="${(value)!''}"  readonly>
		<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>	
	<script type="text/javascript">
		$(function(){
			$('.form_date_${id}').datetimepicker({
		        language:  'zh-CN',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
		    });
		});
	</script>
</#macro>

<!-- 日期控件：< @ bsGroupDatePicker id="" startId="" endId="" startDate="$ {((rm.model.startDate?string('yyyy-MM-dd'))!''})" endDate="$ {((rm.model.endDate?string('yyyy-MM-dd'))!''})" /> -->
<#macro bsGroupDatePicker id="" startId="" endId="" startDate="" endDate="" >
    <div id="${id}" class="btn" style="display: inline-block; background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc">
	   <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
	   <span>${startDate} ~ ${endDate}</span> 
	   <b class="caret"></b>
	</div>
	<input type="hidden" id="${startId}" name="${startId}" value="${startDate}"/>
	<input type="hidden" id="${endId}" name="${endId}"  value="${endDate}"/>
	<script type="text/javascript">
		$(function(){
		    $('#${id}').daterangepicker(null, function(start, end, label) {
		    	$("#${startId}").val(start.format('YYYY-MM-DD'));
		    	$("#${endId}").val(end.format('YYYY-MM-DD'));
		 		$('#${id} span').html( start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD') );
		    });
		});
	</script>
</#macro>

<!-- 图片控件：< @ bsImagesPicker id="a" value="b" /> -->
<#macro bsImagesPicker id value >
<input type="file" id="${id}_" name="${id}_">
<input type="hidden" id="${id}" name="${id}" value="${value!''}" >
<script type="text/javascript">
$(function(){
	initImageInput("${id}");//图片组件添加
});
</script> 
</#macro>

<!-- 多图片相册控件：< @ bsGalleryPicker id="a" gallery={} /> -->
<#macro bsGalleryPicker id gallery >
<input type="file" id="${id}_" name="${id}_">
<div id="gallery_${id}" class="dn">
	<#if gallery??&&gallery?size gt 0>
	<#list gallery as pic>
		<input type="hidden" id="gallery_pic_${id}_${pic_index}" name="${id}" value="${pic.imgOriginal!''}" no="${pic_index}">
	</#list>
	</#if>
</div>
<script type="text/javascript">
$(function(){
	initGalleryInput("${id}");//图片组件添加
});
</script> 
</#macro>

<!-- 在线编辑控件：< @ ueditorPicker id="a" value="b" /> -->
<#macro ueditorPicker id value >
<textarea  id="${id}" name="${id}" >${value!''}</textarea>
<script type="text/javascript">
$(function(){
	var ue_${id} = UE.getEditor('${id}');
	
    
});
</script>
</#macro>


<!-- 数字控件：< @ quantityPicker id="a" value="b" /> -->
<#macro quantityPicker id value >
	<div class="input-group spinner" data-trigger="spinner">
		<input type="text" class="form-control text-center" id="${id}" name="${id}" value="${value!''}" data-rule="quantity">
		<div class="input-group-addon">
			<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
			<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
		</div>
	</div>
</#macro>

<!-- 货币控件：< @ currencyPicker id="a" value="b" /> -->
<#macro currencyPicker id value >
	<div class="input-group spinner" data-trigger="spinner">
		<input type="text" class="form-control text-center" id="${id}" name="${id}" value="${value!''}" data-rule="currency">
		<div class="input-group-addon">
			<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
			<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
		</div>
	</div>
</#macro>

<!-- 默认数字控件：< @ quantityDefaultsPicker id="a" value="b" rule="defaults"/> -->
<#macro quantityDefaultsPicker id value rule="defaults" >
	<div class="input-group spinner" data-trigger="spinner">
		<input type="text" class="form-control text-center" id="${id}" name="${id}" value="${value!''}" data-rule="${rule}">
		<div class="input-group-addon">
			<a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
			<a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
		</div>
	</div>
</#macro>


<!-- 复选项控件：< @ checkboxPicker id="XX" value="$ {(rm.model.boolean?string('yes', 'no'))!'no'}" /> -->
<#macro checkboxPicker id value >
	<input type="checkbox"  id="${id}" name="${id}" value="1" placeholder="" <#if value == 'yes'> checked="checked" </#if> >
</#macro>


<!-- 复选项控件：< @ checkboxIntegerPicker id="XX" value="$ {(rm.model.boolean?string(''))!'1'}" /> -->
<#macro checkboxIntegerPicker id value >
	<input type="checkbox"  id="${id}" name="${id}" value="1" placeholder="" <#if value == '1'> checked="checked" </#if> >
</#macro>


<!-- bootstrap风格字符串的复选项控件：< @ BSCheckboxChatPicker id="" key="" text="" list={} value={} /> -->
<#macro BSCheckboxChatPicker id="" key="" text="" list={} value="" >
	<ul class="checkboxPicker" id="checkboxPicker_${id}">
		<#if (list?? && list?size > 0) >
		<#if list?is_hash_ex>
			<#local keys=list?keys/>
			<#list keys as key>
				
				<#assign active="">
				 <#if (value?? && value?size > 0) >
				 	<#list value as val>
					 	<#if (key == val!'0') >
					 		<#assign active="active">
					 	</#if>
				 	</#list>
				 </#if>
				 
				<li value="${key}" class="${active}" >${list[key]}</li>
			</#list>
		<#else>
			<#list list as item>
				 <#assign active="">
				 <#if (value?? && value?size > 0) >
				 	<#list value as val>
					 	<#if (item[key]?string('') == (val!'0')) >
					 		<#assign active="active">
					 	</#if>
				 	</#list>
				 </#if>
				<li value="${item[key]!0}" class="${active}" >${item[text]!''}</li>
			</#list>
			</#if>
		</#if>
	</ul>
	<#assign kvalue="">
	<#if (value?? && value?size > 0) >
		<#list value as val>
			<#assign kvalue="${kvalue},${val}">
		</#list>
	</#if>
	<#if (kvalue?length > 0)>
		<#assign kvalue="${kvalue?substring(1,kvalue?length)}">
	</#if>
	
	<input type="hidden" id="${id}" name="${id}" value="${kvalue}">
	<script type="text/javascript">
	$(function(){
		$("#checkboxPicker_${id} li").click(function(){
			$(this).toggleClass("active");
			$("#${id}").val("");
			var idval = "";
			$("#checkboxPicker_${id} li.active").each(function(){
				idval+=$(this).val()+",";
			});
			if(idval.length>0){
				$("#${id}").val(idval.substr(0,idval.length-1));
			}
		});
	});
	</script>
</#macro>


<!-- 下拉菜单控件：< @ selectPicker id="" key="" text="" list={} value=((null?string(''))!'') defaultValue="" defaultText="" /> -->
<#macro selectPicker id="" key="" text="" list={} value="" defaultValue="" defaultText="">
	<select class="form-control" id="${id}" name="${id}" >
		<option value="${defaultValue!'0'}">${defaultText!'--请选择分类--'}</option>		
		<#if (list?? && list?size > 0) >
		<#if list?is_hash_ex>
			<#local keys=list?keys/>
			<#list keys as key>
				<option value="${key}" <#if  (key == (value!'0')) >selected="selected"</#if> >${list[key]}</option>
			</#list>
		<#else>
			<#list list as item>
				<option value="${item[key]!0}" <#if  (item[key]?string('') == (value!'0')) >selected="selected"</#if> >${item[text]!''}</option>
			</#list>
			</#if>
		</#if>
	</select>
</#macro>


<!-- bootstrap风格数字类型的单选控件：< @ BSRadioIntPicker id="" key="" text="" list={} value="0?string('')" /> -->
<#macro BSRadioIntPicker id="" key="" text="" list={} value="" >
	<ul class="radioPicker" id="radioPicker_${id}">
		<#if (list?? && list?size > 0) >
		<#if list?is_hash_ex>
			<#local keys=list?keys/>
			<#list keys as key>
				<li value="${key}" class="<#if (key == (value!'0')) >active</#if>" >${list[key]}</li>
			</#list>
		<#else>
			<#list list as item>
				<li value="${item[key]!0}" class="<#if (item[key]?string('') == (value!'0')) >active</#if>" >${item[text]!''}</li>
			</#list>
			</#if>
		</#if>
	</ul>
	<input type="hidden" id="${id}" name="${id}" value="${value!''}">
	<script type="text/javascript">
	$(function(){
		$("#radioPicker_${id} li").click(function(){
			$("#radioPicker_${id} li").removeClass("active");
			$(this).addClass("active");
			$("#${id}").val($(this).attr("value"));
		});
	});
	</script>
</#macro>

<!-- bootstrap风格字符串的单选控件：< @ BSRadioChatPicker id="" key="" text="" list={} value="" /> -->
<#macro BSRadioChatPicker id="" key="" text="" list={} value="" >
	<ul class="radioPicker" id="radioPicker_${id}">
		<#if (list?? && list?size > 0) >
		<#if list?is_hash_ex>
			<#local keys=list?keys/>
			<#list keys as key>
				<li value="${key}" class="<#if (key == value) >active</#if>" >${list[key]}</li>
			</#list>
		<#else>
			<#list list as item>
				<li value="${item[key]!0}" class="<#if (item[key]?string('') == (value!'0')) >active</#if>" >${item[text]!''}</li>
			</#list>
			</#if>
		</#if>
	</ul>
	<input type="hidden" id="${id}" name="${id}" value="${value!''}">
	<script type="text/javascript">
	$(function(){
		$("#radioPicker_${id} li").click(function(){
			$("#radioPicker_${id} li").removeClass("active");
			$(this).addClass("active");
			$("#${id}").val($(this).attr("value"));
		});
	});
	</script>
</#macro>



<!-- 图片控件：
<#include "/qiniu.html"/>
< @ bsQiniuImagesPicker id="a" value="b" domain="$ {domain}" uptoken="$ {uptoken}"/> 
-->
<#macro bsQiniuImagesPicker id value domain uptoken>
<!-- ////// -->
<div id="eq_qiniuPicker_${id}" class="file-input file-input-ajax-new">
	<div id="eq_preview_wrapper_${id}" class="file-preview hide">
	    <div class=" file-drop-zone">
		    <div class="file-preview-thumbnails" id="eq_preview_${id}">
		    </div>
		    <div class="clearfix"></div>
	    </div>
	</div>
	<div class="kv-upload-progress hide" id="eq_progress_${id}">
		<div class="progress">
		    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
		        0%
		     </div>
		</div>
	</div>
<div class="input-group file-caption-main">

<div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
   <div class="file-caption-name" title=""></div>
</div>

   <div class="input-group-btn" id="eq_pickfiles_${id}">
       <div class="btn btn-primary btn-file">
	       <i class="glyphicon glyphicon-folder-open"></i>&nbsp;  
	       <span class="hidden-xs">选择 …</span>
       </div>
   </div>
</div>
</div>

<input type="hidden" id="${id}" name="${id}" value="${value!''}" >

	<!-- /////////// -->
	
<script type="text/javascript">
$(function() {
	
	show_${id}_pic("${value!''}");
	
    var u_${id}_ploader = Qiniu.uploader({
        disable_statistics_report: true,
        makeLogFunc: 1,
        runtimes: 'html5,flash,html4',
        browse_button: 'eq_pickfiles_${id}',
        max_file_size: '10000mb',
        dragdrop: true,
        chunk_size: '4mb',
        multi_selection: !(moxie.core.utils.Env.OS.toLowerCase()==="ios"),
        uptoken: '${uptoken}',
        unique_names: true,
        max_retries: 7,                     // 上传失败最大重试次数
        domain: "${domain}",
        get_new_uptoken: true,
        auto_start: true,
        log_level: 5,
        init: {
            'BeforeChunkUpload':function (up,file) {
                console.log("before chunk upload:",file.name);
            },
            'FilesAdded': function(up, files) {
                plupload.each(files, function(file) {
                    console.log('filetype: ' + file.type);
                    if(file.type=='image/jpeg'||file.type=='image/jpg'||file.type=='image/png'||file.type=='image/gif' || file.type=='video/x-matroska' || file.type=='video/mp4'){
                        console.log('type:' + file.type);
                    }else {
                        console.log('上传类型只能是.jpg,.png,.gif,.mkv');
                        return false;
                    }});
            },
            'BeforeUpload': function(up, file) {
                console.log("this is a beforeupload function from init");
				$("#eq_progress_${id}").removeClass("hide");
				$("#eq_progress_${id} .progress .progress-bar").css({width:"0%"}).html(0);
            },
            'UploadProgress': function(up, file) {
            	console.log(file.percent+"+"+file.speed);
				$("#eq_progress_${id} .progress .progress-bar").css({width:file.percent+"%"}).html(file.percent);
            },
            'UploadComplete': function() {
            	$("#eq_progress_${id}").addClass("hide");
            },
            'FileUploaded': function(up, file, info) {
                var response = JSON.parse(info.response);
                
                $("#${id}").val("${domain}"+response.key);
                
                show_${id}_pic("${domain}"+response.key);
            },
            'Error': function(up, err, errTip) {
            }
        }
    });
});

function show_${id}_pic(path){
	if(path == null || path == "")return ;
	$("#eq_preview_wrapper_${id}").removeClass("hide");
	$("#eq_preview_${id}").html("<div id=\"qiniu_image_${id}\" class=\"file-preview-frame krajee-default  kv-preview-thumb\" ><div class=\"kv-file-content\">"+
			"<img src=\""+path+"\"  style=\"max-width:220px;max-height:220px;\">"+
	"</div>"+
	"<div class=\"file-thumbnail-footer\">"+
		"<div class=\"file-actions\">"+
		    "<div class=\"file-footer-buttons\">"+			        
		        "<button type=\"button\" class=\"kv-file-remove btn btn-xs btn-default\" title=\"删除文件\" onclick=\"trash_${id}_pic('${id}');\">"+
		        	"<i class=\"glyphicon glyphicon-trash text-danger\"></i>"+
		        "</button>"+
		 	"</div>"+
		    "<div class=\"clearfix\"></div>"+
		"</div>"+
	"</div>"+
	"</div>");
}

function trash_${id}_pic(imgId){
	if(confirm("确认要删除?")){
		$("#qiniu_image_"+imgId).remove();
		$("#eq_preview_wrapper_"+imgId).addClass("hide");
		$("#${id}").val("");
	}
}
</script> 
</#macro>




<!-- 多图片相册控件：
<#include "/qiniu.html"/>
< @ bsQiniuGalleryPicker id="a" gallery={} domain="$ {domain}" uptoken="$ {uptoken}"/> -->
<#macro bsQiniuGalleryPicker id gallery domain uptoken>
<!-- ////// -->
<div id="eq_qiniuPicker_${id}" class="file-input file-input-ajax-new">
	<div id="eq_preview_wrapper_${id}" class="file-preview hide">
	    <div class=" file-drop-zone">
		    <div class="file-preview-thumbnails" id="eq_preview_${id}">
		    </div>
		    <div class="clearfix"></div>
	    </div>
	</div>
	<div class="kv-upload-progress hide" id="eq_progress_${id}">
		<div class="progress">
		    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
		        0%
		     </div>
		</div>
	</div>
<div class="input-group file-caption-main">

<div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
   <div class="file-caption-name" title=""></div>
</div>

   <div class="input-group-btn" id="eq_pickfiles_${id}">
       <div class="btn btn-primary btn-file">
	       <i class="glyphicon glyphicon-folder-open"></i>&nbsp;  
	       <span class="hidden-xs">选择 …</span>
       </div>
   </div>
</div>
</div>

<div id="gallery_hidden_${id}"></div>

	<!-- /////////// -->
	
<script type="text/javascript">
$(function() {
	
	<#if gallery??&&gallery?size gt 0>
	<#list gallery as pic>
		gallery_${id}_pic("${pic.imgOriginal!''}");
	</#list>
	</#if>
	
	
	
    var u_${id}_ploader = Qiniu.uploader({
        disable_statistics_report: true,
        makeLogFunc: 1,
        runtimes: 'html5,flash,html4',
        browse_button: 'eq_pickfiles_${id}',
        max_file_size: '10000mb',
        dragdrop: true,
        chunk_size: '4mb',
        multi_selection: !(moxie.core.utils.Env.OS.toLowerCase()==="ios"),
        uptoken: '${uptoken}',
        unique_names: true,
        max_retries: 7,                     // 上传失败最大重试次数
        domain: "${domain}",
        get_new_uptoken: true,
        auto_start: true,
        log_level: 5,
        init: {
            'BeforeChunkUpload':function (up,file) {
                console.log("before chunk upload:",file.name);
            },
            'FilesAdded': function(up, files) {
                plupload.each(files, function(file) {
                    console.log('filetype: ' + file.type);
                    if(file.type=='image/jpeg'||file.type=='image/jpg'||file.type=='image/png'||file.type=='image/gif' || file.type=='video/x-matroska' || file.type=='video/mp4'){
                        console.log('type:' + file.type);
                    }else {
                        console.log('上传类型只能是.jpg,.png,.gif,.mkv');
                        return false;
                    }});
            },
            'BeforeUpload': function(up, file) {
                console.log("this is a beforeupload function from init");
				$("#eq_progress_${id}").removeClass("hide");
				$("#eq_progress_${id} .progress .progress-bar").css({width:"0%"}).html(0);
            },
            'UploadProgress': function(up, file) {
            	console.log(file.percent+"+"+file.speed);
				$("#eq_progress_${id} .progress .progress-bar").css({width:file.percent+"%"}).html(file.percent);
            },
            'UploadComplete': function() {
            	$("#eq_progress_${id}").addClass("hide");
            },
            'FileUploaded': function(up, file, info) {
                var response = JSON.parse(info.response);
                
                $("#${id}").val("${domain}"+response.key);
                
                gallery_${id}_pic("${domain}"+response.key);
            },
            'Error': function(up, err, errTip) {
            }
        }
    });
});

function gallery_${id}_pic(path){
	if(path == null || path == "")return ;
	var maxNo = 0;
	if($("#eq_preview_${id} > div").length > 0){
		maxNo = $("#eq_preview_${id} > div").last().attr("quantity")
	}
	maxNo = parseInt(maxNo)+1;
	
	$("#gallery_hidden_${id}").append("<input type=\"hidden\" id=\"${id}"+maxNo+"\" name=\"${id}\" value=\""+path+"\" >");
	
	$("#eq_preview_wrapper_${id}").removeClass("hide");
	$("#eq_preview_${id}").append("<div id=\"qiniu_image_${id}_"+maxNo+"\" class=\"file-preview-frame krajee-default  kv-preview-thumb\" quantity=\""+maxNo+"\"><div class=\"kv-file-content\">"+
			"<img src=\""+path+"\"  style=\"max-width:220px;max-height:220px;\">"+
	"</div>"+
	"<div class=\"file-thumbnail-footer\">"+
		"<div class=\"file-actions\">"+
		    "<div class=\"file-footer-buttons\">"+			        
		        "<button type=\"button\" class=\"kv-file-remove btn btn-xs btn-default\" title=\"删除文件\" onclick=\"trash_gallery_${id}_pic('${id}',"+maxNo+");\">"+
		        	"<i class=\"glyphicon glyphicon-trash text-danger\"></i>"+
		        "</button>"+
		 	"</div>"+
		    "<div class=\"clearfix\"></div>"+
		"</div>"+
	"</div>"+
	"</div>");
}

function trash_gallery_${id}_pic(imgId,no){
	if(confirm("确认要删除?")){
		$("#qiniu_image_"+imgId+"_"+no).remove();
		$("#${id}"+no+"").remove();
		if($("#eq_preview_${id} > div").length == 0){
			$("#eq_preview_wrapper_"+imgId).addClass("hide");
		}
	}
}
</script> 
</#macro>


