<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>

		<#include "/include.html"/>
		<#include "/FreemarkerMacro.html"/>

<title>Insert title here</title>
</head>
<body>
<div class="header">
	<div class="nav">
		<a href="javascript:;" id="back" class="icon fa fa-arrow-left ">&nbsp;</a>
		<div class="nav0">会计科目信息</div>
		<div class="nav1">信息编辑</div>
	</div>
</div>
<div style="width: 100%;height: 40px;"></div>
<div class="container-fluid">
<form id="haiAccountingForm" name="haiAccountingForm" class="form-horizontal" action="${rm.action?default('')}" method="post">


<input type="hidden" class="form-control" id="accountingId" name="accountingId" value="${rm.model.accountingId!''}" >
<div class="form-group">
<label class="col-sm-2 control-label">简码</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="accountingCode" name="accountingCode" value="${rm.model.accountingCode!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">名称</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="accountingName" name="accountingName" value="${rm.model.accountingName!''}" placeholder="">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">remark</label>
<div class="col-sm-8">
	<@ueditorPicker id="remark" value="${rm.model.remark!''}" />
</div>
</div>





<div class="form-group">
	<div class="col-sm-3"></div>
	<div class="col-sm-6"><button id="saveSubmit" type="button" class="btn btn-primary">提交信息</button></div>
</div>
       




</form>
</div>    


<script type="text/javascript" src="/js/admin/accounting/detail.js" ></script>             


</body>
</html>
