<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
	<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="/js/bootstrap/table/bootstrap-table.min.css" />
	<script type="text/javascript" src="/js/bootstrap/table/bootstrap-table.min.js" ></script>
	<script type="text/javascript" src="/js/bootstrap/table/locale/bootstrap-table-zh-CN.min.js" ></script>
	<link rel="stylesheet" href="/css/admin.css" />
	<link rel="stylesheet" href="/js/layer/skin/default/layer.css" />
	<script type="text/javascript" src="/js/layer/layer.js" ></script>
	<script type="text/javascript" src="/js/adminCommon.js" ></script>
	
	<link rel="stylesheet" href="/js/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" />
	<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js" ></script>
	<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
	
	
	<#include "/include/JqueryFileUpload_Include.html"/>
	
</head>
<body>
<#include "/FreemarkerMacro.html"/>
	<div class="header">
		<div class="nav">
			<i class="icon fa fa-home">&nbsp;</i>
			<div class="nav0">餐厅微信对帐管理</div>
		</div>
	</div>
	<div class="body">
		<div class="container_box">
			<div class="col_main body">
				<div class="panel panel-default">
					
					<div class="panel-body single">					    
						
						<div class="" style="width:200px;">
						<@bsDatePicker id="bill_date" value="${((bill_date?string('yyyy-MM-dd'))!'')}" />
						</div>
						<div >
							<button id="bill_submit" class="btn btn-default">对帐</button>
						</div>
						<div >
							<button id="import_csv" class="btn btn-default">导入微信对帐csv</button>
						</div>
						<input type="file" accept="csv/*" id="upload_file_csv" multiple="" data-updateid="" style="opacity : 0;width:0;height:0;">
						
					</div>
				</div>
				
				
				<div id="main" style="width: 600px;height:400px;" class="main_table"></div>
				
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/js/ceo/bill/bill_view.js" ></script>

</body>
</html>