
<!DOCTYPE html>
<html>

<head>
<title>产品中心</title>
<#include "head_include.html">
</head>

<body class="body_product">
	<#include "top_nav.html">
	<div id="content">
		<div class="product">
			<!--子频道样式有三种（图文、文字、橱窗），默认均为微信样式 0：默认,1：图文,2：文字,3：橱窗,4：相册-->
			<!--3|橱窗-->
			<ul class="channellist">
				<li><a href="osfqxl.html"><div class="ChannelIcon"><img src="/project/gcp/images/1418353714.jpg"  /></div><div class="ChannelName">欧尚风情系列</div></a>
				</li>
				<li><a href="sjmrxl.html"><div class="ChannelIcon"><img src="/project/gcp/images/1418353725.jpg"  /></div><div class="ChannelName">世家名人系列</div></a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<#include "footer_include.html">
</body>

</html>