<!--页脚开始-->

<div id="footer">
	<!-- 微信分享导引 开始-->
	<script type="text/javascript">
	function openGuide(){document.getElementById('guide').style.display='block'; }
	function closeGuide(){ document.getElementById('guide').style.display=''; }
	</script>
	<!-- <div id="guide" onClick="closeGuide()" ><img src="/project/gcp/images/guide.png"></div> -->
	<!-- 微信分享导引 结束-->
	<!--快捷按钮 开始-->
	<!-- 
	<div class="plug-div">
		<div class="plug-phone">
			<div class="plug-menu themeStyle"><span class="close"></span></div>
			<div class="themeStyle plug-btn plug-btn1 close"><a href="/"><span style="background-image: url(/project/gcp/ky_img/home.png);"></span></a></div>
			<div class="themeStyle plug-btn plug-btn2 close"><a href="tel:13588888888"><span style="background-image: url(/project/gcp/ky_img/tel.png);"></span></a></div>
			<div class="themeStyle plug-btn plug-btn3 close"><a href="gywm.html"><span style="background-image: url(/project/gcp/ky_img/aboutus.png);"></span></a></div>
			<div class="themeStyle plug-btn plug-btn4 close" ><a href="guestbook.html"><span style="background-image: url(/project/gcp/ky_img/guestbook.png);"></span></a></div>
			<div class="plug-btn plug-btn5 close"></div>
		</div>
	</div>
	 -->
	<!--快捷按钮 结束-->
	<!-- 
	<div class="Language">
	<a href="#" target="_self"><img src="/project/gcp/images/zw.gif" /></a>
	<a href="#" target="_self"><img src="/project/gcp/images/english.gif" /></a>
	</div>
	 -->
	<div class="copyright">广东省城市建设高级技工学校&nbsp;版权所有</div>
</div>
<!--页脚结束-->