
<!DOCTYPE html>
<html>

<head>
<title>服务支持</title>
<#include "head_include.html">
</head>

<body class="body_single">
	<#include "top_nav.html">
	<div id="content">
		<div class="single">
			<!--子频道样式有三种（图文、文字、橱窗），默认均为微信样式 0：默认,1：图文,2：文字,3：橱窗,4：相册-->
			<!--0|默认为图文 -->
			<!--子频道显示 开始-->
			<ul class="wxlist"><a href="sjfw.html"><li><div class="ChannelName">设计服务</div><div class="ChannelSContent">&nbsp;&nbsp;&nbsp; 您可以随时获得整体橱柜全国所有专卖店专业设计服务，且不用为此付...</div><div class="ShowInfo">点击查看详情>></div></li></a>
				<a
				href="zpbz.html">
					<li>
						<div class="ChannelName">正品保障</div>
						<div class="ChannelSContent">&nbsp;&nbsp;&nbsp; 为保证消费者权益，防止商家造假顾客造成损失，佰怡家橱柜在每套橱...</div>
						<div class="ShowInfo">点击查看详情>></div>
					</li>
					</a><a href="cpbx.html"><li><div class="ChannelName">产品保修</div><div class="ChannelSContent">1、整体橱柜承诺，所有正品均为原装新品，各项品质属性均与合同所列完全吻合。

2、整体橱柜承诺，所有...</div><div class="ShowInfo">点击查看详情>></div></li></a>
			</ul>
			<!--子频道显示 结束-->
			<div class="clear"></div>
		</div>
	</div>
	<#include "footer_include.html">
</body>

</html>