
<!DOCTYPE html>
<html>

<head>
<title>关于我们</title>
<#include "head_include.html">
</head>

<body class="body_single">
	<#include "top_nav.html">
	<div id="content">
		<div class="single">
			<!--子频道样式有三种（图文、文字、橱窗），默认均为微信样式 0：默认,1：图文,2：文字,3：橱窗,4：相册-->
			<!--3|橱窗-->
			<ul class="channellist">
				<li><a href="qywh.html"><div class="ChannelIcon"><img src="/project/gcp/images/1418354774.jpg"  /></div><div class="ChannelName">企业介绍</div></a>
				</li>
				<li><a href="zzry.html"><div class="ChannelIcon"><img src="/project/gcp/images/1418354461.jpg"  /></div><div class="ChannelName">品牌故事</div></a>
				</li>
				<li><a href="zzjg.html"><div class="ChannelIcon"><img src="/project/gcp/images/1418354702.jpg"  /></div><div class="ChannelName">经营理念</div></a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<#include "footer_include.html">
</body>

</html>