<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="广东省城市建设高级技工学校" />
<meta name="keywords" content="广东省城市建设高级技工学校" />
<meta name="description" content="广东省城市建设高级技工学校" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="/project/gcp/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/project/gcp/js/jquery-1.7.2.min.js"></script>
<script src="/project/gcp/js/common.js" type="text/javascript"></script>