
<!DOCTYPE html>
<html>

<head>
<title>合作加盟</title>
<#include "head_include.html">

</head>

<body class="body_single">
<#include "top_nav.html">
<div id="content">
	<div class="single">
		<!--子频道样式有三种（图文、文字、橱窗），默认均为微信样式 0：默认,1：图文,2：文字,3：橱窗,4：相册-->
		<!--0|默认为图文 -->
		<!--子频道显示 开始-->
		<ul class="wxlist"><a href="jmlc.html"><li><div class="ChannelName">加盟流程</div><div class="ChannelPicture"><img src="/project/gcp/images/1418366238.jpg"  /></div><div class="ChannelSContent">



</div><div class="ShowInfo">点击查看详情>></div></li></a><a href="jmxz.html"><li><div class="ChannelName">加盟细则</div><div class="ChannelPicture"><img src="/project/gcp/images/1418366250.jpg"  /></div><div class="ChannelSContent">&nbsp;&nbsp;&nbsp; 整体橱柜倡导的加盟是一种整店输出的体系，那么涉及到连锁店经营、...</div><div class="ShowInfo">点击查看详情>></div></li></a>
			<a
			href="zxjm.html">
				<li>
					<div class="ChannelName">在线加盟</div>
					<div class="ChannelPicture">
						<img src="/project/gcp/images/1418366260.jpg" />
					</div>
					<div class="ChannelSContent"></div>
					<div class="ShowInfo">点击查看详情>></div>
				</li>
				</a>
		</ul>
		<!--子频道显示 结束-->
		<div class="clear"></div>
	</div>
</div>
<#include "footer_include.html">
</body>

</html>