
<!DOCTYPE html>
<html>

<head>
<title>销售网络</title>
<#include "head_include.html">
</head>

<body class="body_single">
	<#include "top_nav.html">
	<div id="content">
		<div class="single">
			<ul class="wxlist">
				<li>
					<div class="ChannelName">
						<h1>销售网络</h1>
					</div>
					<div class="ChannelContent">
						<div style="text-align: center;">
							<img alt="" src="/project/gcp/images/xiaoshouwangluo.gif" style="width: 560px; height: 469px;"
							/>
						</div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
<#include "footer_include.html">
</body>

</html>