@import url("bt_font.css");
html,
body {
  font-size: 100px;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
ul,
li,
dl,
dd,
dt {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dn {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fl100 {
  float: left;
  width: 100%;
}
.mtb10 {
  margin: 0.1rem 0;
}
.mt10 {
  margin-top: 0.1rem;
}
.mb10 {
  margin-bottom: 0.1rem;
}
.mt5 {
  margin-top: 0.05rem;
}
.mb5 {
  margin-bottom: 0.05rem;
}
.mr5 {
  margin-right: 0.05rem;
}
.tc {
  text-align: center;
}
.control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}
.clear {
  clear: both;
}
.loading {
  -webkit-animation: circle 1s infinite linear;
  /*匀速 循环*/
}
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
