@import url("common.css");
.wm {
  padding: 0.9rem 0 0;
  font-size: 0.14rem;
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.wm * {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.wm header {
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.01rem solid #DCDCDC;
  z-index: 20;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.45rem;
  background: #fff;
}
.wm header i {
  position: absolute;
  z-index: 106;
  padding: 0 0.15rem;
  width: auto;
}
.wm header i:first-child {
  left: 0rem;
}
.wm header i:last-child {
  right: 0rem;
}
.wm > dl {
  border-bottom: 0.05rem solid #F3F3F3;
  background: #fff;
  position: fixed;
  top: 0.45rem;
  left: 0;
  right: 0;
}
.wm > dl dt {
  display: none;
  padding: 0.1rem 0.15rem;
  position: relative;
}
.wm > dl dt input {
  padding: 0.05rem;
  border: 0.01rem solid #cdcdce;
  border-radius: 0.05rem;
}
.wm > dl dt i {
  position: absolute;
  right: 0.2rem;
  top: 0.15rem;
  width: auto;
}
.wm > dl dd {
  width: 25%;
  padding: 0.1rem 0;
  text-align: center;
}
.wm > dl dd.active {
  border-bottom: 0.02rem solid #FF8F09;
  color: #FF8F09;
}
.wm > div > ul > li {
  padding: 0.1rem 0.15rem;
  border-bottom: 0.05rem solid #F3F3F3;
}
.wm > div > ul > li > div * {
  width: auto;
}
.wm > div > ul > li .h {
  border-bottom: 0.01rem solid #F0F0F0;
  padding-bottom: 0.1rem;
}
.wm > div > ul > li .h b {
  float: right;
}
.wm > div > ul > li > ul {
  margin-top: 0.1rem;
}
.wm > div > ul > li > ul > li {
  margin-bottom: 0.1rem;
}
.wm > div > ul > li > ul > li img {
  width: 20%;
  margin-right: 0.15rem;
}
.wm > div > ul > li > ul > li div {
  font-size: 0.12rem;
  color: #999;
  width: 80%;
  margin-right: -0.15rem;
}
.wm > div > ul > li .t {
  text-align: right;
}
.wm > div > ul > li .b {
  text-align: right;
  margin-top: 0.05rem;
}
.wm > div > ul > li .b button {
  padding: 0.05rem;
  border-radius: 0.04rem;
  font-size: 0.14rem;
  float: right;
  margin-left: 0.05rem;
}
.wm > div > ul > li .b .d {
  border: 0.01rem solid #C9C9C9;
}
.wm > div > ul > li .b .o {
  border: 0;
  background: #FF8F09;
  color: #fff;
}
.wm .e {
  padding-top: 0.3rem;
  display: none;
  text-align: center;
}
.wm .e i {
  font-size: 0.8rem;
}
.wm .e.active {
  display: block;
}
.wm.s {
  padding-top: 0.45rem;
}
