@import url("common.css");
.w_shop {
  font-size: 0.16rem;
}
.w_shop * {
  float: left;
  box-sizing: border-box;
}
.w_shop header {
  width: 100%;
  border-bottom: 0.01rem solid #DCDCDC;
  height: 0.45rem;
  line-height: 0.3rem;
  text-align: center;
  padding: 0.1rem 0.15rem;
  font-weight: bold;
}
.w_shop header i {
  padding-top: 0.04rem;
  font-size: 0.2rem;
}
.w_shop header i:first-child {
  float: left;
}
.w_shop header i:last-child {
  float: right;
}
.w_shop .swiper-container {
  width: 100%;
}
.w_shop .swiper-container *:not(span) {
  width: 100%;
}
.w_shop .swiper-container .swiper-pagination-bullet {
  float: none;
}
.w_shop .s {
  width: 100%;
  padding: 0.1rem;
  font-size: 0.18rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 0.01rem solid #DCDCDC;
}
.w_shop ul.u li {
  padding: 0.1rem;
  border-bottom: 0.01rem solid #DCDCDC;
  width: 100%;
}
.w_shop ul.u li .img {
  width: 30%;
}
.w_shop ul.u li .img img {
  max-width: 100%;
}
.w_shop ul.u li .i {
  width: 70%;
}
.w_shop ul.u li .i .t {
  padding: 0.1rem;
  font-weight: bold;
  width: 100%;
}
.w_shop ul.u li .i .d {
  padding: 0 0.1rem;
  width: 100%;
}
.w_shop ul.u li .i .d div {
  float: left;
  width: auto;
}
.w_shop ul.u li .i .d div:first-child {
  font-size: 0.12rem;
  padding-top: 0.03rem;
}
.w_shop ul.u li .i .d div:nth-child(2) {
  color: #CA1818;
  padding-right: 0.05rem;
}
.w_shop ul.u li .i .d div:nth-child(3) {
  text-decoration: line-through;
  font-size: 0.1rem;
  padding-top: 0.05rem;
}
.w_shop ul.u li .i .d div:last-child {
  float: right;
}
