@import url("common.css");
body {
  background: #f0f2f5;
}
.waw {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0.49rem;
  font-size: 0.16rem;
  width: 100%;
  float: left;
}
.waw * {
  box-sizing: border-box;
  float: left;
}
.waw > div,
.waw header,
.waw ul,
.waw ul li {
  float: left;
  width: 100%;
}
.waw header {
  height: 0.45rem;
  background: #fff;
  line-height: 0.45rem;
  text-align: center;
  font-size: 0.2rem;
  padding-right: 0.5rem;
}
.waw header i {
  font-size: 0.22rem;
  padding: 0 0.1rem;
}
.waw > div.form {
  width: 100%;
  padding: 0 0.15rem;
  margin-top: 0.1rem;
  background: #fff;
}
.waw > div.form .r {
  width: 100%;
  padding: 0.05rem 0 ;
  border-bottom: 0.01rem solid #dedede;
}
.waw > div.form .r label {
  width: 25%;
  line-height: 0.38rem;
}
.waw > div.form .r i {
  line-height: 0.38rem;
  padding: 0 0.1rem;
}
.waw > div.form .r i.active {
  color: #ca1818;
}
.waw > div.form .r input,
.waw > div.form .r > div.input,
.waw > div.form .r > div.region {
  font-size: 0.16rem;
  width: 65%;
  display: inline-block;
  padding: 0.08rem 0.05rem;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.waw > div.form .r input span,
.waw > div.form .r > div.input span,
.waw > div.form .r > div.region span {
  line-height: 0.26rem;
}
.waw > div.form .r > div.region > input {
  padding-left: 0;
  width: 100%;
  padding: 0.02rem 0 0;
}
.waw > div.form .r:last-child {
  border-bottom: 0;
}
.waw > ul {
  padding: 0 0.1rem;
  margin-top: 0.1rem;
}
.waw > ul li {
  padding: 0.1rem 0.1rem;
  border: 0.01rem solid #DADADA;
  margin-top: 0.15rem;
  background: #fff;
}
.waw > ul li .info {
  width: 100%;
  border-bottom: 0.01rem solid #DADADA;
  padding-bottom: 0.1rem;
}
.waw > ul li .info .consignee {
  font-weight: 600;
}
.waw > ul li .info .mobile {
  margin-left: 0.21rem;
}
.waw > ul li .info .address {
  width: 100%;
  margin-top: 0.1rem;
}
.waw > ul li .operate {
  width: 100%;
  padding: 0.15rem 0 0.05rem;
}
.waw > ul li .operate i {
  float: right;
  padding-right: 0.15rem;
}
.waw > ul li .operate i:first-child {
  float: left;
}
.waw > ul li .operate i.active {
  color: #ca1818;
}
.waw footer {
  position: fixed;
  width: 100%;
  height: 0.45rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f5f7;
  font-size: 0.12rem;
  z-index: 101;
}
.waw footer > div {
  width: 60%;
  float: left;
  font-size: 0.16rem;
  line-height: 0.45rem;
}
.waw footer > div > div.total {
  padding-left: 0.15rem;
  float: left;
}
.waw footer > div > div.total span {
  color: #CA1816;
}
.waw footer button {
  float: right;
  border: 0;
  background: none;
  width: 40%;
  background: #ca1816;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  color: #fff;
  font-weight: bold;
}
