@import url("common.css");
body {
  background: #f0f2f5;
}
.wcw {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0.49rem;
  font-size: 0.16rem;
  width: 100%;
  float: left;
  background: #f0f2f5;
}
.wcw * {
  box-sizing: border-box;
}
.wcw header {
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.01rem solid #DCDCDC;
  z-index: 20;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.45rem;
  background: #fff;
}
.wcw header i {
  position: absolute;
  z-index: 106;
  padding: 0 0.15rem;
}
.wcw header i:first-child {
  left: 0rem;
}
.wcw header i:last-child {
  right: 0rem;
}
.wcw > div,
.wcw > div > div {
  float: left;
  width: 100%;
}
.wcw ul {
  padding: 0 0.15rem;
  margin: 0.55rem 0 0;
  background: #fff;
  width: 100%;
  float: left;
}
.wcw ul li {
  border-bottom: 0.01rem solid #f0f0f0;
  padding: 0.05rem 0;
  width: 100%;
  float: left;
  position: relative;
}
.wcw ul li .pic {
  float: left;
  width: 35%;
  padding: 0.08rem 0.08rem 0 0.28rem;
}
.wcw ul li .pic img {
  width: 100%;
}
.wcw ul li .t {
  margin: 0;
  padding: 0.08rem 0 0 0 ;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.wcw ul li .intro {
  position: absolute;
  right: 0;
  bottom: 0.04rem;
  box-sizing: border-box;
  z-index: 10;
  width: 75%;
  padding-left: 0.3rem;
}
.wcw ul li .intro div {
  line-height: 1;
  padding: 0 0.1rem;
  float: right;
}
.wcw ul li .intro div:first-child {
  float: left;
}
.wcw ul li .intro .price {
  color: #ca1816;
  padding-left: 0;
}
.wcw ul li .intro i {
  font-size: 0.18rem;
  float: right;
  color: #c5c5c5;
  margin: 0;
  padding: 0;
  margin-top: -0.03rem;
}
.wcw ul li .fa-check-circle {
  position: absolute;
  top: 0.38rem;
  left: 0rem;
  font-size: 0.28rem;
  color: #f0f0f0;
  z-index: 10;
}
.wcw ul li .fa-check-circle.active {
  color: #ca1816;
}
.wcw .empty {
  display: none;
  background: #f0f2f5;
  position: fixed;
  top: 0.85rem;
  left: 0;
  right: 0;
  height: 2.5rem;
  z-index: 12;
  text-align: center;
  padding-top: 0.5rem;
  color: #666;
}
.wcw .empty > div:last-child {
  margin-top: 0.5rem;
}
.wcw .empty .icon-cart1 {
  color: #ca1818;
  font-size: 0.8rem;
}
.wcw .empty button {
  background: #ff981d;
  border-radius: 0.06rem;
  box-shadow: 0 0.02rem 0.05rem #f4cfa3;
  color: #fff;
  display: inline-block;
  font-size: 0.16rem;
  height: 0.38rem;
  line-height: 0.38rem;
  margin: 0 0.05rem;
  padding: 0 0.15rem;
  text-align: center;
  width: 1rem;
}
.wcw .empty button:last-child {
  background: #ff812c;
}
.wcw .empty.active {
  display: block;
}
.wcw footer {
  position: fixed;
  width: 100%;
  height: 0.45rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f5f7;
  box-sizing: border-box;
  font-size: 0.12rem;
  z-index: 101;
}
.wcw footer > div {
  width: 60%;
  float: left;
  font-size: 0.16rem;
  line-height: 0.45rem;
}
.wcw footer > div > div.all {
  padding-left: 0.15rem;
  box-sizing: border-box;
  float: left;
  margin-right: 0.15rem;
}
.wcw footer > div > div.all span {
  margin-right: 0.1rem;
  color: #f0f0f0;
  font-size: 0.25rem;
}
.wcw footer > div > div.all span.active {
  color: #CA1816;
}
.wcw footer > div > div.total {
  float: left;
}
.wcw footer > div > div.total span {
  color: #CA1816;
}
.wcw footer button {
  float: right;
  border: 0;
  background: none;
  width: 40%;
  background: #ca1816;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  color: #fff;
  font-weight: bold;
}
