@import url("common.css");
.wcow {
  font-size: 0.16rem;
  width: 100%;
  float: left;
  overflow-y: scroll;
}
.wcow * {
  box-sizing: border-box;
}
.wcow header {
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.01rem solid #DCDCDC;
  z-index: 20;
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.45rem;
  background: #fff;
}
.wcow header i {
  position: absolute;
  z-index: 106;
  padding: 0 0.15rem;
}
.wcow header i:first-child {
  left: 0rem;
}
.wcow > div,
.wcow > div > div {
  float: left;
  width: 100%;
}
.wcow > .main {
  padding: 0.45rem 0 0.49rem;
  width: 100%;
  float: left;
}
.wcow > .main > .item {
  width: 100%;
  float: left;
  padding: 0.1rem 0.15rem;
}
.wcow > .main > .item .new_addr {
  border: 0.01rem #cdcdcd dashed;
  text-align: center;
  padding: 0.2rem;
}
.wcow > .main > .item .new_addr span {
  margin-right: 0.08rem;
}
.wcow > .main > .item > .info {
  width: 100%;
  padding: 0 0.25rem;
}
.wcow > .main > .item > .info .username {
  margin-bottom: 0.1rem;
}
.wcow > .main > .item > .info .username .consignee {
  display: inline-block;
  font-weight: 600;
}
.wcow > .main > .item > .info .username .mobile {
  margin-left: 0.06rem;
}
.wcow > .main > .item label {
  width: 25%;
  float: left;
  line-height: 0.38rem;
}
.wcow > .main > .item input {
  width: 65%;
  float: left;
  display: inline-block;
  padding: 0.08rem;
  border: 0;
  font-size: 0.15rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wcow > .main > .item .fa-chevron-right {
  float: right;
  color: #CDCDCD;
  padding-top: 0.05rem;
}
.wcow > .main > .item.pr i {
  position: absolute;
  top: 0.3rem;
}
.wcow > .main > .item.pr i:first-child {
  left: 0.15rem;
}
.wcow > .main > .item.pr i:last-child {
  right: 0.15rem;
}
.wcow > .main .item.order {
  padding-top: 0;
  padding-bottom: 0;
}
.wcow > .main .item.order .item {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 0.01rem solid #f8f8f8;
}
.wcow > .main .item.order .item .pic {
  float: left;
  width: 25%;
  padding: 0.08rem 0.08rem 0 0;
}
.wcow > .main .item.order .item .pic img {
  width: 100%;
}
.wcow > .main .item.order .item .t {
  margin: 0;
  padding: 0.08rem 0 0 0 ;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.wcow > .main .item.order .item .intro {
  position: absolute;
  bottom: 0.05rem;
  padding-left: 25%;
  z-index: 10;
}
.wcow > .main .item.order .item .intro > div {
  font-size: 0.16rem;
  line-height: 1;
  padding: 0 0.1rem;
  float: left;
}
.wcow > .main .item.order .item .intro .price {
  color: #ca1816;
  padding-left: 0;
}
.wcow > .main .item.order .item .intro .fa-plus-square {
  color: #ca1816;
}
.wcow > .main .item.order .item .intro .fa-minus-square,
.wcow > .main .item.order .item .intro .fa-trash-o {
  color: #B0B0B0;
}
.wcow > .main .item.space {
  padding: 0;
  margin: 0;
  height: 0.08rem;
  background: #f8f8f8;
}
.wcow > .main .item.line {
  border-bottom: 0.01rem solid #f8f8f8;
}
.wcow footer {
  position: fixed;
  width: 100%;
  height: 0.49rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f5f7;
  font-size: 0.12rem;
  z-index: 101;
}
.wcow footer > div {
  width: 60%;
  float: left;
  font-size: 0.16rem;
  line-height: 0.49rem;
}
.wcow footer > div > div.total {
  padding-left: 0.15rem;
  float: left;
}
.wcow footer > div > div.total span {
  color: #CA1816;
}
.wcow footer button {
  float: right;
  border: 0;
  background: none;
  width: 40%;
  background: #ca1816;
  height: 0.49rem;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  color: #fff;
  font-weight: bold;
}
.w_pay_result_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9f9f9;
  z-index: 103;
  text-align: center;
  font-size: 0.16rem;
}
.w_pay_result_wrapper > div {
  padding: 0 0.15rem;
}
.w_pay_result_wrapper button {
  font-size: 0.16rem;
}
.w_pay_result_wrapper .icon {
  margin-top: 0.68rem;
}
.w_pay_result_wrapper .icon .fa-credit-card {
  font-size: 0.46rem;
}
.w_pay_result_wrapper .pay_result {
  margin-top: 0.28rem;
}
.w_pay_result_wrapper .pay_msg {
  margin-top: 0.15rem;
}
.w_pay_result_wrapper .repay,
.w_pay_result_wrapper .gomember {
  padding: 0.2rem;
  display: none;
}
.w_pay_result_wrapper .repay button,
.w_pay_result_wrapper .gomember button {
  background: #CA1818;
  width: 100%;
  border: 0;
  padding: 0.12rem 0;
  color: #fff;
}
.w_pay_result_wrapper .repay.active,
.w_pay_result_wrapper .gomember.active {
  display: block;
}
.w_pay_result_wrapper .goindex {
  padding: 0.1rem 0.2rem;
}
.w_pay_result_wrapper .goindex button {
  background: #CACACA;
  width: 100%;
  border: 0;
  padding: 0.12rem 0;
  color: #555;
}
.w_pay_result_wrapper.active {
  display: block;
}
