@import url("common.css");
* {
  box-sizing: border-box;
}
.wgw {
  width: 100%;
  float: left;
  margin: 0 auto;
  rposition: relative;
  margin-bottom: 0.49rem;
  font-size: 0.16rem;
  padding-top: 0.45rem;
}
.wgw header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  background: #fff;
  z-index: 105;
  border-bottom: 0.01rem solid #eee ;
}
.wgw header i {
  position: absolute;
  left: 0;
  padding: 0 0.15rem;
}
.wgw > div,
.wgw > div > div {
  float: left;
  width: 100%;
}
.wgw > div.base {
  padding-bottom: 0.15rem;
}
.wgw > div.base .scroll img {
  width: 100%;
}
.wgw > div.base .goods {
  padding: 0.15rem;
}
.wgw > div.base .goods .goods_name {
  font-weight: bold;
  float: left;
}
.wgw > div.base .goods .fav {
  float: right;
}
.wgw > div.base .price {
  padding: 0 0.15rem;
}
.wgw > div.base .price .shop_price {
  font-weight: bold;
  float: left;
  color: #ca1816;
}
.wgw > div.base .price .market_price {
  float: left;
  text-decoration: line-through;
  color: #999999;
}
.wgw > div.base .price .goods_stock {
  color: #999999;
  float: right;
}
.wgw > div.detail {
  padding: 0 0.15rem 0.64rem;
  line-height: 0.28rem;
}
.wgw > div.detail img {
  max-width: 100%;
}
.wgw footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.49rem;
  float: left;
  width: 100%;
  background: #fff;
  z-index: 2;
}
.wgw footer > div {
  width: 15%;
  height: 0.49rem;
  float: left;
  line-height: 0.49rem;
  font-size: 0.12rem;
  text-align: center;
  color: #777;
}
.wgw footer > div i {
  font-size: 0.22rem;
  display: block;
  height: 0.16rem;
}
.wgw footer > div.cart {
  width: 15%;
  position: relative;
  text-align: left;
}
.wgw footer > div.cart i:last-child {
  width: 0.2rem;
  height: 0.2rem;
  border: 0.01rem solid #ca1818;
  background: #ca1818;
  color: #fff;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.2rem;
  border-radius: 50%;
  z-index: 100;
  display: none;
  position: absolute;
  top: -0.05rem;
  left: 0.2rem;
}
.wgw footer > div.cart i:last-child.active {
  display: inline-block;
}
.wgw footer > div.addCart {
  background: #ffb03f;
  color: #fff;
  width: 35%;
  font-size: 0.18rem;
}
.wgw footer > div.buynow {
  background: #f23030;
  color: #fff;
  width: 35%;
  font-size: 0.18rem;
}
.wgw .interval {
  padding: 0.15rem;
  color: #ccc;
  border-top: 0.05rem solid #eee;
}
