@import url("common.css");
.ww {
  max-width: 4.8rem;
  margin: 0 auto;
  padding: 0 0.15rem;
  box-sizing: border-box;
  font-size: 0.16rem;
}
.ww header {
  display: none;
}
.ww > h3 {
  font-size: 0.22rem;
}
.ww > h3,
.ww > div {
  width: 100%;
  float: left;
  margin: 0.05rem 0;
}
.ww > div {
  width: 100%;
  float: left;
  margin: 0.05rem 0;
}
.ww > div img {
  max-width: 100%;
}
.ww .lbl {
  color: #8c8c8c;
}
.ww .lbl span {
  margin-right: 0.08rem;
}
.ww .lbl span:last-child {
  color: #607fa6;
}
.ww .media {
  text-align: center;
}
.ww .article {
  line-height: 0.28rem;
  font-size: 0.16rem;
}
.ww .article img,
.ww .article table {
  max-width: 100%;
}
.ww .statistics {
  padding: 0.15rem 0 0 0;
  text-align: right;
  margin: 0;
}
.ww .statistics i {
  display: inline-block;
  color: #607fa6;
  margin-right: 0.15rem;
}
.ww .product {
  text-align: center;
}
.ww .product .name {
  font-size: 0.16rem;
  font-weight: bold;
}
.ww .product .detail {
  margin: 0.1rem 0;
}
.ww .product .detail span {
  width: 33.33%;
  display: inline-block;
  text-align: center;
  float: left;
}
.ww .product .detail span a {
  padding: 0.05rem 0.1rem;
  display: inline-block;
  border: 0.01rem solid #607fa6;
  border-radius: 0.05rem;
}
.ww .product .qr {
  text-align: center;
  margin-top: 0.2rem;
  line-height: 0.8rem;
}
.ww .product .qr #gqr {
  float: right;
}
.ww .recommend_title {
  font-size: 0.16rem;
  font-weight: bold;
  border-bottom: 0.01rem solid #cacaca;
  padding-bottom: 0.05rem;
  margin-bottom: 0.05rem;
}
.ww .recommend .item {
  border-bottom: 0.01rem solid #f0f0f0;
  padding: 0.05rem 0;
  width: 100%;
  float: left;
}
.ww .recommend .item .pic {
  float: left;
  width: 25%;
  padding: 0.08rem 0.08rem 0 0;
}
.ww .recommend .item .pic img {
  width: 100%;
}
.ww .recommend .item .desc {
  padding: 0.08rem;
}
.ww .recommend .item .desc h4 {
  margin: 0;
  padding: 0;
}
.ww .recommend .item .desc .intro {
  text-indent: 0.28rem;
  line-height: 0.17rem;
  height: 0.34rem;
  overflow: hidden;
  margin-top: 0.02rem;
  color: #9c9c9c;
  text-overflow: ellipsis;
}
.ww .qrcode {
  text-align: center;
  padding: 0.15rem 0;
}
.ww .qrcode img {
  width: 80%;
}
.ww.header {
  padding-top: 0.45rem;
}
.ww.header header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.18rem;
  background: #fff;
  z-index: 105;
  border-bottom: 0.01rem solid #eee ;
}
.ww.header header i {
  position: absolute;
  left: 0;
  padding: 0 0.15rem;
}
.write {
  font-size: 0.14rem;
  width: 100%;
  float: left;
  text-align: right;
  padding: .15rem .1rem;
  box-sizing: border-box;
  background: #f9f9f9;
  color: #607fa6;
}
.message {
  width: 100%;
  float: left;
  font-size: 0.14rem;
  background: #f9f9f9;
  padding-bottom: 0.35rem;
}
.message ul li {
  width: 100%;
  float: left;
  padding: 0.1rem 0.15rem ;
  box-sizing: border-box;
}
.message ul li img {
  width: 0.35rem;
  height: 0.35rem;
  float: left;
}
.message ul li .info {
  padding-left: 0.5rem;
  box-sizing: border-box;
  padding-right: 0.15rem;
}
.message ul li .info .t {
  color: #888;
}
.message ul li .info .t .fa {
  float: right;
}
.message ul li .info .d {
  color: #333;
  padding-bottom: 0.15rem;
}
.share_wrapper {
  display: none;
}
.share_wrapper .bg {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.share_wrapper .pic {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: url("../images/share.png") no-repeat center top;
  background-size: 80%;
}
.share_wrapper.active {
  display: block;
}
