<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>${article.title!''}</title>
		<link rel="stylesheet" href="css/kintenglife.css" />
		
	</head>
	<body class="g">
		<div class="w">
			<header>
				<span id="title">金藤酒荟</span>
			</header>
			<div class="pic">
				<img src="${article.articleThumb!''}" />
			</div>
			<article>
				<h3>${article.title!''}</h3>
				
				<p class="detail">
				${article.content!''}
				</p>
			</article>
		</div>
	</body>
</html>
