<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>${article.title!''}</title>
		<link rel="stylesheet" href="css/kintenglife.css" />
		
	</head>
	<body class="g">
		<div class="w">
			<header>
				<img class="logo" src="images/klogo.png" />
				<span id="title"><#if articleCat?? >${articleCat.catName!''}</#if></span>
			</header>
			<div class="pic">
				<img src="${article.articleThumb!''}" />
			</div>
			<article>
				<h4>${article.title!''}</h4>
				
				<p class="detail">
				${article.content}
				</p>
			</article>
			
			<footer class="copyright">
				<img class="logo" src="images/klogo.png" />
				<span>Copyright © 2017 KINTENG All Rights Reserved</span>
				<span>广州易海司信息有限公司提供技术支持</span>
				
			</footer>
			
			
		</div>
	</body>
</html>
