<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>金藤酒荟留言板</title>
		<link rel="stylesheet" href="css/kintenglife.css" />
		
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>

	</head>
	<body >
		<div class="a">
			<header>
				<span id="title">留言板</span>
			</header>

			<div class="form">				
				<div class="item mtb10">
					<textarea id="content" name="content" rows="" cols="" placeholder="请写入你的留言"></textarea>
				</div>
				<div class="item mtb10">
					<button id="submit" type="button">提交</button>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="/js/kintenglife/guestbook.js" ></script>
		
		
	</body>
</html>
