<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<#include "/include.html"/>
		<#include "/FreemarkerMacro.html"/>
		
	</head>
	<body>
		<div class="header">
			<div class="nav">
				<i class="icon fa fa-home">&nbsp;</i>
				<div class="nav0">订单信息信息管理</div>
			</div>
		</div>
		<div class="body">
			<div class="container_box">
				
				<div class="col_side dn">
					<h4>
						<i class="fa fa-cubes"></i>
						订单信息分类
						<i id="deleteCate" class="fr fa fa-trash-o"></i>
						<i id="editCate" class="fr fa fa-edit"></i>
						<i id="addCate" class="fr fa fa-plus"></i>
						
					</h4>
					<div class="category">
						<div id="tree"></div>
					</div>
				</div>
				
				
				<div class="col_main body">
					<h4>
						<i class="fa fa-list"></i>
						订单信息信息列表
						<a href="haiOrderInfoAddDetail" class="fa fa-plus btn btn-primary" >添加</a>
					</h4>			
					<div class="panel panel-default">
						<div class="panel-heading">搜索条件</div>
						<div class="panel-body single">					    
							<div><label>标题：</label><input id="orderName" class="control"/></div>
							<div><button id="btnSearch" class="fa fa-search btn btn-default control">搜索</button></div>
						</div>
					</div>
					
					
					<div class="main_table">
						<table id="bsTable" data-show-columns="false"></table>
					</div>

				</div>
			</div>
		</div>


<div class="modal fade" id="haiOrderGoodsModal" tabindex="-1" role="dialog" aria-labelledby="haiOrderGoodsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="haiOrderGoodsLabel">订单信息分类管理</h4>
            </div>
            <div class="modal-body">
            	<form id="haiOrderGoodsFormModal" name="haiOrderGoodsFormModal" class="form-horizontal" method="post">

<input type="hidden" class="form-control" id="recId" name="recId"  >
<div class="form-group">
<label class="col-sm-2 control-label">order_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="orderId" name="orderId"  placeholder="" data-rule-required="true" data-msg-required="请输入order_id">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">商家子订单号</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="subOrderSn" name="subOrderSn"  placeholder="" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsId" name="goodsId"  placeholder="" data-rule-required="true" data-msg-required="请输入goods_id">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_name</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsName" name="goodsName"  placeholder="" data-rule-required="true" data-msg-required="请输入goods_name">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_sn</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsSn" name="goodsSn"  placeholder="" data-rule-required="true" data-msg-required="请输入goods_sn">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">product_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="productId" name="productId"  placeholder="" data-rule-required="true" data-msg-required="请输入product_id">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_number</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsNumber" name="goodsNumber"  placeholder="" data-rule-required="true" data-msg-required="请输入goods_number">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">market_price</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="marketPrice" name="marketPrice"  placeholder="" data-rule-required="true" data-msg-required="请输入market_price">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_price</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsPrice" name="goodsPrice"  placeholder="" data-rule-required="true" data-msg-required="请输入goods_price">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_attr</label>
<div class="col-sm-8">
	<@ueditorPicker id="goodsAttr" value="" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_thumb</label>
<div class="col-sm-8">
	<textarea class="form-control" id="goodsThumb" name="goodsThumb" placeholder="" ></textarea>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">send_number</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="sendNumber" name="sendNumber"  placeholder="" data-rule-required="true" data-msg-required="请输入send_number">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">is_real</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="isReal" name="isReal"  placeholder="" data-rule-required="true" data-msg-required="请输入is_real">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">extension_code</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="extensionCode" name="extensionCode"  placeholder="" data-rule-required="true" data-msg-required="请输入extension_code">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">parent_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="parentId" name="parentId"  placeholder="" data-rule-required="true" data-msg-required="请输入parent_id">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">is_gift</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="isGift" name="isGift"  placeholder="" data-rule-required="true" data-msg-required="请输入is_gift">
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">goods_attr_id</label>
<div class="col-sm-8">
	<textarea class="form-control" id="goodsAttrId" name="goodsAttrId" placeholder="" data-rule-required="true" data-msg-required="请输入goods_attr_id"></textarea>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">store_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="storeId" name="storeId"  placeholder="" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">agency_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="agencyId" name="agencyId"  placeholder="" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">article_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="articleId" name="articleId"  placeholder="" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">user_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="userId" name="userId"  placeholder="" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">seller_user_id</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="sellerUserId" name="sellerUserId"  placeholder="" >
</div>
</div>



            	</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="haiOrderGoodsFormSubmit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div><!-- /.modal end -->

		
		<script type="text/javascript" src="/js/admin/orderinfo/view.js" ></script>
	</body>
</html>
