<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>恩平广播电视大学请假审批</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/begoff.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>恩平广播电视大学</div>
				<div>请假审批结果</div>
			</header>
			<div class="form">
				<div class="item mtb10">
					<label>学生姓名：</label>
					<span>${student.realname}</span>
				</div>
				<div class="item mtb10">
					<label>学生号：</label>
					<span>${student.userName}</span>
				</div>
				<div class="item mtb10">
					<label>班级：</label>
					<span>${student.question}</span>
				</div>
				<div class="item mtb10">
					<label>请假天数：</label>
					<span>${haiBegOff.number}天</span>
				</div>
				
				<div class="item mtb10">
					<label>请假原因：</label>
					<span>${haiBegOff.reason}</span>
				</div>
				
				<#if (haiBegOff.teacherUserId?? && haiBegOff.teacherApprove?? )>
				<div class="item mtb10">
					<label>审批一：</label>
					<span>${teacher!''}</span>
				</div>
				</#if>
				
				<#if (haiBegOff.departmentUserId?? && haiBegOff.departmentApprove?? )>
				<div class="item mtb10">
					<label>审批二：</label>
					<span>${department!''}</span>
				</div>
				</#if>
				
				<#if (haiBegOff.leaderUserId?? && haiBegOff.leaderApprove?? )>
				<div class="item mtb10">
					<label>审批三：</label>
					<span>${leader!''}</span>
				</div>
				</#if>
				
				<#if (permit?? && permit == "permit") >
				<div class="item mtb10">
					<button type="button" class="submit" approve="1">批准</button>
				</div>
				<div class="item mtb10">
					<button type="button" class="submit" approve="2">不批准</button>
				</div>
				</#if>
				
			</div>
		</div>
		<input type="hidden" id="begid" value="${begid}" >
		<script type="text/javascript" src="/js/ep_school/approve.js?1"></script>
	</body>
</html>
