<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>恩平广播电视大学请假审批</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/layer/mobile/need/layer.css" />
		<script type="text/javascript" src="js/layer/mobile/layer.js" ></script>
		
		<link rel="stylesheet" href="css/begoff.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>恩平广播电视大学</div>
				<div>请假审批结果</div>
			</header>
			<div class="form">
				<div class="item mtb10">
					<label>学生姓名：</label>
					<span>tyler</span>
				</div>
				<div class="item mtb10">
					<label>学生号：</label>
					<span>123456788</span>
				</div>
				<div class="item mtb10">
					<label>班级：</label>
					<span>初二（3）班</span>
				</div>
				<div class="item mtb10">
					<label>请假天数：</label>
					<span>3天</span>
				</div>
				
				<div class="item mtb10">
					<label>请假原因：</label>
					<span>XXXXXXX</span>
				</div>
				
				<div class="item mtb10">
					<label>审批一：</label>
					<span>李老师审批通过</span>
				</div>
				
				<div class="item mtb10">
					<label>审批二：</label>
					<span>李部长审批通过</span>
				</div>
				
				
				<div class="item mtb10">
					<button id="submit" type="button">批准</button>
					<button id="submit" type="button">不批准</button>
				</div>
			</div>
		</div>
	</body>
</html>
