<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="x5-orientation" content="portrait">
		<title>恩平市职业技术教育中心请假申请</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/begoff.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>恩平市职业技术教育中心</div>
				<div>学生/教师/部长/学工处帐号绑定</div>
			</header>
			<div class="form">
				<div class="item mtb10">
					<label class="f">姓名：</label>
					<input type="text" id="realname" placeholder="请输入您的姓名" />
				</div>
				<div class="item mtb10">
					<label class="f">学/工号：</label>
					<input type="text" id="user_name" placeholder="请输入学/工号" />
				</div>
				
				<div class="item mtb10">
					<button id="submit" type="button">提交绑定</button>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/ep_school/bind.js"></script>
		<#if users??>
		<script type="text/javascript" >
		$(function(){
			$("#user_name").val("${users.userName}");
			$("#realname").val("${users.realname}");
			
			$("#user_name").attr("readonly",true);
			$("#realname").attr("readonly",true);
			$("#submit").attr("disabled",true);
			$("#submit").html("已绑定");
			
		});
		</script>
		</#if>
	</body>
</html>
