<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>恩平市职业技术教育中心请假申请</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/begoff.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>恩平市职业技术教育中心</div>
				<div>学生请假申请</div>
			</header>
			<div class="form">
				<div class="item mtb10">
					<label>学生姓名：</label>
					<span>${users.realname}</span>
				</div>
				<div class="item mtb10">
					<label>学生号：</label>
					<span>${users.userName}</span>
				</div>
				<div class="item mtb10">
					<label>班级：</label>
					<span>${users.question}</span>
				</div>
				<div class="item mtb10">
					<label>请假天数：</label>
					<ul id="num">
						<li class="active" num="1">1天</li>
						<li num="2">2天</li>
						<li num="3">3天及以上</li>
					</ul>
				</div>
				<div id="number_item" class="item mtb10 dn">
					<label class="f">天数：</label>
					<input type="number" id="number" placeholder="请输入请假天数" value="1"/>
					
				</div>
				<div class="item mtb10">
					<textarea id="reason" placeholder="请输入请假原因" ></textarea>
				</div>
				<div class="item mtb10">
					<button id="submit" type="button">提交申请</button>
				</div>
			</div>
		</div>
		
		
		<#if begOff??>
			<script type="text/javascript">
			
			var number = ${begOff.number};
			$("#number").val(number);
			$("#reason").val("${begOff.reason}");
			if(parseInt(number)>=3){
				number = 3;
				$("#number_item").removeClass("dn")
			}
			$("#num li").removeClass("active");
			$("#num li").each(function(){
				if(parseInt($(this).attr("num"))==parseInt(number)){
					$(this).addClass("active");
				}
			});
			
			$("#number").attr("readonly",true);
			$("#reason").attr("disabled",true);
			$("#submit").attr("disabled",true);
			$("#submit").html("未审批的请假");
			
			function onBridgeReady() {
			    WeixinJSBridge.call('hideOptionMenu');
			}

			if (typeof WeixinJSBridge == "undefined") {
			    if (document.addEventListener) {
			        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
			    } else if (document.attachEvent) {
			        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
			        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
			    }
			} else {
			    onBridgeReady();
			}

			
			</script>
		<#else>
			<script type="text/javascript" src="/js/ep_school/begoff.js"></script>
		</#if>
		
		
	</body>
</html>
