<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>恩平广播电视大学请假申请</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/layer/mobile/need/layer.css" />
		<script type="text/javascript" src="js/layer/mobile/layer.js" ></script>
		
		<link rel="stylesheet" href="css/begoff.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>恩平广播电视大学</div>
				<div>学生请假申请</div>
			</header>
			<div class="form">
				<div class="item mtb10">
					<label>学生姓名：</label>
					<span>tyler</span>
				</div>
				<div class="item mtb10">
					<label>学生号：</label>
					<span>123456788</span>
				</div>
				<div class="item mtb10">
					<label>班级：</label>
					<span>初二（3）班</span>
				</div>
				<div class="item mtb10">
					<label>请假天数：</label>
					<ul id="num">
						<li class="active" num="1">1天</li>
						<li num="2">2天</li>
						<li num="3">3天及以上</li>
					</ul>
				</div>
				<div id="number_item" class="item mtb10 dn">
					<label class="f">天数：</label>
					<input type="number" id="number" placeholder="请输入请假天数" />
					
				</div>
				<div class="item mtb10">
					<textarea id="reason" placeholder="请输入请假原因" ></textarea>
				</div>
				<div class="item mtb10">
					<button id="submit" type="button">提交申请</button>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/ep_school/begoff.js"></script>
	</body>
</html>
