<?xml version="1.0" encoding="UTF-8"?>
<xml>
	
	<menu>
		<Parent>
			<id>main_controller</id>
			<title>主控制板</title>
			<className>menu</className>
			<url>/admin/question_insert</url>
			<module>main</module>
			<iconClassName>icon icon-home</iconClassName>
			<roles></roles>	
			<MenuItems></MenuItems>
		</Parent>
		
		<Parent>
			<id>report</id>
			<title>统计&amp;报表</title>
			<className>menu</className>
			<url>javascript:;</url>
			<module>report</module>
			<iconClassName>icon icon-signal</iconClassName>
			<roles>
				<string>teacher</string>
				<string>school</string>
				<string>leader</string>
				<string>admin</string>
			</roles>	
			<MenuItems></MenuItems>
		</Parent>
		
		<Parent>
			<id>message</id>
			<title>消息中心</title>
			<className>menu submenu</className>
			<url>javascript:;</url>
			<module>report</module>
			<iconClassName>icon icon-inbox</iconClassName>
			<roles></roles>	
			<MenuItems>
				<MenuItem>
					<id>question_insert</id>
					<title>系统消息</title>
					<url>/admin/message_insert</url>
					<module>question</module>
					<className>menu</className>
					<iconClassName>icon icon-signal</iconClassName>
					<roles></roles>
				</MenuItem>
				<MenuItem>
					<id>question_insert</id>
					<title>邮件消息</title>
					<url>/admin/message_list</url>
					<module>question</module>
					<className>menu</className>
					<iconClassName>icon icon-signal</iconClassName>
					<roles></roles>
				</MenuItem>
			</MenuItems>
		</Parent>
		
		
		<Parent>		
			<id>questionnair</id>
			<title>调查问卷</title>	
			<url></url>
			<module>question</module>
			<className>menu submenu</className>
			<iconClassName>icon icon-inbox</iconClassName>
			<roles></roles>
			<MenuItems>
				<MenuItem>
					<id>question_insert</id>
					<title>新增问卷</title>
					<url>/admin/questionnaire_insert</url>
					<module>question</module>
					<className>menu</className>
					<iconClassName></iconClassName>
					<roles>
						<string>teacher</string>
						<string>school</string>
						<string>leader</string>
						<string>admin</string>
					</roles>
				</MenuItem>
				<MenuItem>
					<id>question_list</id>
					<title>问卷列表</title>
					<url>/admin/questionnaire_list</url>
					<module>question</module>
					<className>menu</className>
					<iconClassName></iconClassName>
					<roles>
						<string>teacher</string>
						<string>school</string>
						<string>leader</string>
						<string>admin</string>
					</roles>
				</MenuItem>
				<MenuItem>
					<id>question_list</id>
					<title>参与调查问卷</title>
					<url>/admin/student_question_list</url>
					<module>question</module>
					<className>menu</className>
					<iconClassName></iconClassName>
					<roles>
						<string>student</string>
					</roles>
				</MenuItem>
			</MenuItems>
		</Parent>
		
		
		<Parent>
	      <id>stsl</id>
	      <title>学生 &amp; 教师 &amp; 学校  &amp; 省人社</title>
	      <className>submenu menu</className>
	      <module>stsl</module>
	      <iconClassName>icon icon-fullscreen</iconClassName>
	      <roles>
	        <string>teacher</string>
			<string>school</string>
			<string>leader</string>
			<string>admin</string>
	      </roles>
	      <MenuItems>
	        <MenuItem>
	          <id></id>
	          <title>添加学生</title>
	          <className></className>
	          <url>/admin/student_insert</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>teacher</string>
	            <string>school</string>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>学生管理</title>
	          <className></className>
	          <url>/admin/student_list</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>teacher</string>
	            <string>school</string>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>添加教师</title>
	          <className></className>
	          <url>/admin/teacher_insert</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>school</string>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>教师管理</title>
	          <className></className>
	          <url>/admin/teacher_list</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>school</string>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>添加学校</title>
	          <className></className>
	          <url>/admin/school_insert</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>学校管理</title>
	          <className></className>
	          <url>/admin/school_list</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>leader</string>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>添加省人社厅用户</title>
	          <className></className>
	          <url>/admin/leader_insert</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	        <MenuItem>
	          <id></id>
	          <title>省人社厅用户管理</title>
	          <className></className>
	          <url>/admin/leader_list</url>
	          <module></module>
	          <iconClassName></iconClassName>
	          <roles>
	            <string>admin</string>
	          </roles>
	        </MenuItem>
	      </MenuItems>
	    </Parent>
	    
	    <Parent>
		      <id>datainit</id>
		      <title>基本数据管理</title>
		      <className>submenu menu</className>
		      <module></module>
		      <iconClassName>icon icon-inbox</iconClassName>
		      <roles>
		      	<string>school</string>
		      </roles>
		      <MenuItems>
		        <MenuItem>
		          <id></id>
		          <title>院系信息</title>
		          <className></className>
		          <url>/admin/school_data</url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>school</string>
		          </roles>
		        </MenuItem>
		        
		      </MenuItems>
		    </Parent>
	    
	    <Parent>
		      <id>article</id>
		      <title>资讯管理</title>
		      <className>submenu menu</className>
		      <module></module>
		      <iconClassName>icon icon-inbox</iconClassName>
		      <roles></roles>
		      <MenuItems>
		        <MenuItem>
		          <id></id>
		          <title>添加资讯类型</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>资讯类型管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>添加资讯</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>资讯管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id>article_list</id>
		          <title>资讯查看</title>
		          <className></className>
		          <url>/admin/article_student_list</url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>student</string>
		          </roles>
		        </MenuItem>
		      </MenuItems>
		    </Parent>
		    
	        <Parent>
		      <id>company</id>
		      <title>企业&amp;招聘</title>
		      <className>submenu menu</className>
		      <module></module>
		      <iconClassName>icon icon-inbox</iconClassName>
		      <roles>
		        <string></string>
		      </roles>
		      <MenuItems>
		        <MenuItem>
		          <id></id>
		          <title>添加企业</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>企业管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>添加聘</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>招聘管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string></string>
		          </roles>
		        </MenuItem>
		      </MenuItems>
		    </Parent>
		    <Parent>
		      <id></id>
		      <title>系统管理</title>
		      <className>submenu menu</className>
		      <module></module>
		      <iconClassName>icon icon-inbox</iconClassName>
		      <roles></roles>
		      <MenuItems>
		        <MenuItem>
		          <id></id>
		          <title>角色管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>admin</string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>权限管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>admin</string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>用户管理</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>admin</string>
		          </roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>修入密码</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles></roles>
		        </MenuItem>
		        <MenuItem>
		          <id></id>
		          <title>系统备份</title>
		          <className></className>
		          <url></url>
		          <module></module>
		          <iconClassName></iconClassName>
		          <roles>
		            <string>admin</string>
		          </roles>
		        </MenuItem>
		      </MenuItems>
		    </Parent>
		    
	</menu>

</xml>