<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
/* .mynews,.MsoNormal,.MsoNormal span,.mynews p{width:100%;}
.MsoNormal span,.mynews p{text-align: center;display: inline-block;}
.mynews img{margin:0 auto;} */
</style>
</head>
<body>
<h3>${model.title!''}</h3>
<span class="time">${(model.createDate?string('yyyy-MM-dd'))!''}</span>
<b>${cat.catName}</b>
<#if model.articleThumb??>
<i style="width:100%;text-align: center;display: block;"><img class="article_thumb" src="${model.articleThumb}"/></i>
</#if>
<p class="content"><div class="mynews">${model.content}</div></p>
</body>
</html>