<!DOCTYPE html>
<html>
<head>
<#include "/include/EJQ_Include.html">
<script type="text/javascript" charset="utf-8" src="/js/ejq.mobile.js"></script>
<title>我的收藏</title>
<link href="/css/mobile/simple/ul_goods.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/mobile/my_favorites.js"></script>

</head>
<body class="jqmobi">
<div class="view active" id="mainview">
	<header>
       	<h1>我的收藏</h1>
   	</header>
   	
   	<div class="pages">
		<div id="main" class="panel active" data-selected="true" data-title="我的收藏">
			
			<ul id="goods_ul" class="list ul_goods"></ul>
		    
		</div>
	</div>
   	

</div>

<script type="text/javascript">

$(function () {

});
</script>


</body>
</html>