<!DOCTYPE html>
<html>
	<head>
<#include "/include/Jqmobi_Include.html">

<title>首页</title>
<script type="text/javascript" src="/js/mobile/order_info.js"></script>
	</head>
	<body>
		<div class="view" id="mainview">
			<header>
            	<h1>首页</h1>
        	</header>
        	<div class="pages">
        		<div  class="panel active" id="main" data-title="首页" data-selected="true">
        			
        		</div>
        		
        	</div>
        	

	        
        </div>
<script type="text/javascript">
var orderId = "${orderId}";
</script>        
	</body>
</html>
