<!DOCTYPE html>
<html>
<head>
<#include "/include/Jqmobi_Include.html">
<title>新用户注册</title>
<link rel="stylesheet" type="text/css" href="/css/mobile/form_list.css" />
<script type="text/javascript" src="/js/register.js"></script>
</head>
<body>
<body class="jqmobi">

<div class="view " id="mainview">
	<header>
	   	<h1>微信主页</h1>
	</header>
	<div class="pages">
		<div  class="panel active page_msg" id="main" data-title="新用户注册" data-selected="true">
			
			<form action="" method="post">
   			<ul class="list nobline eform p5">
   				
   				<li class="">
   					<label class="lbl">用户名：</label>
   					<div class="input" ><input type="text" id="username" name="username" placeholder="请输入用户名" value=""></div>
   				</li>
   				<li class="">
   					<label class="lbl">密码：</label>
   					<div class="input" ><input type="password" id="password" name="password" placeholder="请输入用户密码" value=""></div>
   				</li>
   				<li class="">
   					<label class="lbl">确认密码：</label>
   					<div class="input" ><input type="password" id="confirmPassword" name="confirmPassword" placeholder="请输入用户密码" value=""></div>
   				</li>
   				
   				<li class="padtopbottom15">
   					<span class="fl">我已经阅读并同意</span>
   					<span class="fr">易平台服务条款</span>
   				</li>
   				
   				<li class="submit">
     				<button type="button" id="submit_register" name="submit_register"  class="btn btn-bs btn-outline w100">注册</button>
     			</li>
        	</ul>
        	
        	
        	</form>
        	
		</div>        		
	</div>
	
	<footer>
		
	</footer>
</div>

</body>
</html>