<!DOCTYPE html>
<html>
<head>
<#include "/include/EJQ_Include.html">
<title>Insert title here</title>
<script type="text/javascript" charset="utf-8" src="/js/ejq.mobile.js"></script>

<link rel="stylesheet" href="/ehais/js/swiper/swiper-3.3.1.min.css">
<script src="/ehais/js/swiper/swiper-3.3.1.jquery.min.js"></script>
</head>
<body class="jqmobi">
<div class="view active" id="mainview">
	<header>
       	<h1>首页</h1>
   	</header>
   	
   	<div class="pages">
		<div id="main" class="panel active" data-selected="true" data-title="商品详情">
			

		    
		</div>
	</div>
   	
   	<footer>
        <ul class="icon i3">
        	<li>
        		<div id="goCart"></div>
        	</li>
        	<li id="addCart">加入购物车</li>
        </ul>
    </footer>
</div>

<script type="text/javascript">

$(function () {

});
</script>

</body>
</html>