<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/PayBill/PayBillRequestForm" method="post">
	<input type="text" id="amount" name="amount" value="0.01">
	<input type="text" id="realname" name="realname" value="tyler">
	<input type="checkbox" id="anonymous" name="anonymous" value="1">
	<input type="text" id="orderPayTableId" name="orderPayTableId" value="1">
	<input type="text" id="orderPayTableName" name="orderPayTableName" value="donation">
	<input type="text" id="orderBody" name="orderBody" value="感谢你使用银联支付">
	<input type="text" id="mobile" name="mobile" value="13800138000">
	<input type="text" id="email" name="email" value="lgj628@126.com">
	<input type="text" id="company" name="company" value="ehais company">
	<input type="text" id="guestbook" name="guestbook" value="祝你good luck">
	<input type="text" id="wxid" name="wxid" value="54">
	<input type="text" id="pay_source" name="pay_source" value="paybill">
	<input type="submit" value="提交">
	
</form>
</body>
</html>