<!--sidebar-menu-->
<div id="sidebar">
<a href="javascript:;" class="visible-phone">
<i class="icon icon-home"></i> 控制台
</a>
  <ul>
    <li id="main" class="menu"><a href="javascript:;"><i class="icon icon-home"></i> <span>控制台</span></a> </li>
    <li id="report" class="menu"> <a href="javascript:;"><i class="icon icon-signal"></i> <span>统计 &amp; 报表</span></a> </li>
    
    <li id="message" class="menu submenu"> 
    <a href="javascript;">
    	<i class="icon icon-inbox"></i> 
	    <span>站内消息</span>
	    <span class="label label-important">30</span>
	</a>
      <ul>
        <li class=""><a href="javascript:;">邮件消息</a></li>
        <li><a href="javascript:;">问卷消息</a></li>
      </ul>
    </li>
    
    <li id="questionnaire" class="active submenu open menu"> 
    <a href="javascript;">
    	<i class="icon icon-inbox"></i> 
	    <span>问卷管理</span>
	</a>
      <ul>
        <li class="subactive"><a href="/admin/questionnaire_insert">新增问卷</a></li>
        <li><a href="/admin/questionnaire_list" active-href="/admin/questionnaire_update,/admin/questionnaire_delete">问卷管理</a></li>
      </ul>
    </li>
    <li id="member" class="submenu menu">
    <a href="grid.html">
    <i class="icon icon-fullscreen"></i> 
    <span>学生 &amp; 教师 &amp; 学校  &amp; 省人社</span>
    </a>
    <ul>
        <li><a href="/admin/student_insert">添加学生</a></li>
        <li><a href="/admin/student_list">学生管理</a></li>
        <li><a href="/admin/teacher_insert">添加教师</a></li>
        <li><a href="/admin/teacher_list">教师管理</a></li>
        <li><a href="/admin/school_insert">添加学校</a></li>
        <li><a href="/admin/school_list">学校管理</a></li>        
        <li><a href="/admin/leader_insert">添加省人社厅用户</a></li>
        <li><a href="/admin/leader_list">省人社厅用户管理</a></li>                
      </ul>
    </li>
    
    <li id="article" class="submenu menu">
    <a href="javascript:;"><i class="icon icon-pencil"></i> 
    <span>资讯管理</span>
    <ul>
        <li><a href="javascript:;">添加资讯类型</a></li>
        <li><a href="javascript:;">资讯类型管理</a></li>
        <li><a href="javascript:;">添加资讯</a></li>
        <li><a href="javascript:;">资讯管理</a></li>
      </ul>
    </a>    
    </li>

    
    <li id="company" class="submenu menu"> 
    <a href="javascript:;"><i class="icon icon-file"></i> 
    <span>企业 &amp; 招聘管理</span> 
    </a>
      <ul>
        <li><a href="javascript:;">添加企业</a></li>
        <li><a href="javascript:;">企业管理</a></li>
        <li><a href="javascript:;">添加招聘</a></li>
        <li><a href="javascript:;">招聘管理</a></li>
      </ul>
    </li>
    
    <li id="system" class="submenu menu"> 
    <a href="javascript:;">
    <i class="icon icon-info-sign"></i> 
    <span>系统管理</span> 
    </a>
      <ul>
        <li><a href="javascript:;">角色管理</a></li>
        <li><a href="javascript:;">权限管理</a></li>
        <li><a href="javascript:;">用户管理</a></li>
        <li><a href="javascript:;">修入密码</a></li>
        <li><a href="javascript:;">系统备份</a></li>
      </ul>
    </li>
    <li id="cache" class="content menu"> <span>内存使用量</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li id="file" class="content menu"> <span>文件使用量</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 87%;" class="bar"></div>
      </div>
      <span class="percent">87%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li>
  </ul>
</div>
<!--sidebar-menu-->

