<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>项目日历管理</title>
<#include "/BootStrap_Include.html">
<link href="/css/mProjectCSS.css" rel="stylesheet">
<script type="text/javascript" src="/js/MProjectDatePicker.js"></script>
<script type="text/javascript" src="/js/myCalendar.js"></script>

</head>
<body>

<div class="container-fluid">
	<div id="mProjectCalendar" class="mProjectCalendar"></div>
</div>

<#include "sub/calendar_event.html">

<script type="text/javascript">


</script>
</body>
</html>