<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		
		<#include "/include.v2.html"/>
		<#include "/FreemarkerMacro.html"/>
		
		
		
		<script type="text/javascript">
			var bootstrap_table_url = 'haiGoodsListJson';
			var goodsName = null;
			var query_parames = {
                goodsName : goodsName
			};
			var columns =  [
				{
    field: 'catName',
    title: '分类'
},{
    field: 'goodsSn',
    title: '条形码'
},{
    field: 'goodsCode',
    title: '简码'
},{
    field: 'goodsName',
    title: '商品名称'
},{
    field: 'shopPrice',
    title: '销售价格'
},{
    field: 'costPrice',
    title: '采购价格'
},
		        {
					field: 'goodsId',
		            title: '操作',
					align:"center",
			        formatter:function(value,row,index){
			        	var opt = "";
			        	
			        	<@permission url="haiGoodsEditDetail">
			            opt += "<a href ='javascript:;' onclick='haiGoodsEditDetail("+value+");'  class='glyphicon glyphicon-edit'></a>";
			            </@permission>
			            
			            <@permission url="haiGoodsDelete">
			            opt += "&nbsp;&nbsp;<a href ='javascript:;' onclick='haiGoodsDelete("+value+");' class='glyphicon glyphicon-trash'></a>";
			            </@permission>
			            
		            	return opt;
			        }
		        }
        	];
			
			var responseHandler = function(res){//返回数据整合
				if(res.map.catList != null){
					var catList = res.map.catList ;
		        	var catObj = {};
		        	for(var i = 0 ; i < catList.length ; i ++){
		        		catObj[catList[i].catId] = catList[i].catName;
		        	}
		        	var rows = res.rows;
		        	for(var i = 0 ; i < rows.length ; i++){
		        		rows[i].catName = catObj[rows[i].catId];
		        	}
				}
				
				return res;
			}
			
		</script>
		<script type="text/javascript" src="/js/e_bootstrap_table.js"></script>
    	<script type="text/javascript" src="/js/admin/goods/goodsView.js" ></script> 
		<title>商品管理</title>
		
	</head>
	<body>
		<div class="container-fluid" id="wrapper" tabindex="-1">
			
			<dl class="enav">
				<dt>当前位置:</dt>
				<dd>总系统</dd>
				<dd>商品管理</dd>
				<dd class="fr">快捷键提示</dd>
			</dl>
			
			<div class="ctr form-inline">
				  <div class="form-group">
				    <label >搜索信息</label>
				    <input id="key_goodsName" name="key_goodsName" class="form-control" >
				  </div>
				  				  
				  
				  <button id="haiGoodsSearch" type="button" class="btn btn-primary glyphicon glyphicon-search">查询</button>
				  
				  <@permission url="haiGoodsAddDetail">
				  <button id="haiGoodsAddDetail" type="button" class="btn btn-info glyphicon glyphicon-plus fr">新增</button>
				  </@permission>
			</div>
			
			<div class="elist">
				<table class="table table-striped table-bordered table-hover" id="bsTable"></table> 
			</div>
			
		</div>



<div id="haiGoodsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">商品管理</h4>
      </div>
      <div class="modal-body">
        <form id="haiGoodsForm" name="haiGoodsForm" class="form-horizontal" action="add" method="post">
        
        <input type="hidden" class="form-control" id="goodsId" name="goodsId" value="" >
<div class="form-group">
<label class="col-sm-2 control-label">分类编号</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="catId" name="catId" value="" placeholder="" data-rule-required="true" data-msg-required="请输入分类编号" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">条形码</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsSn" name="goodsSn" value="" placeholder="" data-rule-required="true" data-msg-required="请输入条形码" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">简码</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsCode" name="goodsCode" value="" placeholder=""  >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">商品名称</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="goodsName" name="goodsName" value="" placeholder="" data-rule-required="true" data-msg-required="请输入商品名称" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">销售价格</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="shopPrice" name="shopPrice" value="" placeholder="" data-rule-required="true" data-msg-required="请输入销售价格" >
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">采购价格</label>
<div class="col-sm-5">
	<input type="text" class="form-control" id="costPrice" name="costPrice" value="" placeholder=""  >
</div>
</div>


        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="haiGoodsSaveSubmit" type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">
	var eData = {};
		
	$(function(){
				

	});
	
	
</script>

	</body>
</html>
