<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/themes/lyh/css/m_styles.css" />
    <link rel="stylesheet" href="/themes/lyh/css/border.css">

</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <img src="/themes/lyh/img/logo.png" alt="">
            </div>
            <!-- <div class="fix"></div> -->
            <div class="logo-right">
                <div class="nav_icon center-vertical"></div>
                <div class="user_icon center-vertical"></div>

            </div>
            <div class="fix"></div>

        </div>
        <div>
            <div class="tel">
                <img class="tel_icon" src="/themes/lyh/img/tel_icon.png" alt="">
                <div class="tel_num ">020-36772828</div>
            </div>
            <div class="search">
                <input class="search_input" type="text" value="搜索车型">
                <div class="search_icon">
                    <img class="center-vertical" src="/themes/lyh/img/search_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="evaluateBody">
            <div class="cenetr">
                    <div class="center_header">评估中心</div>
                    <div class="note">
                         <span>注：红色</span>
                         <span class="point">*</span>
                         <span>为必选项</span>                   
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系人：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系电话：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>评估车型：</span>
                        <span></span>
                    </div>
                    <div>
                        <div class="time">
                            <span class="point">*</span><span>上牌时间：</span><span class="timeInput">0</span>
                        </div>
                        <div class="mileage">
                            <span class="point">*</span><span>行驶里程</span><span class="mileInput">行驶里程</span>
                        </div>
                    </div>
                    <div class="accident">
                        <span>是否事故水淹</span>
                        <span class="radioItem">
                            <input type="radio" name="是" id="">
                            是
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="否" id="">
                            否
                        </span>
                    </div>
                    <div class="colorItems">
                        <span>颜色：</span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            黑色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            白色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            红色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            银色
                        </span>
                    </div>
                    <div class="check">
                        <div class="left">
                            <span>验证码：</span><span class="show">点击显示</span>
                        </div>
                        <div></div>
                    </div>
                    <div class="centerText">评估中心</div>
                </div>
    </div>

    <div class="footer">
        <div>
            <img src="/themes/lyh/img/logo.png" alt="">
        </div>
        <div class="footer_text">
            2015-2020 广州龙粤行汽车发展有限公司 版权所有 粤ICP备15057833号-1
        </div>
    </div>

    <script src="./js/resetFontSize.js"></script>
</body>

</html>