<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/themes/lyh/css/m_styles.css" />
    <link rel="stylesheet" href="/themes/lyh/css/border.css">

</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <img src="/themes/lyh/img/logo.png" alt="">
            </div>
            <!-- <div class="fix"></div> -->
            <div class="logo-right">
                <div class="nav_icon center-vertical"></div>
                <div class="user_icon center-vertical"></div>

            </div>
            <div class="fix"></div>

        </div>
        <div>
            <div class="tel">
                <img class="tel_icon" src="/themes/lyh/img/tel_icon.png" alt="">
                <div class="tel_num ">020-36772828</div>
            </div>
            <div class="search">
                <input class="search_input" type="text" value="搜索车型">
                <div class="search_icon">
                    <img class="center-vertical" src="/themes/lyh/img/search_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <dav class="mainSwiper">
        <img src="/themes/lyh/img/mainSwiper.png" alt="">
    </dav>
    <div class="minorSwiper">
        <ul>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/1.png" alt="">
            </li>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/2.png" alt="">
            </li>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/3.png" alt="">
            </li>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/4.png" alt="">
            </li>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/5.png" alt="">
            </li>
            <li>
                <img class="center-vertical" src="/themes/lyh/img/6.png" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
    </div>
    <div class="index_items">
        <ul>
            <li>
                <span>
                    <img src="/themes/lyh/img/shop_icon.png" alt="" />
                </span>
                <span>汽车商城</span>
            </li>
            <li>
                <span>
                    <img src="/themes/lyh/img/sale_icon.png" alt="" />
                </span>
                <span>优惠促销</span>
            </li>
            <li>
                <span>
                    <img src="/themes/lyh/img/service_icon.png" alt="" />
                </span>
                <span>售后服务</span>
            </li>
            <li>
                <span>
                    <img src="/themes/lyh/img/center_icon.png" alt="" />
                </span>
                <span>评估中心</span>
            </li>
            <li>
                <span>
                    <img src="/themes/lyh/img/news_icon.png" alt="" />
                </span>
                <span>新闻动态</span>
            </li>
            <li>
                <span>
                    <img src="/themes/lyh/img/conect_icon.png" alt="" />
                </span>
                <span>联系我们</span>
            </li>
        </ul>
    </div>
    <div class="footer">
       <div>
           <img src="/themes/lyh/img/logo.png" alt="">
       </div>
       <div class="footer_text">
           2015-2020 广州龙粤行汽车发展有限公司 版权所有  粤ICP备15057833号-1        
       </div>
    </div>

    <script src="./js/resetFontSize.js"></script>
</body>

</html>