<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/m_styles.css" />
    <link rel="stylesheet" href="css/border.css">

</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <img src="/themes/lyh/img/logo.png" alt="">
            </div>
            <!-- <div class="fix"></div> -->
            <div class="logo-right">
                <div class="nav_icon center-vertical"></div>
                <div class="user_icon center-vertical"></div>

            </div>
            <div class="fix"></div>

        </div>
        <div>
            <div class="tel">
                <img class="tel_icon" src="/themes/lyh/img/tel_icon.png" alt="">
                <div class="tel_num ">020-36772828</div>
            </div>
            <div class="search">
                <input class="search_input" type="text" value="搜索车型">
                <div class="search_icon">
                    <img class="center-vertical" src="/themes/lyh/img/search_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="serviceBody">
        <ul>
            <li class="item">
                <div class="title">预约维修</div>
                <div class="fix">
                    <div class="secondary_title">车天车地名车中心道路救援</div>
                    <p>
                        道路行驶中即使出现少有的汽车抛锚现象 道路行驶中即使出现少有的汽车抛锚现象 道路行驶中即使出现少有的汽车抛锚现象 道路行驶中即使出现少有的汽车抛锚现象
                    </p>
                    <p>道路行驶中即使出现少有的汽车抛锚现象道路行驶中即使出现少有的汽车抛锚现象</p>
                </div>
            </li>
            <li class="item">
                <div class="title active">道路救援</div>
                <div class="aid">
                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容 内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                </div>

            </li>
            <li class="item">
                <div class="title">用车技巧</div>
                <div class="skill">
                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容 内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                </div>
            </li>
            <li class="item">
                <div class="title">特色服务</div>
                <div class="special">
                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容 内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <div>
            <img src="/themes/lyh/img/logo.png" alt="">
        </div>
        <div class="footer_text">
            2015-2020 广州龙粤行汽车发展有限公司 版权所有 粤ICP备15057833号-1
        </div>
    </div>

    <script src="./js/resetFontSize.js"></script>
</body>

</html>