<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/m_styles.css" />
    <link rel="stylesheet" href="css/border.css">

</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <img src="/themes/lyh/img/logo.png" alt="">
            </div>
            <!-- <div class="fix"></div> -->
            <div class="logo-right">
                <div class="nav_icon center-vertical"></div>
                <div class="user_icon center-vertical"></div>

            </div>
            <div class="fix"></div>

        </div>
        <div>
            <div class="tel">
                <img class="tel_icon" src="/themes/lyh/img/tel_icon.png" alt="">
                <div class="tel_num ">020-36772828</div>
            </div>
            <div class="search">
                <input class="search_input" type="text" value="搜索车型">
                <div class="search_icon">
                    <img class="center-vertical" src="/themes/lyh/img/search_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="shop_detailBody">
        <div class="carshow">
            <div class="carImg">
                <img src="/themes/lyh/img/shop_items-img.png" alt="">
            </div>
            <div class="carOthers">
                <div class="brandContent">
                    <span>品牌：</span>
                    <span>宝马</span>
                </div>
                <div class="model">
                    <span>型号：</span>
                    <span>BMW GT</span>

                </div>
                <div class="price">
                    <span>零售价：</span>
                    <span class="icon">￥</span>
                    <span class="number">19990029</span>
                </div>
            </div>
        </div>

        <div class="shop_detaillist">
            <ul>
                <li class="active">参数</li>
                <li class="verLine"></li>
                <li>亮点</li>
                <li class="verLine"></li>
                <li>实拍</li>
                <li class="verLine"></li>
            </ul>
        </div>
        <div class="shop_detail">
            <div class="shop_configuration">
                <p style="font-size: .18rem;">配置表</p>
                <p>技术</p>
                <p style="font-size: .13rem">
                    发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机 发动机


                </p>
            </div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="footer">
        <div>
            <img src="/themes/lyh/img/logo.png" alt="">
        </div>
        <div class="footer_text">
            2015-2020 广州龙粤行汽车发展有限公司 版权所有 粤ICP备15057833号-1
        </div>
    </div>

    <script src="./js/resetFontSize.js"></script>
</body>

</html>