<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/m_styles.css" />
    <link rel="stylesheet" href="css/border.css">

</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <img src="/themes/lyh/img/logo.png" alt="">
            </div>
            <!-- <div class="fix"></div> -->
            <div class="logo-right">
                <div class="nav_icon center-vertical"></div>
                <div class="user_icon center-vertical"></div>

            </div>
            <div class="fix"></div>

        </div>
        <div>
            <div class="tel">
                <img class="tel_icon" src="/themes/lyh/img/tel_icon.png" alt="">
                <div class="tel_num ">020-36772828</div>
            </div>
            <div class="search">
                <input class="search_input" type="text" value="搜索车型">
                <div class="search_icon">
                    <img class="center-vertical" src="/themes/lyh/img/search_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="shopBody">
        <div class="select">
            <div class="brands">
                <div class="brand_name center-vertical">品&nbsp&nbsp&nbsp牌：</div>
                <div class="center-vertical">
                    <ul>
                        <li>玛莎拉蒂</li>
                        <li>宾利</li>
                        <li>保时捷</li>
                        <li>路虎</li>
                        <li>奔驰</li>
                        <li class="lineActive">宝马</li>
                        <li>奥迪</li>
                        <li>丰田</li>
                    </ul>
                </div>
            </div>
            <div class="models">
                <div>所有车型：</div>
                <div>
                    <ul>
                        <li class="selected">BMW1</li>
                        <li>BMW2</li>
                        <li>BMW3</li>
                        <li>BBW4</li>
                        <li>BMW5</li>
                        <li>BMWX</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="items">
            <ul>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
                <li class="item">
                    <img src="/themes/lyh/img/shop_items-img.png" alt="" />
                    <div class="model">
                        <span>型号：</span>
                        <span>BMW GT</span>
                    </div>
                    <div class="price">
                        <span>零售价：</span>
                        <span>￥</span>
                        <span>199,990</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="pageNation">
            <img src="/themes/lyh/img/pagenation.png" alt="">
        </div>
    </div>

    <div class="footer">
        <div>
            <img src="/themes/lyh/img/logo.png" alt="">
        </div>
        <div class="footer_text">
            2015-2020 广州龙粤行汽车发展有限公司 版权所有 粤ICP备15057833号-1
        </div>
    </div>

    <script src="./js/resetFontSize.js"></script>
</body>

</html>