<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>易海司信息</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<link rel="stylesheet" href="css/article_detail.css" />
	</head>
	<body>
		<div class="wd">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				<span id="title">${rm.model.title}</span>
				<i></i>
			</header>
			<div id="content">
				${rm.model.content}
			</div>
			
			
			<footer>
				All Rights Reserved©2017易微销<br>  
				易海司版权所有<br>
				粤ICP备14088912号
			</footer>
			
		</div>
	</body>
</html>
