<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>分销商家后台帐户</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/ehaisManage.css" />
	</head>
	<body>
		<div class="we">
			<div class="header">
				<div class="fl w50">
					<div ><i class="fa fa-weixin"></i>微信支付</div>
					<div><i id="wa"></i>${storeStatistics.weixinAmount / 100}元</div>
					<div><i id="wq"></i>${storeStatistics.weixinQuantity}</div>
				</div>
				<div class="fl w50">
					<div ><i class="fa fa-cc-visa"></i>现金支付</div>
					<div><i id="ca"></i>${storeStatistics.cashAmount / 100}元</div>
					<div><i id="cq"></i>${storeStatistics.cashQuantity}</div>
				</div>
			</div>
			<div id="c">
				<ul id="o" class="active">
					
				</ul>
			</div>	
		</div>
		<footer>
			<div>电脑端后台操作：http://mg.ehais.com/admin.html</div>
			<div>登录名：</div>
		</footer>
		<script type="text/javascript" src="js/ehais/ehaisManage.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script type="text/javascript" src="/js/wxsdk.js" ></script>
		
		
	</body>
</html>
