<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no, email=no "/>
		<title>商家后台帐户</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<link rel="stylesheet" href="../js/elay/elay.css" />
		<script type="text/javascript" src="../js/elay/elay.js" ></script>
		
		<script type="text/javascript" src="js/jroll/jroll.js" ></script>
		
		
		<link rel="stylesheet" href="css/ehaisManageV2.css" />
	</head>
	<body>
		<div class="em">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				优惠券管理
				<i class="iconfont icon-14052229" id="coupons_add"></i>
			</header>
			<ul class="l active" id="coupons_list"></ul>
			<#include "store_coupons_form.html"/>
			
		</div>
		
		<script type="text/javascript" src="js/ehais/store_coupons.js" ></script>
		
	</body>
</html>
