<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>签到成功</title>
		<script type="text/javascript" src="js/zepto.min.js" ></script>
		<script type="text/javascript" src="js/touch.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<link rel="stylesheet" href="css/w_activity_sign.css" />
	</head>
	<body>
		<div class="was">
			<i class="iconfont icon-gou"></i>
			签到成功
		</div>
	</body>
</html>
