<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>地址信息</title>
		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../js/elay/elay.css" />
		<link rel="stylesheet" href="../css/w_address.css" />
	</head>
	<body>
		<div class="waw">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				地址列表
			</header>
			<ul>
				<#if userAddressList??>
				<#list userAddressList as addr>
				
				<li addressid="${addr.addressId}">
					<div class="info">
						<div class="consignee">${addr.consignee!''}</div>
						<div class="mobile">${addr.mobile}</div>
						<div class="address">${addr.address}</div>
					</div>
					<div class="operate">
						<i class="iconfont icon-default <#if addr.isDefault == '1'>active</#if>">  默认</i>
						<i class="iconfont icon-lajixiang">  删除</i>
						<i class="iconfont icon-edit">  编辑</i>
					</div>
				</li>
				
				<!-- <div class="item" addressid="${addr.addressId}">
					
					<div class="info">
						<div class="username">
							<span class="consignee">${addr.consignee!''}</span>
							<span class="fa fa-mobile"></span>
							<span class="mobile">${addr.mobile}</span>
						</div>
						<div class="address">${addr.address}</div>
					</div>
					<div class="operate">
						<div class="choose"><i class="fa fa-hand-o-up"></i></div>
						<div class="default <#if addr.isDefault == '1'>active</#if>"><i class="fa fa-leaf"></i>默认</div>
						<div class="edit"><i class="fa fa-edit"></i></div>
						<div class="trash"><i class="fa fa-trash"></i></div>
					</div>
					
				</div> -->
				</#list>
				</#if>
			</ul>
			<footer>
				
				<button id="newAddress">新增地址</button>
			</footer>
		</div>
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="../js/common.js" ></script>
		<script type="text/javascript" src="../js/elay/elay.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script src="../js/ehais/w_address_list.js"></script>
		<script type="text/javascript">
		function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
		</script>
	</body>
</html>
