<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>${article.title!''}</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../js/elay/elay.css" />
		<link rel="stylesheet" href="../css/w_wine.css" />
		
	</head>
	<body>
		<div class="ww">
			<header>
				<i class="iconfont icon-fanhui"></i>
			</header>
			<div class="logo"></div>
			<h3>${article.title!''}</h3>
			<div class="lbl">
				<span>${(article.articleDate?string("yyyy-MM-dd"))!''}</span>
				<span>${article.author!''}</span>
				<span>易海司公众号</span>
			</div>
			<div class="share">如果你觉得文章有价值，请分享到朋友圈</div>
			
			<#if (article.articleImages?? && article.articleImages!="" )>
			<div class="media">
				<img src="${article.articleImages!''}" />
			</div>
			</#if>
			
			<div class="article">${article.content!''}</div>
			
			
			<#if goods??>
			<div class="product">
				<img src="${goods.originalImg!''}" />
				<div class="name">${goods.goodsName!''}</div>
				<div class="detail dn">
					<span id="buynow"><a href="javascript:;">购买</a></span>
					<span><a href="${w_goods_detail!''}">详情</a></span>
					<span id="shareTip"><a href="javascript:;">分享</a></span>
				</div>
				
				<div class="qr">
					<a href="w_goods_detail!${sid}">长按二维码购买</a>
					<img id="gqr" />
				</div>
				
			</div>
			<input type="hidden" id="goodsId" name="goodsId" value="${goods.goodsId}"/>
			<input type="hidden" id="parentId" name="parentId" value="${parentId}"/>
			<input type="hidden" id="articleId" name="articleId" value="${articleId}"/>
			<input type="hidden" id="agencyId" name="agencyId" value="${agencyId}"/>
			
			</#if>
			
			
			<div class="recommend_title dn">推荐文章</div>
			<div class="recommend dn"></div>
			
			<div class="qrcode dn">
				<img src="../images/qrcode.gif" />
			</div>
			
			<div class="statistics"><#if article.articleSource??>文章源自：${article.articleSource!'原创'}</#if><i class="iconfont icon-article">  ${article.readCount!0}</i><i class="iconfont icon-zan">  ${article.praiseCount!0}</i></div>
			
			<div class="at"><a href="${articleIndex}">资讯</a><a href="${shopIndex}">购物</a><a href="${storeUnion}">开店</a><a class="share">分销</a></div>
			
		</div>
		
		<div class="write">
			写留言<i class="fa fa-pencil"></i>
		</div>
		<div class="message">
			<ul id="message">
				
			</ul>
		</div>
		
		<div class="sw">
			<div class="bg"></div>
			<div class="pic"></div>
		</div>
		
		
		
	</body>
	
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/elay/elay.js" ></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
	<script type="text/javascript" src="../js/wxsdk.js" ></script>
	<script type="text/javascript" src="../js/ehais/w_article_goods.js" ></script>
		
	<script type="text/javascript">
	var sid = "${sid}";
	$(function(){
		wx_config(${signature});
		$("#gqr").attr("src","gqr!"+sid);
	});
	</script>
		
</html>
