<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>购物车</title>
		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/w_cart.css" />
	</head>
	<body>
		<div class="w_cart_wrapper">

			<div class="list">
				<#if cartList??>
				<#assign total=0>
				<#list cartList as cart>
				<div class="item" recid="${cart.recId}" goodsid="${cart.goodsId}" price="${cart.goodsPrice}" quantity="${cart.goodsNumber}">
					<div class="pic"><img src="${cart.goodsThumb}" /></div>
					<div class="desc">
						<h4>${cart.goodsName}</h4>
						<div class="intro">
							<div class="fl price">￥${(cart.goodsPrice / 100)?string('0.00')}</div>
							<div class="fr fa fa-plus-square"></div>
							<div class="fr quantity">${cart.goodsNumber}</div>
							<div class="fr fa fa-minus-square"></div>
							<div class="fr fa fa-trash-o"></div>
						</div>
					</div>
					<div class="fa fa-check-circle singleCheck active"></div>
				</div>
				<#assign total=total + cart.goodsPrice * cart.goodsNumber >
				</#list>
				</#if>
			</div>
			<footer>
				<div class="">
					<div class="all"><span class="fa fa-check-circle allCheck active"></span>全选</div>
					<div class="total">结算金额：<span id="total">￥${(total/100)?string("0.00")}</span></div>
				</div>
				<button id="checkOrder">立即结算</button>
			</footer>
		</div>
		
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="../js/layer/mobile/layer.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script src="../js/wine/w_cart.js"></script>
		<script type="text/javascript">
		function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
		</script>
	</body>
</html>
