<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>购物车</title>
		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../js/elay/elay.css" />
		<link rel="stylesheet" href="../css/w_cart.css" />
	</head>
	<body>
		<div class="wcw">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				购物车
				<i class="iconfont icon-lajixiang"></i>
			</header>
			<ul>
				<#if cartList??>
				<#assign total=0>
				<#list cartList as cart>
				<li recid="${cart.recId}" goodsid="${cart.goodsId}" price="${cart.goodsPrice}" quantity="${cart.goodsNumber}">
					<i class="fa fa-check-circle singleCheck active"></i>
					<div class="pic"><img src="${cart.goodsThumb!''}" /></div>
					<div class="t">${cart.goodsName!''}</div>
					<div class="intro">
						<div class="price">￥${(cart.goodsPrice / 100)?string('0.00')}</div>
						<i class="iconfont icon-jia-xianxingfangkuang"></i>
						<div class="quantity">${cart.goodsNumber}</div>
						<i class="iconfont icon-jian-xianxingfangkuang"></i>
					</div>
				</li>
				<#assign total=total + cart.goodsPrice!0 * cart.goodsNumber!0 >
				</#list>
				</#if>
			</ul>
			
			<div class="empty <#if (!cartList?? || cartList?size == 0 )>active</#if>">
				<i class="iconfont icon-cart1"></i>
				<div>您的购物车内还没有商品</div>
				<div>
					<button>个人中心</button>
					<button id="indexLink" href="${link!''}">立即逛逛</button>
				</div>
			</div>
			
			
			<footer <#if (!cartList?? || cartList?size == 0 )>class="dn"</#if>>
				<div class="">
					<div class="all"><span class="fa fa-check-circle allCheck active"></span>全选</div>
					<div class="total"><span id="total">￥${(total/100)?string("0.00")}</span></div>
				</div>
				<button id="checkOrder">立即结算</button>
			</footer>
		</div>
		
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="../js/common.js" ></script>
		<script type="text/javascript" src="../js/elay/elay.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script src="../js/ehais/w_cart.js"></script>
		<script type="text/javascript">
		var sid = "${sid}";
		
		</script>
	</body>
</html>
