<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title>结算页</title>		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../js/elay/elay.css" />
		<link rel="stylesheet" href="../css/w_check_order.css" />
	</head>
	<body>
		<div class="wcow">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				结算页
			</header>
			<div class="main">
				<div class="item space"></div>
				<div class="item dn">收货信息<span id="address_edit" class="fa fa-edit fr dn"></span></div>
				<div id="new_address" class="item dn">
					<div class="new_addr"><span class="fa fa-plus"></span>添加地址</div>
				</div>
				<div id="address" class="item pr dn"></div>
				<div class="item space"></div>
				<div class="item ">订单信息</div>
				<ul id="cart" class="item order"></ul>
				<div class="item space"></div>
				<div class="item line">
					会员优惠
				</div>
				<div id="coupon" class="item line ">
					优惠券
					<span class="fa fa-chevron-right"></span>
				</div>
				<div class="item">
					<label>买家留言</label>
					<input type="text" id="message" name="message" placeholder="给卖家留言您的要求" />
				</div>
				<div class="item space"></div>
				
			</div>
			<footer>
				<div class="">					
					<div class="total">应付金额：<span id="total">￥0.00</span></div>
				</div>
				<button id="orderSubmit">提交订单</button>
			</footer>
		</div>
		
		<div class="w_pay_result_wrapper">
			<div class="icon">
				<span class="fa fa-credit-card"></span>
			</div>
			<div id="payState" class="pay_result">支付成功</div>
			<div class="pay_msg"></div>
			<div class="repay">
				<button id="btnRepay">重新支付</button>
			</div>
			<div class="gomember">
				<button>会员中心</button>
			</div>
			<div class="goindex">
				<button>去首页逛逛</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="../js/common.js" ></script>
		<script type="text/javascript" src="../js/elay/elay.js" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script type="text/javascript" src="/js/wxsdk.js" ></script>
		<script src="../js/ehais/w_check_order.js?1"></script>
		<script src="../js/weixinJSBridge.js"></script>
		<script type="text/javascript">
		var cid = "${cid}";	
		$(function(){
			wx_config(${signature});
		});
		</script>
	</body>
</html>
