<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		
		<title>${goods.goodsName}</title>
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
		<link rel="stylesheet" href="../js/swiper/swiper-3.4.2.min.css" />
		<script type="text/javascript" src="../js/swiper/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="../js/layer/mobile/layer.js" ></script>
		<link rel="stylesheet" href="../js/layer/mobile/need/layer.css" />
		
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/w_goods.css" />
	</head>
	<body>
		<div class="w_goods_wrapper">

			<div class="base active">
				
				<div class="scroll swiper-container">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><img src="${goods.goodsThumb}" /></li>
					</ul>
					<!-- 如果需要分页器 -->
				    <div class="swiper-pagination"></div>
				</div>
				<div class="goods">
					<div class="goods_name">${goods.goodsName}</div>
					<div class="fav fa fa-heart-o dn">&nbsp;收藏</div>
				</div>
				<div class="price">
					<div class="shop_price">￥${(goods.shopPrice / 100)?string("0.00") }</div>
					<div class="market_price dn">￥${(goods.marketPrice / 100)?string("#.##")}</div>
					<div class="goods_stock">当前库存：${goods.goodsNumber!0}</div>
				</div>
				
			</div>
			<div class="detail active">
				${goods.goodsDesc}
			</div>
			
			<div class="foot-bottom"></div>
			<footer>
				<div><span class="fa fa-commenting-o"></span></div>
				<div id="cart" class="cart"><span class="fa fa-shopping-cart"></span><i id="quantity"></i></div>
				<div id="addCart" class="addCart">加入购物车</div>
				<div id="buynow" class="buynow">立即购买</div>
			</footer>
		</div>
		<input type="hidden" id="goodsId" name="goodsId" value="${goods.goodsId}"/>
		<input type="hidden" id="parendId" name="parendId" value="${parendId}"/>
		<input type="hidden" id="articleId" name="articleId" value="${articleId}"/>
		<input type="hidden" id="agencyId" name="agencyId" value="${agencyId}"/>
		<script src="../js/ehais/w_goods_detail.js"></script>
	</body>
</html>
