* {
  box-sizing: content-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "MicrosoftYaHei / Regular";
  font-size: 14px;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper {
  width: 100%;
  min-width: 1280px;
  _width: 1280px;
}
.wrapper > div {
  width: 100%;
  float: left;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.main {
  width: 1280px;
  margin: 0 auto;
}
.main .fl > div,
.main .fr > div {
  float: left;
}
.topBar {
  background: #E5E5E5;
}
.topBar .main {
  height: 30px;
  line-height: 30px;
}
.topBar .line {
  margin: 5px 10px 0;
  width: 1px;
  background: #333;
  height: 20px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.index.icon {
  background-size: 100% 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/index.png',sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/index.png', sizingMethod='scale');
  margin-right: 30px;
}
.index.icon img {
  width: 100%;
  height: 100%;
}
.mobile.icon {
  background-size: contain;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/mobile.png',sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/mobile.png', sizingMethod='scale');
  background-repeat: no-repeat;
}
.mobile.icon img {
  width: 100%;
  height: 100%;
}
.user.icon {
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.user.icon img {
  width: 100%;
  height: 100%;
}
.tel.icon {
  background-size: contain;
  background-repeat: no-repeat;
}
.tel.icon img {
  width: 100%;
  height: 100%;
}
.login_txt {
  margin-right: 10px;
}
.register_txt {
  margin-left: 10px;
}
.nav {
  height: 110px;
  background: #1B1C20;
  font-size: 12px;
}
.nav .main {
  height: 100%;
}
.nav ul {
  padding-left: 65px;
  float: left;
}
.nav ul li {
  float: left;
  color: #fff;
  margin-top: 54px;
  margin-right: 38px;
}
.nav li.active {
  color: #D4BD87;
}
.nav .search {
  width: 155px;
  height: 30px;
  background: #fff;
  -moz-border-radius: 14px;
  /* Firefox */
  -webkit-border-radius: 14px;
  /* Safari 和 Chrome */
  border-radius: 14px;
  /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  behavior: url(/ie-css3.htc);
  /* 通知IE浏览器调用脚本作用于'box'类 */
  position: relative;
  margin-top: 42px;
  padding: 0 20px;
}
.nav .search input {
  border: none;
  width: 90%;
  height: 96%;
  background: none;
  outline: none;
}
.nav .search button {
  position: absolute;
  right: 2px;
  background: url(../img/search.png);
  border: none;
  top: 1px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  outline: none;
}
.logo {
  width: 376px;
  height: 49px;
  background: url(../img/logo.png);
  margin-top: 30px;
  float: left;
}
.ad {
  height: 600px;
}
.ad * {
  padding: 0;
  margin: 0;
}
.ad li {
  width: 100%;
  height: 100%;
}
.ad .swiper,
.ad ul,
.ad li {
  width: 100%;
  height: 100%;
}
.bar {
  text-align: center;
  height: 180px;
  color: #D4C085;
  background: #1B1C20;
}
.bar .zh {
  font-size: 48px;
  margin-top: 30px;
}
.bar .en {
  font-size: 24px;
  margin-top: 20px;
}
.new_car {
  padding: 90px 0;
}
.new_car .main {
  width: 1146px;
}
.new_car .prev,
.new_car .next {
  width: 70px;
  height: 70px;
  margin-top: 166px;
}
.new_car .prev {
  background: url(../img/left_arr.png);
  margin-right: 53px;
}
.new_car .next {
  background: url(../img/right_arr.png);
}
.new_car ul li {
  float: left;
  width: 255px;
  height: 479px;
  background-color: #ffffff;
  border: solid 1px #1b1c20;
  margin-right: 60px;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.new_car ul li img {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -114px;
}
.new_car .intro {
  width: 100%;
  height: 75px;
  background-color: #1b1c20;
  position: absolute;
  bottom: 0;
  color: #fff;
  padding-top: 23px;
}
.new_car .intro div {
  padding-bottom: 5px;
}
.new_car .new {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 94px;
  height: 93px;
  background: url(../img/new.png);
}
.news {
  padding: 90px 0;
}
.news .main {
  width: 1280px;
}
.news .detail {
  width: 600px;
}
.news .detail .title {
  margin-top: 32px;
  font-size: 20px;
  color: #1b1c20;
}
.news .detail .desc {
  margin-top: 16px;
  font-size: 16px;
  color: #1b1c20;
}
.news ul {
  width: 650px;
}
.news ul li {
  width: 100%;
  height: 110px;
  font-size: 36px;
  color: #1b1c20;
  line-height: 110px;
}
.news ul li div {
  float: left;
}
.news ul li .num {
  font-size: 65px;
  margin-right: 46px;
  margin-left: 23px;
}
.news ul li.active,
.news ul li:hover {
  background-color: #1b1c20;
  color: #fff;
}
.brand {
  padding: 85px 0;
}
.brand .main {
  width: 1280px;
  height: 420px;
  position: relative;
}
.brand .main img {
  width: 955px;
  height: 354px;
  position: absolute;
  top: 0;
  left: 0;
}
.brand .main .desc {
  width: 557px;
  color: #1b1c20;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'MicrosoftYaHeiLight ';
  font-size: 24px;
  line-height: 36px;
  color: #454445;
}
.footer {
  height: 280px;
  background: #000;
}
.footer .main {
  width: 1280px;
  margin-top: 66px;
}
.footer .main .fl {
  width: 40%;
  margin-left: 126px;
}
.footer .main .fl img {
  float: left;
}
.footer .main .fl .copy {
  color: #fff;
  width: 100%;
  margin-top: 21px;
}
.footer .main .fr {
  margin-right: 220px;
}
.footer .main .fr img {
  float: none;
}
.footer .main .fr .attention {
  float: none;
  margin-top: 12;
  color: #fff;
}
#shop {
  width: 100%;
}
#shop .shop_mainbody {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  color: #1b1c20;
}
.shop_navlist {
  margin-top: 10px;
  font-size: 16px;
}
.shop_carshow {
  font-size: 18px;
  margin-bottom: 446px;
}
.shop_carshow .carImg,
.shop_carshow .carOthers {
  float: left;
}
.shop_carshow .carImg img {
  margin: 138px 0 100px 97px;
  width: 533px;
  height: 208px;
}
.shop_carshow .brandContent {
  margin: 158px 0 0 169px;
}
.shop_carshow .model {
  margin: 41px 0 0 169px;
}
.shop_carshow .price {
  margin: 34px 0 0 169px;
}
.shop_carshow .price .icon {
  color: #FF0000;
  font-size: 10px;
}
.shop_carshow .price .number {
  font-family: 'Impact';
  color: #FF0000;
  font-size: 24px;
}
.shop_detaillist {
  width: 100%;
  height: 60px;
  background: #1b1c20;
}
.shop_detaillist ul {
  height: 100%;
  color: white;
}
.shop_detaillist ul li {
  margin: 0 0 0 42px;
  line-height: 60px;
  float: left;
}
.shop_detaillist ul li:nth-child(1) {
  color: #D5BF86;
}
.shop_detaillist ul .verLine {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 42px;
  background: white;
}
.shop_detail {
  width: 100%;
  height: 932px;
  margin-bottom: 90px;
  overflow-y: scroll;
  -moz-box-shadow: 0 5px 10px #888888;
  /* 老的 Firefox */
  box-shadow: 0 5px 10px #888888;
}
.shop_detail .shop_configuration {
  height: 100%;
  overflow: auto;
}
.shop_detail .shop_configuration p {
  margin-left: 60px;
  width: 3em;
  line-height: 40px;
}
#evaluate {
  width: 100%;
}
#evaluate .evaluate_mainbody {
  position: relative;
  width: 100%;
  height: 833px;
  background-image: url('../img/evaluate_car.png');
  -moz-background-size: 100% 833px;
  /* 老版本的 Firefox */
  background-size: 100% 833px;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/evaluate_car.png',sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='C:/ehais/projects/long/img/evaluate_car.png', sizingMethod='scale');
  background-repeat: no-repeat;
}
#evaluate .evaluate_mainbody .cenetr {
  position: absolute;
  float: right;
  top: 46px;
  right: 367px;
  width: 462px;
  height: 725px;
  background: #F4F4F4;
  font-size: 15px;
  color: #87858B;
}
#evaluate .evaluate_mainbody .cenetr .point {
  color: red;
}
#evaluate .evaluate_mainbody .cenetr > div {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 20px;
  border: 1px solid #B9B9B9;
  width: 80%;
  height: 44px;
  line-height: 44px;
}
#evaluate .evaluate_mainbody .cenetr .header {
  margin-top: 42px;
  margin-bottom: 56px;
  width: 80%;
  border: none;
  text-align: center;
  font-size: 26.7px;
  color: #1F2024;
}
#evaluate .evaluate_mainbody .cenetr .note {
  border: none;
  height: auto;
  margin-bottom: 0;
  line-height: 18px;
}
#evaluate .evaluate_mainbody .cenetr .time {
  float: left;
  width: 50%;
}
#evaluate .evaluate_mainbody .cenetr .time .timeInput {
  float: right;
  margin-right: 10px;
}
#evaluate .evaluate_mainbody .cenetr .mileage {
  float: left;
  width: 50%;
}
#evaluate .evaluate_mainbody .cenetr .mileage .mileInput {
  float: right;
  margin-right: 10px;
}
#evaluate .evaluate_mainbody .cenetr .accident .radioItem {
  margin-left: 20px;
}
#evaluate .evaluate_mainbody .cenetr .colorItems .radioItem {
  margin-left: 15px;
}
#evaluate .evaluate_mainbody .cenetr .check {
  width: 40%;
}
#evaluate .evaluate_mainbody .cenetr .centerText {
  margin-top: 45px;
  width: auto;
  height: 41px;
  line-height: 41px;
  background: #1B1C20;
  font-size: 20px;
  color: white;
  text-align: center;
}
#news {
  width: 100%;
}
#news .news_mainbody {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  color: #1b1c20;
}
.news_navlist {
  margin-top: 10px;
  font-size: 16px;
}
.news_mainbody .content {
  margin-top: 11px;
  width: 100%;
  height: auto;
}
.news_mainbody .content ul {
  width: 100%;
}
.news_mainbody .content ul li {
  margin-bottom: 80px;
  width: 100%;
  height: 232px;
}
.news_mainbody .content ul li > div {
  float: left;
}
.content .itemImg {
  margin-top: 40px;
}
.content .itemImg img {
  width: 274px;
  height: 168px;
}
.content .title {
  margin-top: 50px;
  margin-left: 33px;
  font-size: 20px;
}
.content .text {
  margin: 20px 33px 0 33px;
  font-size: 16px;
}
.content #itemRight {
  float: right;
}
.content #itemRight p {
  margin: 0;
}
.content #itemRight .time {
  float: right;
  margin-top: 57px;
}
.content #itemRight .more {
  width: 127px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-top: 130px;
  background: #1B1C20;
  color: white;
}
#about {
  width: 100%;
}
#about .about_mainbody {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  color: #1b1c20;
}
.about_navlist {
  margin-top: 27px;
  font-size: 16px;
}
.about_navlist ul {
  width: 100%;
  height: 60px;
  background: #1B1C20;
}
.about_navlist ul li {
  float: left;
  width: 24.9%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.about_navlist ul li.active {
  color: #D4BD87;
}
.about_navlist ul .verLine {
  width: 1px;
  height: 100%;
  background: white;
}
.about_navlist .content {
  width: 100%;
  height: 687px;
}
.about_navlist .content .connect {
  width: 100%;
  height: 100%;
}
.about_navlist .content .connect > div {
  float: left;
}
.about_navlist .content .connect .map {
  width: 817px;
  height: 516px;
  margin: 68px 0 0 59px;
  padding: 20px;
  background: #B9B9B9;
}
.about_navlist .content .connect .company {
  margin: 145px 0 0 44px;
}
.about_navlist .content .connect .company p {
  margin: 0;
}
.about_navlist .content .connect .company .name {
  font-size: 20px;
}
.about_navlist .content .connect .company .tel {
  margin: 28px 0 13px 0;
  font-size: 16px;
}
.about_navlist .content .connect .company .addr {
  font-size: 16px;
}
#service {
  width: 100%;
}
#service .service_mainbody {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  color: #1b1c20;
}
.service_navlist {
  margin-top: 27px;
  font-size: 16px;
}
.service_navlist ul {
  width: 100%;
  height: 60px;
  background: #1B1C20;
}
.service_navlist ul li {
  float: left;
  width: 24.9%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.service_navlist ul li.active {
  color: #D4BD87;
}
.service_navlist ul .verLine {
  width: 1px;
  height: 100%;
  background: white;
}
.service_mainbody .serviceItem {
  padding: 46px 55px;
}
.service_mainbody .serviceItem .roadAid > p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 46px;
}
.service_mainbody .serviceItem .roadAid .itemImg,
.service_mainbody .serviceItem .roadAid .itemText {
  float: left;
  margin-bottom: 50px;
}
.service_mainbody .serviceItem .roadAid .itemImg img,
.service_mainbody .serviceItem .roadAid .itemText img {
  width: 163px;
  height: 247px;
}
.service_mainbody .serviceItem .roadAid .itemText {
  margin-left: 33px;
}
.service_mainbody .serviceItem .roadAid .itemText p {
  margin: 0;
  margin-bottom: 20px;
}
