<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>
		
		
		<link rel="stylesheet" href="css/member_order.css" />
	</head>
	<body>
		<div class="wm s">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				待评价
				<i></i>
			</header>
			<div class="e ">
				<i class="iconfont icon-kong"></i>
			</div>
			<div id="jorder">
			<ul id="order">
				
			</ul>
			</div>
		</div>
		
		<script type="text/javascript" src="/js/ehais/comment_wait.js"></script>
	</body>
</html>
