<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>
		
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		
		<link rel="stylesheet" href="css/shop-s.css" />
	</head>
	<body>
		<div class="w_shop">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				商品收藏
				<i></i>
			</header>
			<div id="roll">
				<ul class="u"></ul>
			</div>
			<footer>
				All Rights Reserved©2017易微销<br>  
				易海司版权所有<br>
				粤ICP备14088912号
			</footer>
			<script type="text/javascript" src="/js/ehais/member_favorites.js"></script>
		</div>
	</body>
</html>
