<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>会员中心</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/member.css" />
	</head>
	<body>
		<div class="wm">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				会员中心
				<i class="iconfont icon-hyxiaoxi"></i>
			</header>
			<div class="m">
				<img id="faceImage" src="images/s3.jpg">
				<div class="u">lgj628</div>
				<div class="p"></div>
				<div class="l">会员</div>
				<i class="iconfont icon-xiangyoujiantou"></i>
			</div>
			<div class="a active">
				<div id="amount"></div><div id="integral">积分:</div><b>签到</b>
			</div>
			<div class="b ">
				<div id="commission">佣金余额:￥100.00</div><b>提现</b>
			</div>
			<div class="t">
				<b class="active">会员主页</b>
				<b class="">分销中心</b>
			</div>
			<div class="s active">
				<ul id="oq">
					<li for="all">
						<i class="iconfont icon-dingdan1"></i>
						全部订单
					</li>
					<li for="pw">
						<i class="iconfont icon-order"></i>
						<b id="payWaiting"></b>
						待付款
					</li>
					<li for="rw">
						<i class="iconfont icon-dingdan"></i>
						<b id="shipments"></b>
						已发货
					</li>
					<li for="rd">
						<i class="iconfont icon-liebiao1"></i>
						<b id="returned"></b>
						退换货
					</li>
				</ul>
				<ul id="mh">
					<li>
						<i class="iconfont icon-jifen"></i>
						积分兑换
					</li>
					<li>
						<i class="iconfont icon-youhuiquan"></i>
						优惠券
					</li>
					<li>
						<i class="iconfont icon-chongzhi"></i>
						帐户充值
					</li>
					<li>
						<i class="iconfont icon-tixian"></i>
						余额提现
					</li>
					<li>
						<i class="iconfont icon-jixugouwu"></i>
						续购
					</li>
					<li>
						<i class="iconfont icon-daipingjia"></i>
						待评价
					</li>
					<li>
						<i class="iconfont icon-jinlingyingcaiwangtubiao29"></i>
						已收藏
					</li>
					<li>
						<i class="iconfont icon-shouhuodizhi"></i>
						地址管理
					</li>
					<li>
						<i class="iconfont icon-tongji"></i>
						购买统计
					</li>
					<li>
						<i class="iconfont icon-jingzhunpipei"></i>
						精确匹配
					</li>
					<li>
						<i class="iconfont icon-dingdan1"></i>
						互动游戏
					</li>
				</ul>
			</div>
			<div class="f ">
				<ul id="fh">
					<li>
						<i class="iconfont icon-xiaozhushou"></i>
						分销助手
					</li>
					<li h="w_member_fans">
						<i class="iconfont icon-juxing2"></i>
						粉丝
					</li>
					<li>
						<i class="iconfont icon-tuandui"></i>
						团队成员
					</li>
					<li>
						<i class="iconfont icon-tubiao88"></i>
						分销佣金
					</li>
					<li>
						<i class="iconfont icon-erweima"></i>
						分销二维码
					</li>
				</ul>
			</div>
			
			<footer>
				All Rights Reserved©2017易微销<br>  
				易海司版权所有<br>
				粤ICP备14088912号
			</footer>
		</div>
		<script type="text/javascript" src="/js/ehais/member.js"></script>
		
	</body>
</html>
