<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>粉丝中心</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/member_fans.css" />
	</head>
	<body>
		<div class="wm">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				粉丝中心
				<i></i>
			</header>
			<dl>
				<dt>
					<input type="text" id="nickname" placeholder="输入用户昵称" />
					<i id="sou" class="iconfont icon-xingtaiduICON_sousuo--"></i>
				</dt>
			</dl>
			<div id="juser">
			<ul id="uu"></ul>
			</div>
			<div class="e">
				<i class="iconfont icon-kong"></i>
			</div>
		</div>
		<script type="text/javascript" src="/js/ehais/member_fans.js"></script>
	</body>
</html>
