<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll-pulldown.1.0.0.min.js" ></script>
		<script type="text/javascript" src="js/jroll/jroll-infinite.2.2.0.min.js" ></script>
		
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="/js/elay/elay.css" />
		<script type="text/javascript" src="/js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/member_order.css" />
	</head>
	<body>
		<div class="wm">
			<header>
				<i class="iconfont icon-xiangzuojiantou"></i>
				订单中心
				<i></i>
			</header>
			<dl>
				<dt>
					<input type="text" id="order_sn" placeholder="输入订单号" />
					<i id="sosn" class="iconfont icon-xingtaiduICON_sousuo--"></i>
				</dt>
				<dd for="all" class="active">全部</dd>
				<dd for="pw">待付款</dd>
				<dd for="rw">待收货</dd>
				<dd for="rd">退换货</dd>
			</dl>
			<div class="e">
				<i class="iconfont icon-kong"></i>
			</div>
			<div id="jorder">
				<ul id="order"></ul>
			</div>
		</div>
		<script type="text/javascript" src="/js/ehais/member_order.js"></script>
	</body>
</html>
