<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/addtabs/bootstrap.addtabs.css" />
		<link rel="stylesheet" href="/js/bootstrap/addtabs/mylayout.css" />
		<script type="text/javascript" src="/js/bootstrap/addtabs/bootstrap.addtabs.js" ></script>
		
		<script type="text/javascript" src="/js/jquery.qrcode.min.js" ></script>
		
		<link rel="stylesheet" href="/js/bootstrap/datetimepicker/css/daterangepicker-bs3.css" />
		<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/moment.js" ></script>
		<script type="text/javascript" src="/js/bootstrap/datetimepicker/js/daterangepicker.js" ></script>
	
		<link rel="stylesheet" href="/js/layer/skin/default/layer.css" />
		<script type="text/javascript" src="/js/layer/layer.js" ></script>
		
		
		<script type="text/javascript" src="/js/adminCommon.js" ></script>
		<script type="text/javascript" src="/js/DateUtils.js" ></script>
		<script type="text/javascript" src="/ehais/js/echarts.min.js" ></script>
	
	<link rel="stylesheet" href="/js/bootstrap/table/bootstrap-table.min.css" />
	<script type="text/javascript" src="/js/bootstrap/table/bootstrap-table.min.js" ></script>
	<script type="text/javascript" src="/js/bootstrap/table/locale/bootstrap-table-zh-CN.min.js" ></script>
	
<style type="text/css">
.mylayout .list-group-item.gray > a{
	color: #cfcfcf;
}
</style>		
	</head>
	<body>
		
		<div class="mylayout">
				<div class="north">
					<div style="float: left;padding: 5px 0 0 20px;font-size: 24px;color: #fff;">${session_partner_name }</div>
					<div style="float: right;color: #fff;padding: 10px;">

					管理编号：${session_partner_id }
					
					&nbsp;&nbsp;&nbsp;
					
					管理帐号：${session_partner_name }
					
					
					&nbsp;&nbsp;&nbsp;
					<a href="logout" style="color: #fff">退出系统</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
				<div class="west">
					
					
					<ul id="menu-list-group" class="list-group">
						
						<li class="list-group-item active">
							<a data-addtab="qrcode" data-url="partner_dining">
								<i class="glyphicon glyphicon-globe"></i>推广码
							</a>							
						</li>
						
						<li class="list-group-item">
							<a data-addtab="store" data-url="haiStoreView">
								<i class="glyphicon glyphicon-glass"></i>商家信息
							</a>
						</li>
						
						<li class="list-group-item">
							<a data-addtab="reportlist" data-url="diningReport">
								<i class="glyphicon glyphicon-signal"></i>
								收益报表
							</a>							
						</li>
						
						<li class="list-group-item active">
							<a data-addtab="user" data-url="haiUsersView!partner">
								<i class="glyphicon glyphicon-leaf"></i>会员信息
							</a>							
						</li>
						
						
						<li class="list-group-item active">
							<a data-addtab="ad" data-url="haiAdView">
								<i class="glyphicon glyphicon-globe"></i>广告信息
							</a>							
						</li>
						
						
						<li class="list-group-item active">
							<a data-addtab="ogsata" data-url="allOrderGoodsReport">
								<i class="glyphicon glyphicon-stats"></i>
								销量统计
							</a>
						</li>
						
						
						<li class="list-group-item active">
							<a data-addtab="onegsata" data-url="oneOrderGoodsReport">
								<i class="glyphicon glyphicon-equalizer"></i>
								单品统计
							</a>
						</li>
						
						
					</ul>
				</div>
				<div class="center">
					<div id="pctabs">
						<!-- Nav tabs -->
						<ul id="my-nav-tabs" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div id="my-tab-content" class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
							<#include "statistics.html">
							</div>
						</div>

					</div>
				</div>
				<div class="south">技术支持：广州易海司信息科技有限公司</div>
			</div>
<script type="text/javascript">
var north_w="",north_h="",south_w="",south_h="",west_w="",west_h="",center_w="",center_h="";
var my_nav_tabs_w="",my_nav_tabs_h="",my_tab_content_w="",my_tab_content_h="";
var menu_height = 0;
$(function(){
	
	menu_height = $("#menu-list-group").height();
	
	north_w = $(".north").width();
	north_h = $(".north").height();	
	
	west_w = $(".west").width();
	west_h = $(".west").height();
	
	center_w = $(".center").width();
	center_h = $(".center").height();
	
	my_nav_tabs_w = $("#my-nav-tabs").width();
	my_nav_tabs_h = $("#my-nav-tabs").height();
	
	my_tab_content_w = $("#my-tab-content").width();
	$("#my-tab-content").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"]").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"] > iframe").height(center_h - my_nav_tabs_h);
	my_tab_content_h = $("#my-tab-content").height();
	
	$("#statistics").width(my_tab_content_w).height(my_tab_content_h);
	
	$("#layerx").html("layerx"+(center_h - my_nav_tabs_h));
	
	south_w = $(".south").width();
	south_h = $(".south").height();	
});

$(window).resize(function () {          //当浏览器大小变化时
//  alert($(window).height());          //浏览器时下窗口可视区域高度
//  alert($(document).height());        //浏览器时下窗口文档的高度
//  alert($(document.body).height());   //浏览器时下窗口文档body的高度
//  alert($(document.body).outerHeight(true)); //浏览器时下窗口文档body的总高度 包括border padding margin
    
	north_w = $(".north").width();
	north_h = $(".north").height();	
	
	west_w = $(".west").width();
	west_h = $(".west").height();
	
	center_w = $(".center").width();
	center_h = $(".center").height();
	
	my_nav_tabs_w = $("#my-nav-tabs").width();
	my_nav_tabs_h = $("#my-nav-tabs").height();
	
	my_tab_content_w = $("#my-tab-content").width();
	
	$("#my-tab-content").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"]").height(center_h - my_nav_tabs_h);
	$(".tab-content > div[role = \"tabpanel\"] > iframe").height(center_h - my_nav_tabs_h);
	my_tab_content_h = $("#my-tab-content").height();
	
	$("#statistics").width(my_tab_content_w).height(my_tab_content_h);

	south_w = $(".south").width();
	south_h = $(".south").height();	
	
});

function show_qrcode(){
	
}

</script>


	</body>
</html>
