<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="wrapper">
        <div class="topBar">
            <div class="main">
                <div class="fl">
                    <div class="index icon">
                        <img src="./img/index.png" alt="">
                    </div>
                    <div class="mobile icon">
                        <img src="./img/mobile.png" alt="">
                    </div>
                    <div class="mobile_txt">手机版</div>
                </div>
                <div class="fr">
                    <div class="tel icon">
                        <img src="./img/tel.png" alt="">
                    </div>
                    <div class="tel_txt">24/7 客服热线400-025-7585</div>
                    <div class="user icon">
                        <img src="./img/user.png" alt="">
                    </div>
                    <div class="login_txt">登录</div>
                    <div class="line"></div>
                    <div class="register_txt">注册</div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="main">
                <div class="logo"></div>
                <ul>
                    <li >首页</li>
                    <li>汽车商城</li>
                    <li>优惠促销</li>
                    <li>售后服务</li>
                    <li class="active">评估中心</li>
                    <li>新闻动态</li>
                    <li>关于我们</li>
                </ul>
                <div class="search fr">
                    <input type="text" id="search" name="search" placeholder="搜索车型" />
                    <button type="button" class="search_btn"></button>
                </div>
            </div>
        </div>

        <div id="evaluate">
            <div class="evaluate_mainbody">
                <div class="cenetr">
                    <div class="header">评估中心</div>
                    <div class="note">
                         <span>注：红色</span>
                         <span class="point">*</span>
                         <span>为必选项</span>                   
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系人：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系电话：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>评估车型：</span>
                        <span></span>
                    </div>
                    <div>
                        <div class="time">
                            <span class="point">*</span><span>上牌时间：</span><span class="timeInput">0</span>
                        </div>
                        <div class="mileage">
                            <span class="point">*</span><span>行驶里程</span><span class="mileInput">行驶里程</span>
                        </div>
                    </div>
                    <div class="accident">
                        <span>是否事故水淹</span>
                        <span class="radioItem">
                            <input type="radio" name="是" id="">
                            是
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="否" id="">
                            否
                        </span>
                    </div>
                    <div class="colorItems">
                        <span>颜色：</span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            黑色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            白色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            红色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            银色
                        </span>
                    </div>
                    <div class="check">
                        <div class="left">
                            <span>验证码：</span><span class="show">点击显示</span>
                        </div>
                        <div></div>
                    </div>
                    <div class="centerText">评估中心</div>
                </div>

            </div>

        </div>





        <div class="footer">
            <div class="main">
                <div class="fl">
                    <img src="img/logo.png" />
                    <div class="copy">2015-2020广州龙粤行汽车发展有限公司版权所有 粤ICP备15057833号-1</div>
                </div>
                <div class="fr">
                    <img src="img/menu.png" />
                    <div class="attention">关注我们</div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>