<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="wrapper">
        <#include "header.html">

        <div id="evaluate">
            <div class="evaluate_mainbody">
                <div class="cenetr">
                    <div class="header">评估中心</div>
                    <div class="note">
                         <span>注：红色</span>
                         <span class="point">*</span>
                         <span>为必选项</span>                   
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系人：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>联系电话：</span>
                        <span></span>
                    </div>
                    <div>
                        <span class="point">*</span>
                        <span>评估车型：</span>
                        <span></span>
                    </div>
                    <div>
                        <div class="time">
                            <span class="point">*</span><span>上牌时间：</span><span class="timeInput">0</span>
                        </div>
                        <div class="mileage">
                            <span class="point">*</span><span>行驶里程</span><span class="mileInput">行驶里程</span>
                        </div>
                    </div>
                    <div class="accident">
                        <span>是否事故水淹</span>
                        <span class="radioItem">
                            <input type="radio" name="是" id="">
                            是
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="否" id="">
                            否
                        </span>
                    </div>
                    <div class="colorItems">
                        <span>颜色：</span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            黑色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            白色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            红色
                        </span>
                        <span class="radioItem">
                            <input type="radio" name="" id="" >
                            银色
                        </span>
                    </div>
                    <!-- 
                    <div class="check">
                        <div class="left">
                            <span>验证码：</span><span class="show">点击显示</span>
                        </div>
                        <div></div>
                    </div>
                     -->
                    <div class="centerText">评估中心</div>
                </div>

            </div>

        </div>





        <#include "footer.html"/>

    </div>
</body>

</html>