<div class="topBar">
	<div class="main">
		<div class="fl">
			<div class="index icon">
				<img src="/themes/lyh/img/index.png" alt="">
			</div>
			<div class="mobile icon">
				<img src="/themes/lyh/img/mobile.png" alt="">

			</div>
			<div class="mobile_txt">手机版</div>
		</div>
		<div class="fr">
			<div class="tel icon">
				<img src="/themes/lyh/img/tel.png" alt="">

			</div>
			<div class="tel_txt">24/7 客服热线400-025-7585</div>
			<!-- 
			<div class="user icon">
				<img src="/themes/lyh/img/user.png" alt="">

			</div>
			<div class="login_txt">登录</div>
			<div class="line"></div>
			<div class="register_txt">注册</div> -->
		</div>
	</div>
</div>

<div class="nav">
	<div class="main">
		<div class="logo"></div>
		<ul>
			<li <#if (menu?? && menu=='index')>class="active"</#if>><a href="index.html">首页</a></li>
			<li <#if (menu?? && menu=='shop')>class="active"</#if>><a href="shop.html">汽车商城</a></li>
			<li <#if (menu?? && menu=='discounts')>class="active"</#if>><a href="article-discounts.html">优惠促销</a></li>
			<li <#if (menu?? && menu=='service')>class="active"</#if>><a href="service-sale.html">售后服务</a></li>
			<li <#if (menu?? && menu=='evaluate')>class="active"</#if>><a href="evaluate.html">评估中心</a></li>
			<li <#if (menu?? && menu=='news')>class="active"</#if>><a href="article-news.html">新闻动态</a></li>
			<li <#if (menu?? && menu=='about')>class="active"</#if>><a href="information-about.html">关于我们</a></li>
		</ul>
		<div class="search fr">
			<input type="text" id="search" name="search" placeholder="搜索车型" />
			<button type="button" class="search_btn"></button>
		</div>
	</div>
</div>
