<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="wrapper">
        <#include "header.html">

        <div id="service">
            <div class="service_mainbody">
                <div class="service_navlist">
                    <ul>
                                                
                        <#list cat_list as cat>
                        <li <#if (sub_menu?? && sub_menu == cat.module)>class="active"</#if> ><a href="service-${cat.module}.html">${cat.catName!''}</a></li>
                        <li class="verLine"></li>
                        </#list>
                        
                        
                    </ul>
                </div>
                <div class="serviceItem">
                    <div></div>
                    <div class="roadAid">
                        <p>${article_cat.catName!''}</p>
                        
                        <#list article_list as article>
                        <div>
                            <div class="itemImg">
                                <img src="${article.articleThumb!''}" alt="" >
                            </div>
                            <div class="itemText">
                                <p>${article.description!''}</p>
                            </div>
                        </div>
                        
                        <div style="clear: both;zoom: 1;"></div>
                        </#list>
                        
                    </div>
                    <div></div>
                    <div class="">

                    </div>
                </div>


            </div>

        </div>


        <#include "footer.html"/>

    </div>
</body>

</html>