<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="wrapper">
        <div class="topBar">
            <div class="main">
                <div class="fl">
                    <div class="index icon">
                        <img src="./img/index.png" alt="">

                    </div>
                    <div class="mobile icon">
                        <img src="./img/mobile.png" alt="">

                    </div>
                    <div class="mobile_txt">手机版</div>
                </div>
                <div class="fr">
                    <div class="tel icon">
                        <img src="./img/tel.png" alt="">

                    </div>
                    <div class="tel_txt">24/7 客服热线400-025-7585</div>
                    <div class="user icon">
                        <img src="./img/user.png" alt="">

                    </div>
                    <div class="login_txt">登录</div>
                    <div class="line"></div>
                    <div class="register_txt">注册</div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="main">
                <div class="logo"></div>
                <ul>
                    <li>首页</li>
                    <li>汽车商城</li>
                    <li>优惠促销</li>
                    <li>售后服务</li>
                    <li>评估中心</li>
                    <li>新闻动态</li>
                    <li class="active">关于我们</li>
                </ul>
                <div class="search fr">
                    <input type="text" id="search" name="search" placeholder="搜索车型" />
                    <button type="button" class="search_btn"></button>
                </div>
            </div>
        </div>

        <div id="service">
            <div class="service_mainbody">
                <div class="service_navlist">
                    <ul>
                        <li>预约维修</li>
                        <li class="verLine"></li>
                        <li class="active">道路救援</li>
                        <li class="verLine"></li>
                        <li>用车技巧</li>
                        <li class="verLine"></li>
                        <li>特色服务</li>
                    </ul>
                </div>
                <div class="serviceItem">
                    <div></div>
                    <div class="roadAid">
                        <p>车天车地名车中心道路救援</p>
                        <div>
                            <div class="itemImg">
                                <img src="./img/fix.png" alt="" >
                            </div>
                            <div class="itemText">
                                <p>车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆</p>
                                <p>抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚</p>
                            </div>
                        </div>
                        <div style="clear: both;zoom: 1;"></div>
                        <!-- <div>
                            <div>
                                <img src="./img/left_arr.png" alt="" style="width: 60px">
                            </div>
                            <div>
                                <p>
                                    <img src="" alt="">
                                    轮胎漏气
                                </p>
                                <p>轮胎漏气轮胎漏气轮胎漏气轮胎漏气轮胎漏气轮胎漏气轮胎漏气轮胎漏气</p>
                            </div>
                        </div> -->
                        <div>
                                <div class="itemImg">
                                    <img src="./img/round.png" alt="">
                                </div>
                                <div class="itemText">
                                    <p>车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆车辆</p>
                                    <p>抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚抛锚</p>
                                </div>
                            </div>
                    </div>
                    <div></div>
                    <div class="">

                    </div>
                </div>







            </div>

        </div>





        <div class="footer">
            <div class="main">
                <div class="fl">
                    <img src="img/logo.png" />
                    <div class="copy">2015-2020广州龙粤行汽车发展有限公司版权所有 粤ICP备15057833号-1</div>
                </div>
                <div class="fr">
                    <img src="img/menu.png" />
                    <div class="attention">关注我们</div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>