<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/themes/lyh/css/style.css" />
	<link rel="stylesheet" href="/themes/lyh/css/ie8.css">

</head>

<body>
    <div class="wrapper">
        <#include "header.html"/>

        <div id="shop_detail">
            <div class="shop_mainbody">
                <div class="shop_navlist">
                    <span>首页</span>
                    <span>>></span>
                    <span>汽车商城</span>
                    <span>>></span>
                    <span>${model.goodsName}</span>
                    <span>>></span>
                    <span>BMW GT</span>
                </div>

                <div class="shop_carshow">
                    <div class="carImg">
                        <img src="${model.goodsThumb}" alt="">
                    </div>
                    <div class="carOthers">
                        <div class="brandContent">
                            <span>品牌：</span>
                            <span>宝马</span>
                        </div>
                        <div class="model">
                            <span>型号：</span>
                            <span>BMW GT</span>

                        </div>
                        <div class="price">
                            <span>零售价：</span>
                            <span class="icon">￥</span>
                            <span class="number">${model.shopPrice}</span>
                        </div>
                    </div>
                </div>

                <div style="clear: both;zoom: 1;"></div>
                <div class="shop_detaillist">
                    <ul>
                        <li class="active">参数</li>
                        <li class="verLine"></li>
                        <li>亮点</li>
                        <li class="verLine"></li>
                        <li>实拍</li>
                        <li class="verLine"></li>
                    </ul>
                    <script type="text/javascript">
                    $(function(){
                    	$(".shop_detaillist ul li").click(function(){
                    		$(".shop_detaillist ul li").removeClass("active");
                    		$(this).addClass("active");
                    	});
                    });
                    </script>
                </div>
                <div class="shop_detail">
                    <div class="shop_configuration">
                        <p style="font-size: 28px;">配置表</p>
                        <p>技术</p>
                        <p style="font-size: 16px;margin-top: 20px">
                        ${model.goodsDesc}
                        </p>
                    </div>
                    <div></div>
                    <div></div>
                </div>


            </div>

        </div>





        <#include "footer.html"/>

    </div>
</body>

</html>