<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/themes/lyh/css/style.css" />
	<link rel="stylesheet" href="/themes/lyh/ie8.css">

</head>

<body>
    <div class="wrapper">
        <#include "header.html">

        <div id="shop_detail">
            <div class="shop_mainbody">
                <div class="shop_navlist">
                    <span>首页</span>
                    <span>>></span>
                    <span>汽车商城</span>
                    
                </div>
                <div class="nav_banner">
                    <ul class="models">
                        <#list cat_list as cat>
                        <#if (cat.parentId == 0)>
                        <li <#if (cat_index == 0)>class="active"</#if> thumb="${cat.thumb!''}" >${cat.catName!''}</li>
                        </#if>
                        </#list>
                        
                    </ul>
                    <div class="brand_logo">
                    	<#list cat_list as cat>
                    	<#if (cat_index == 0)>
                        <img src="${cat.thumb!''}" alt="">
                        </#if>
                        </#list>
                    </div>
                    <div class="all_model">
                       	 所有车型：
                    </div>
                    <!-- <div class=""> -->
                    <ul class="model_detail">
                        <#list cat_list as cat>
                        <#if (cat.parentId > 0)>
                        <li >${cat.catName!''}</li>
                        </#if>
                        </#list>
                        
                    </ul>
                    <!-- </div> -->
                </div>
                <div class="items">
                    <ul class="item_list">
                        <#list goods_list as goods>
                        <li>
                            <img src="${goods.goodsThumb!''}" alt="">
                            <div class="model">
                                <span>型号：</span>
                                <span>${goods.goodsName!''}</span>
                            </div>
                            <div class="price">
                                <span>零售价：</span>
                                <span>￥</span>
                                <span>${goods.shopPrice!''}</span>
                            </div>
                        </li>
                        </#list>
                    </ul>
                </div>


            </div>

        </div>





        <#include "footer.html"/>

    </div>
</body>

</html>