<div class="modal fade" id="articleCatModal" tabindex="-1" role="dialog" aria-labelledby="articleCatModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="articleCatModalTitle">封面图片</h4>
            </div>
            <div class="modal-body">
            	<form id="articleCatFormModal" name="articleCatFormModal" class="form-horizontal" method="post">

<input type="hidden" class="form-control" id="catId" name="catId" value="" placeholder="">


<div class="form-group">
<label class="col-sm-2 control-label">封面图片</label>
<div class="col-sm-10">

<@bsQiniuImagesPicker id="images" value="" domain="${domain}" uptoken="${uptoken}" />

<br>
请上传图片尺寸建议使用640*640
</div>
</div>


            	</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="articleCatFormSubmit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div><!-- /.modal end -->