<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>餐厅商家加盟</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<link rel="stylesheet" href="css/diningUnion.css" />
	</head>
	<body>
		<div class="wrapper_dining_union">
			<div class="item logo tc">
				<img src="images/icon.png" />
			</div>
			<div class="item tc mtb10">广州易海司信息科技有限公司</div>
			<div class="item tc mtb10">餐饮事业部</div>
			<div class="item mtb10">
				<input type="text" id="store_name" name="store_name" placeholder="商家名称" />
			</div>
			<div class="item mtb10">
				<input type="password" id="password" name="password" placeholder="登录密码" />
			</div>
			<div class="item mtb10">
				<input type="password" id="confirmPassword" name="confirmPassword" placeholder="确认登录密码" />
			</div>
			<div class="item mtb10">
				<input type="text" id="contacts" name="contacts" placeholder="商家联系人姓名" />
			</div>
			<div class="item mtb10">
				<input type="tel" id="mobile" name="mobile" placeholder="商家联系电话" />
			</div>
			<div class="item mtb10">
				<input type="text" id="address" name="address" placeholder="商家地址" />
			</div>
			<div class="item mtb10">
				<button id="submitUnion" type="button">提交审核</button>
			</div>
		</div>
		<script type="text/javascript" src="js/diningUnion.js?d=1" ></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script type="text/javascript" src="/js/wxsdk.js" ></script>
		
		<script type="text/javascript">
			var pid = "${pid}";

			$(function(){
				wx_config(${signature});
			});
		
		</script>
		
	</body>
</html>
