<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>${store.storeName!''}</title>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		
		<link rel="stylesheet" href="js/swiper/swiper-3.4.2.min.css" />
		<script type="text/javascript" src="js/swiper/swiper-3.4.2.jquery.min.js" ></script>
		
		<script type="text/javascript" src="js/jroll/jroll.min.js" ></script>
		
		<link rel="stylesheet" href="js/elay/elay.css" />
		<script type="text/javascript" src="js/elay/elay.js" ></script>
		
		<script type="text/javascript" src="js/common.js" ></script>
		
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
		<script type="text/javascript" src="js/wxsdk.js" ></script>
		
		<script type="text/javascript" src="js/weixinJSBridge.js" ></script>
		
		
		<link rel="stylesheet" href="css/diningV2.css?2" />
		
	</head>
	<body>
		<div class="w">
			<div class="scroll swiper-container">
				<ul class="swiper-wrapper">
					<#if (adList?? && adList?size > 0 )>
					<#list adList as ad>
					<li class="swiper-slide"><img src="${ad.adPic!''}" /></li>
					</#list>
					</#if>
				</ul>
				<!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			</div>
			<ul class="tab">					
				<li id="orderFood" class="active">我要点餐</li>
				<li id="myOrder">历史订单</li>
			</ul>
			<div class="menu">
				<div class="left" id="menu_cate">
				<ul id="scroller_menu_cate">
					<li v="0" class="c0 active">热销类</li>
					<#if (listCategory?? && listCategory?size > 0 )>
					<#list listCategory as cate>
					<li v="${cate.catId}" class="c${cate.catId}">${cate.catName!'未设置'}</li>
					</#list>
					</#if>
				</ul>
				</div>
				<div class="right" id="menu_list">
					<ul id="scroller_menu_goods_list">
					<#if (listGoods?? && listGoods?size > 0 )>
					<#list listGoods as goods>
						<#if (goods.isHot?string('y','n') == "y")>
							<#assign cid="0">
							<#include "diningStoreGoodsItem.html">
						</#if>
					</#list>
					
					<#if (listCategory?? && listCategory?size > 0 )>
					<#list listCategory as cate>
					<#list listGoods as goods>
						<#if (cate.catId == goods.catId)>
						<#assign cid="${goods.catId}">
						<#include "diningStoreGoodsItem.html">
						</#if>
					</#list>
					</#list>
					</#if>
					
					
					
					</#if>
					</ul>
				</div>
			</div>
			<div class="myOrder dn" id="myOrderList">
				<ul id="myOrderUl"></ul>
			</div>
		
		</div>
		<footer class="fd">
			<div class="sCart">
				<i>
					<i class="iconfont icon-gouwuche1"></i>
				</i>
				<i id="quantity"></i>
				<span id="total">￥0.00</span>
			</div>
			<button id="checkOut" >选好了</button>
			
		</footer>
		
		<div class="cart_layer">
			<i class="bg"></i>
			<dl>
				<dt>
					点餐清单
					<i class="clear_cart iconfont icon-lajixiang" >
						 清空
					</i>
				</dt>
			</dl>
			
		</div>
		
		<div class="wco">
			<div>
				<i class="iconfont icon-xiangzuojiantou"></i>
				订单提交
			</div>
			<div>
				桌/台/房：${sidMap.tableNo}
			</div>
			<dl id="wcod">
				<dt>购物车/订单列表</dt>				
			</dl>
			
			<dl>
				<dt>支付方式</dt>
				<dd class="iconfont icon-weixin active"> 微信支付<i class="iconfont icon-gou"></i></dd>
				<dd class="iconfont icon-xianjin"> 现金支付<i class="iconfont icon-gou"></i></dd>
			</dl>
			<div>
				<textarea id="postscript" placeholder="填写用餐备注"></textarea>
			</div>
			<div>				
				<button id="orderSubmit">提交订单</button>
				<div id="ot"></div>
				合计：
			</div>
		</div>
		
		<div class="result">
			<i class="iconfont icon-chenggong"></i>
			<div>下单成功</div>
			<button id="resultBtn">确定</button>
		</div>
		
		<div id="gd"></div>
		
		<script type="text/javascript">
		var sid = "${sid}";
		$(function(){
			wx_config(${signature});
		});		
		</script>
		<script type="text/javascript" src="js/diningStore.js?d=1" ></script>
		
	</body>
</html>
