<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>
		

<script type="text/javascript" src="/js/adminCommon.js" ></script>       
      
<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="/css/admin.css" />


<link rel="stylesheet" href="/js/layer/skin/default/layer.css" />
<script type="text/javascript" src="/js/layer/layer.js" ></script>



<#include "/FreemarkerMacro.html"/>
		
<title>Insert title here</title>
</head>
<body>
<div class="header">
	<div class="nav">
		<div class="nav0">更改密码</div>
	</div>
</div>
<div style="width: 100%;height: 40px;"></div>
<div class="container-fluid">
<form id="myForm" name="myForm" class="form-horizontal" action="" method="post">




<div class="form-group">
<label class="col-sm-2 control-label">旧密码</label>
<div class="col-sm-5">
	<input type="password" class="form-control" id="old_password" name="old_password" value="" placeholder="" >
</div>
</div>


<div class="form-group">
<label class="col-sm-2 control-label">新密码</label>
<div class="col-sm-5">
	<input type="password" class="form-control" id="new_password" name="new_password" value="" placeholder="">
</div>
</div>


<div class="form-group">
<label class="col-sm-2 control-label">确认密码</label>
<div class="col-sm-5">
	<input type="password" class="form-control" id="confirmed_password" name="confirmed_password" value="" placeholder="">
</div>
</div>


<div class="form-group">
	<div class="col-sm-3"></div>
	<div class="col-sm-6"><button id="saveSubmit" type="button" class="btn btn-primary">更改密码</button></div>
</div>
       


</form>
</div>

<script type="text/javascript">
$(function(){
	$("#saveSubmit").click(function(){
		
		$.ajax({
			url : "modifyPasswordSubmit",data:$("form").serialize(),dataType:"json",type:"post",
			success : function(result){
				alert(result.msg);
			},error:function(err){
				
			}
		});
	});
});
</script>

</body>
</html>
